[2016-04-27 11:48] #166 closed

[2016-04-27 12:44] bgriffith commented on #166
Awesome, thanks!

[2016-04-27 13:54] tnguyen14 opened #167 "Field not working when wrapping another component"
I am just trying out react-redux-form, so I might be doing it wrong here. When I use it the way recommended, it seems to work. However, if I wrap the `Field` component around my own component (which implements input fields), it doesn't seem to be working. It looks like this:

[code]

`Input` just wraps the native `input` or `select` field with some `label` and container elements, so my fields can

[2016-04-27 14:08] Faulik commented on #167
You need to add custom field with name `Input` so it will be able to recognize it. It will behave the same way.

[2016-04-27 14:27] davidkpiano commented on #167
@Faulik is right. See the [React Native & Custom Components](https://davidkpiano.gitbooks.io/react-redux-form/content/react_native_&_custom_components.html) doc for more information.

In version 1, this will become much easier, I promise :) It will look something like this:

[code]

[2016-04-27 14:29] davidkpiano commented on #160
Please see the docs on [Custom Components](https://davidkpiano.gitbooks.io/react-redux-form/content/react_native_&_custom_components.html).

This will become much easier in v1.0! Let me know if you run into any issues doing it the way described in the docs. 😄

[2016-04-27 14:29] #160 closed

[2016-04-27 14:43] tnguyen14 commented on #167
Thanks @Faulik and @davidkpiano . I am not sure what you mean by adding the custom field with key?

The doc seems to suggest that I need to implement a custom change event handler on my `Input` element, and have it dispatch an `actions.change` event. Is that right?

[2016-04-27 15:03] #162 closed

[2016-04-27 15:04] davidkpiano commented on #162
This will be released in the next patch @morsdyce !

[2016-04-27 15:06] davidkpiano commented on #167
Yes, that is correct. Alternatively you can use `createFieldClass` to create a custom `<Field>` class that _recognizes_ your custom `<Input>`. But you have to make sure that `Input.displayName = 'Input'`.

Let me know if the custom component solution outlined in the docs works for you!

[2016-04-27 15:16] Faulik opened #168 "Validate field after changing model"
Hello. When i change model values externally(with change or load actions), how to trigger field validations?
I use code like this:
[code]
I know i can add validation on form component, but it will duplicate the ones on fields and generally will be worse. Also creating big validation object for actions.validate looks even more worse.
To find if field is invalid i use function like this:
[code]
Ther

[2016-04-27 15:37] davidkpiano commented on #168
There's a couple of RRF-agnostic ways of addressing this problem. One is what you mentioned - using a big validation object for `actions.validate` - this is the most robust solution because validation on `<Field>` or `<Form>` will only occur when (of course) those fields and forms are currently rendered on the page.

That would look like this:

[code]

So are you requesting that validation occur w

[2016-04-27 15:58] Faulik commented on #168
Yea, something like this. Or just validate action which will trigger field validations, when you don't specify them as argument.
I'm not sure about validations on render as i changing model and then render. Do i need to specify them somehow except as `value={model}`?

[2016-04-27 17:26] davidkpiano commented on #153
@asvetliakov This first part:

should be fixed in `react-redux-form@0.11.3`. Can you please verify that it does, or give me code that was failing before?

[2016-04-27 17:30] asvetliakov commented on #153
@davidkpiano Thanks for fixing, i'm very busy now with my current work (and i'm not using Form/Field in my proj), but i'll try to find some time on this week to verify / provide code / tests / or anything else that i could help.

[2016-04-27 18:19] Faulik commented on #168
I have done some research and not sure if this is intended but initial values aren't the ones from initial state or model object. If you specify `modelValue` on your input it will use it:
[code]
There is no word about it in docs so it's better to add it.

[2016-04-27 18:42] davidkpiano commented on #168
I'm not sure I follow - though `modelValue` is meant to be internal.

However, RRF provides actions to allow you to do validation in whichever way, and so if you want validation to be arbitrarily executed, it's best to do it manually via actions. Can you make a sample use-case so I can better understand the problem?

[2016-04-28 10:04] Faulik commented on #168
@davidkpiano Hi again. Expected behavior is like this [first example](http://codepen.io/Faul/pen/qZJqwO?editors=0010). But i need to specify full path as form name.
In general i would like to simplify it to [second example](http://codepen.io/Faul/pen/zqmoEb?editors=0010) but as you see input don't reflect actual model if model isn't full path. But it's reflect next changes just fine.
Also in this

[2016-04-28 11:31] davidkpiano commented on #168
Ah right, that's because the inputs are not controlled. Have you tried this:

[code]

I'm strongly considering making inputs controlled (using internal component state) in v1.0.

[2016-04-28 12:52] Faulik commented on #168
@davidkpiano Not that. Look at [this](http://codepen.io/Faul/pen/zqmoEb?editors=0010) I added value attribute and it has it in input, but thats not the case. Form is invalid and in console you can see `undefined` value of modelValue in validator, but model actually has it.
And now [this](http://codepen.io/Faul/pen/qZJqwO?editors=0010) code produces valid model with valid data but needs magic - mod

[2016-04-28 12:54] MiMaMuh opened #169 "getFieldFromState available?"
Hi,

is there a plan to make the getFieldFromState available? Or is there a reason why it's not exported?

I want to write a component which uses the field-component with a custom input-component and passes possible error messages to the input-component directly. So I have a effect like the error-component but programmatically.

    // props.errors will come from the mapStateToProps function
    /

[2016-04-28 13:12] davidkpiano commented on #169
Hey, I'll export it once I write a few unit tests for it. Probably later today!

[2016-04-28 13:19] davidkpiano commented on #168
Please look at the documentation for this: https://davidkpiano.gitbooks.io/react-redux-form/content/model_reducers.html#model-reducers-in-stores

The `model` _must_ be the full path to the model reducer in the store, so that RRF knows exactly where to look when both getting and setting the values.

This seems like a little bit of boilerplate, and I'm thinking of ways to reduce this boilerplate. Co

[2016-04-28 13:27] Faulik commented on #168
Oh, i missed it somehow. Thanks for your efforts.

[2016-04-28 13:31] #168 closed

[2016-04-28 13:31] davidkpiano commented on #168
Thanks for pointing the confusion out to me, though. I added some documentation in various sections to further emphasize this.

[2016-04-28 14:57] tnguyen14 commented on #167
So I really liked the approach of using `createFieldClass` with the default `controls`, instead of declaring each `props` individually. However, my custom `Input` field is used generically for all text, textarea, checkbox etc. fields. So does that mean I'd have to create a new field of each of those input types?

[2016-04-28 15:05] davidkpiano commented on #167
Not necessarily.

Assuming your custom `Input` has a `type="..."` attribute, you can do something like this:

[code]

where each different type would return their _own_ prop mappings. Again, `<Control>` will make this a little bit easier. But this approach will work.

[2016-04-28 15:26] tnguyen14 commented on #167
That is nifty, and yes, `Input` has a `type` attribute. Could I even do something like

[code]

[2016-04-28 15:32] davidkpiano commented on #167
Yep, absolutely! The mapping function simply returns the mapping given props. So you can do anything in that function.

[2016-04-28 17:03] MiMaMuh opened #170 "Field breaks React.Children.only on child component"
Hi, I have a component which uses React.Children.only which itself is wrapped by Field. When it is wrapped the React.Children.only helper always throws an error:
     "onlyChild must be passed a children with exactly one child"

    // fails
    <Field ...>
        <CompUsingChildrenOnly>
            <ChildComp />
        </CompUsingChildrenOnly>
    </Field>

    // works
    <CompUsingChildrenOn

[2016-04-28 17:18] tnguyen14 commented on #167
Just to update this ticket after talking with David on Discord:

When trying to `createFieldClass` route, I'm getting an error because the custom component `Input` that I'm using include a non-input element (`label`). The error is `Uncaught TypeError: Cannot read property 'length' of undefined` on this line https://github.com/davidkpiano/react-redux-form/blob/b192a92/src/components/field-component

[2016-04-28 17:52] davidkpiano commented on #167
^ I'll have a patch for that soon. Thanks!

[2016-04-28 17:55] davidkpiano commented on #170
Thinking about the simplest solution to this one - would it make sense for `<Field>` to _always_ generate a wrapper component (`<div>`)? Which is the current behavior for a `<Field>` containing more than one child.

[2016-04-28 20:01] davidkpiano commented on #170
Also, can you show me a code example where this is failing?

[2016-04-28 21:24] rkrdo opened #172 "react-bootstrap's Checkbox component"
I'm trying to alter my state with a checkbox, using `createFieldClass` with `controls.checkbox` on the `Checkbox` component from [react-bootstrap](http://react-bootstrap.github.io/components.html#forms-controls).

However, when checking the component, the state gets set to `"on"` instead of `true` or `false`, and once I check the checkbox, I cannot uncheck it. What would be the right way to do thi

[2016-04-28 21:48] cbioley commented on #172
That should be working:

[code]

[2016-04-28 21:55] rkrdo commented on #172
@cbioley that worked perfectly, thanks!

Off topic question, what would be a good channel in discord to ask stuff related to the project? I hesitated to ask this on the `redux-form` channel

[2016-04-28 21:55] #172 closed

[2016-04-28 22:01] cbioley commented on #172
@rkrdo You're welcome ^^

I don't know.

You should ask @davidkpiano. He's really a nice guy.

[2016-04-28 22:07] mruhlin opened #173 "Reusable components for child fields"
Hi, I'm trying to figure out how to cleanly make forms that work for common fields that are nested deep in my state tree.  Consider that I have a User object with a home address and a work address.  My state looks like this:
[code]
So, I want to make a reusable Address component to edit both of those.

What I have so far is something like:
[code]

and my Address component is like:
[code]

This get

[2016-04-28 22:43] davidkpiano commented on #173
Hmm, good question! What about something like this?

[code]

Would be purely a convenience component that maps over each of its children, and if it finds a `<Field>` it will prepend its `model`. Just an idea.

The problem comes when you have something like a `<CustomFieldGroup>` or `<SomethingThatContainsAField>`... then we'd have to rely on `context`, which I strongly want to avoid to prevent com

[2016-04-28 22:47] davidkpiano commented on #172
Huge thanks @cbioley! Anyway, @rkrdo I'm (for the most part) always available on the Reactiflux discord chat under **davidkpiano**. I'll see if we can reuse redux-form or create react-redux-form.

[2016-04-28 22:53] rkrdo commented on #172
Sounds good, thanks! @davidkpiano @cbioley

[2016-04-29 07:29] MiMaMuh commented on #170
Hi, yes, I created a example project here: https://github.com/MiMaMuh/react-redux-form-child-only-issue

[2016-04-29 11:04] #170 closed

[2016-04-29 11:04] davidkpiano commented on #170
This will be published in the next release: 0.11.6!

[2016-04-29 11:55] MiMaMuh commented on #170
Great, thx!

[2016-04-29 12:24] davidkpiano opened #174 "Removing items from an array will incorrectly persist fields"
(Placeholder issue for @cbioley)

Previously failing test case here: https://github.com/cbioley/react-redux-form/blob/63eac0575e3ec6590d7133fc42464c8212ec1170/test/form-reducer-spec.js

[2016-04-29 13:05] #167 closed

[2016-04-29 14:22] mruhlin commented on #173
Yeah nesting like that seems pretty natural (or if instead of a separate FieldSet tag you could reuse either Field or Form tags, might be better).  Maybe if everything just nested inherently.
[code]
Would kind of be a breaking change though.

I'm new to React and Redux so a little reluctant to throw out suggestions that might be terrible.  Ideally I'd like to just pass in the exact object I'm modi

[2016-04-29 14:31] davidkpiano commented on #173
Have you looked into [tracking collections](https://davidkpiano.gitbooks.io/react-redux-form/content/tracking_collections.html) for inspiration?

Having "stringly-typed" models is the most succinct syntax so far, because a string path tells RRF where to retrieve _and_ set the value, all from one versatile string.

However, I can see something like this being useful:

[code]

which will work by fin

[2016-04-29 17:44] jmeas opened #175 "Testing <Form>s Q"
I'm writing tests for a component that uses a `<Form>`. My first approach exploded because there was no `<Provider>` in the test, nor was I explicitly passing a store prop to the form in my component. I'm not particularly interested in doing either of these things, so my plan was to use rewire to replace the react-redux-form with a stubbed version that didn't blow up when a `store` attr isn't pres

[2016-04-29 19:11] ffxsam opened #176 "Doesn't work in production mode with material-ui"
Per #147, react-redux-form is still not working in production in conjunction with material-ui. Just wanted to open a new issue on this and leave it open until there's a resolution.

Any progress BTW? I'm on the latest version.

[2016-04-29 19:13] davidkpiano commented on #176
Are you manually adding `TextField.displayName = 'TextField'`? That's the current workaround.

[2016-04-29 19:15] ffxsam commented on #176
Where would I do that? This is my code:

[code]

Should I just do:

[code]

[2016-04-29 19:16] davidkpiano commented on #176
Right, or you can actually do it directly on `TextField` itself, since it's setting a static property.

[2016-04-29 19:20] ffxsam commented on #176
I'll give it a shot. Isn't the fix for this as simple as modifying this code:

[code]

to be:

[code]

[2016-04-29 19:20] davidkpiano commented on #176
Ah, I said I'd do that. Issuing a quick patch with that right now.

[2016-04-29 19:20] ffxsam commented on #176
Ok just curious :) I'd be happy to do a PR as well.

[2016-04-29 19:22] ffxsam commented on #176
Sorry.. getting a lot of pressure from higher up to get this into production. I know this is free/open source so I don't have any expectations (some people get really rude about it), and I'm happy to contribute a fix too. But I'd just need you to publish to npm since I don't have that ability.

[2016-04-29 19:22] ffxsam commented on #176
I haven't yet figured out the best way for npm to pull from a GitHub fork yet, otherwise I would've done that.

[2016-04-29 19:24] mdgbayly commented on #176
I do that by publishing the fork to npm using a scoped package name.
https://discuss.reactjs.org/t/best-way-to-include-a-react-fork-in-my-project/313/2

[2016-04-29 19:25] davidkpiano commented on #176
@ffxsam I currently have this:

[code]

not sure if that was what you were expecting. Placing it as the second clause causes a _lot_ of unit tests to fail, though.

By the way, you can definitely fork it and then just specify the dependency as the link to the [git URL](https://docs.npmjs.com/files/package.json).

[2016-04-29 19:28] ffxsam commented on #176
I've got a fork of this exact code change, lemme test it out in production and I'll let you know how it goes.

[2016-04-29 19:53] ffxsam commented on #176
Man, it doesn't work. I don't get it. I'll have to settle for the `TextField.displayName = 'TextField'` workaround for now.

[2016-04-29 19:59] davidkpiano commented on #176
Yeah, those properties are probably just getting minified in production. V1 syntax will make this a lot easier:

[code]

[2016-04-29 21:04] ffxsam commented on #176
Cool. I'll hang with the workaround till 1.0 then. Thanks for all your hard work!

[2016-04-29 21:04] #176 closed

[2016-04-30 17:58] favetelinguis opened #177 "Are examples compatible with immutablejs?"
Im trying to get the examples working using a immutablejs store but having some problems. Are the examples the same with immutablejs or are there any extra steps needed?

[2016-05-01 06:36] ffxsam opened #178 "Model data not loading into text fields"
Hey @davidkpiano, I'm wondering if something broke in a recent update? I've got the following code:

[code]

And when I do the following, as a test:

    dispatch(actions.change('reelModel.name', 'Testing!'));

nothing happens to the text field. Though if I type in the text field, I can see it updating in Redux.

[2016-05-01 06:51] ffxsam commented on #178
Just confirmed this on a very minimal reproduction.

[2016-05-01 07:08] ffxsam commented on #178
## /client/reducers.js
[code]

## /client/pages/Home.js
[code]

[2016-05-01 07:08] ffxsam commented on #178
![licecap](https://cloud.githubusercontent.com/assets/12532733/14940577/d0c168ce-0f30-11e6-9761-46dff37cc983.gif)

[2016-05-01 12:05] favetelinguis commented on #177
Works just fine, found the error that was unrelated to lib

[2016-05-01 12:29] davidkpiano commented on #178
Hey @ffxsam, this is actually the expected behavior (currently). Check here for more information: https://davidkpiano.gitbooks.io/react-redux-form/content/faqs.html

In short, you have to make the inputs controlled yourself (for now):
[code]

I'm strongly considering switching these to controlled in v1.0. What do you think?

[2016-05-01 13:07] favetelinguis commented on #177
Or no it does not, modelReducer is returning an object if it is given an immutable map as initialState, i see in the source code that there is support for immutable but in not sure how to use the immutable modelReducer? It is not exposed atm?

[2016-05-01 14:18] favetelinguis commented on #177
So this did the trick:

[code]

[2016-05-01 14:18] #177 closed

[2016-05-02 09:07] cbioley commented on #174
@davidkpiano Hey mate! You've indeed fixed my initial issue, thank you!

I'm afraid to have found another weird behaviour while stress testing (read: clicking like a freak on add/remove/add/add/remove/...) my app, so I now need to narrow down what I've done and write a test to show the issue.

I hope you don't mind if I post here when I have something to show.

I wish you a nice day ☀️

[2016-05-02 12:51] cbioley commented on #174
@davidkpiano Here's a failing test:

[code]

[2016-05-02 14:46] cbioley commented on #174
@davidkpiano Thanks!

[2016-05-02 14:58] davidkpiano commented on #174
Will be in next patch release @cbioley!

[2016-05-02 15:02] cbioley commented on #174
@davidkpiano No prob, I could test from master branch 👍

I ... (I don't know how to say that) ... _may_ have found another tiny annoyance regarding the errors this time.

But fear not, this is way less annoying (for my case at least) so you can pretend I don't exist for now ^^

[2016-05-02 17:59] ffxsam commented on #178
Ahh! The weird thing is, I checked out older versions and my code still didn't work.. very odd.

I actually don't like the idea of having to reference `this.props.myModel.name`, because then any place I want to have a form, I have to wire up Redux myself, which gets messy. I'm following a very strict container model (see [here](https://medium.com/@learnreact/container-components-c0e67432e005#.p6sz

[2016-05-02 19:05] davidkpiano commented on #178
Hmm, I'm pretty sure that functionality wasn't there before, since components were always uncontrolled by default, but I understand your concern.

Components will be controlled in v1.0, I've decided. It'll be a breaking change (hence 1.0) though it won't affect many forms.

[2016-05-02 19:08] ffxsam commented on #178
Really? Even in the documentation, you have this:

[code]

And I swear I didn't have to have `<input type="text" value={this.props.user.name} />` before. Strange. I feel like I'm in the Twilight Zone. ;)

[2016-05-02 19:10] davidkpiano commented on #178
You don't have to, don't worry 😌  the component will work just fine as an _uncontrolled_ component.

It's when you want the `input` to magically update that you'll have to make it controlled.

[2016-05-02 19:20] #178 closed

[2016-05-02 21:41] ffxsam commented on #178
Hey @davidkpiano - one quick follow-up question. In this case:

[code]

where `MUITextField` is a custom component I made using `createFieldClass`, this makes the `TextField` a controlled input, correct? If I load data into the model, it will automatically populate the field.

[2016-05-02 21:45] ffxsam commented on #178
In other words, I can use `createFieldClass` to make fully controlled inputs without having to use `connect` to get the redux state mapped to props, right?

[2016-05-02 22:19] Jore commented on #76
Thank you for this.

[2016-05-03 01:11] tnguyen14 commented on #167
@davidkpiano I just updated my app to the latest version to try this again. This time, I get this error instead. Have you seen it before?

[code]

[2016-05-03 03:13] ffxsam commented on #178
I'm also getting a few warnings:

The code is:

[code]

Any ideas?

[2016-05-03 03:33] davidkpiano commented on #178
Yeah, these warnings are new as of React 15.0. I'm still looking into them, and in v1.0 the components will be controlled by default anyway.

[2016-05-03 03:34] davidkpiano commented on #178
Yes, you have the full ability to do that.

[2016-05-03 03:34] ffxsam commented on #178
Sounds good! I'll ignore the warnings then :)

[2016-05-03 03:35] davidkpiano commented on #167
@tnguyen14 Can you show me your full code?

[2016-05-03 03:49] tnguyen14 commented on #167
@davidkpiano sure I just pushed a temporary branch here https://github.com/tnguyen14/ledge/tree/react-redux-form

[2016-05-03 05:03] davidkpiano commented on #167
Hey @tnguyen14 this was just a usage issue - `createFieldClass` creates a new custom `Field` that can _recognize_ your custom components. Here's the working `NewTransaction.js` class:

[code]

[2016-05-03 05:05] davidkpiano commented on #175
Hm, this is an interesting question because `<Form>`, `<Field>`, `<Errors>`, etc. are all assuming that a store exists. I'll play around with this and see if I have a good answer for you.

[2016-05-03 06:10] tnguyen14 commented on #167
Yup, that fixed it! Makes sense. Thanks @davidkpiano for all the incredible and timely help!

[2016-05-03 09:19] cbioley commented on #174
@davidkpiano Please, don't hate me :)

[code]

[2016-05-03 13:14] morsdyce opened #180 "onChange from Field component can only accept an event"
I have a component that wraps around 3 fields and consolidates them into 1 value.

I want to be able to call the onChange callback with my value so RRF model can change (currently the onChange fires but has no value).

I tried simulating an event by providing the following object to the onChange function:
[code]
But the value was still not passed through.

How can I pass the new value without it b

[2016-05-03 13:47] davidkpiano commented on #180
Can you show me your full code? Are you trying to create a custom event?

There is an internal function called `getValue()` in RRF:

[code]

So, `{ target: {...}}` would _not_ be interpreted as an event because it is not an `instanceof Event`.

Try providing the actual value (e.g., the string `'my value') instead of a fake event, or you can make it an actual event:

[code]

Please let me know if t

[2016-05-03 13:48] davidkpiano commented on #174
Of course I won't hate you, thanks for the report! It's the edge cases like this that makes the library more robust and resilient. I'll look into this.

[2016-05-03 14:03] #174 closed

[2016-05-03 14:05] davidkpiano commented on #167
You're welcome! Sorry if the documentation is confusing around this. `<Control>` in v1.0 will make this easier.

[2016-05-03 14:15] morsdyce commented on #180
I am trying to call onChange with the value I want it to update but I get a change event with an empty value.

Here is an example of what I am trying to do, note that I removed the methods that generate the actual option with values (in this example there is only the default option).

The specific line i'm refering to is: ```this.props.onChange(`${day}/${month}/${year}`)```

[code]

[2016-05-03 14:28] davidkpiano commented on #180
Is the above code valid? This JSX is invalid:

[code]

and will throw this error: `Adjacent JSX elements must be wrapped in an enclosing tag`

[2016-05-03 14:29] morsdyce commented on #180
Sorry about that, I didn't run the code just tried to make the minimum viable example.

it should be wrapped in a div in order to be valid JSX

[2016-05-03 14:39] davidkpiano commented on #180
Hey @morsdyce, please see this esnextb.in for a working example:

http://esnextb.in/?gist=15beae7c68217d593a28cfe256e4c3ce

[2016-05-03 15:15] morsdyce commented on #180
Ok, I just tested it with how you specified it and then modified it to use a custom component field using createFieldClass and it seems to work fine.
My example: http://esnextb.in/?gist=d83cb4f1c426576e93bd278f481f7f9e

It's probably an issue somewhere in my project.

Sorry to bother you :)

[2016-05-03 15:15] #180 closed

[2016-05-04 06:53] cbioley opened #181 "map-values.js is missing"
Dear @davidkpiano, it looks like you've forgotten to add `utils/map-values.js` to git :)

[2016-05-04 11:27] #181 closed

[2016-05-04 11:27] davidkpiano commented on #181
Commit message says it all 😴

[2016-05-04 14:44] bgriffith opened #182 "Question - Changing the validator doesn't seem to effect validity/requirement of field if already flagged as invalid"
Hey David, still loving the library! :+1:

The app I'm working on has lots of forms that vary depending on what the user selects throughout. Therefore the fields shown and the object passed to the validator prop on the form can change at any time.

One thing I've noticed is that if I have a form where field A is required by the initial validator object, and field A gets marked as invalid (in the f

[2016-05-04 19:57] dreid opened #183 "Question: Change value and revalidate a field when another field is changed."
http://esnextb.in/?gist=f0b9b22bbe837861533683dbfdd03ec4

This form attempts to model a dependency between two fields:

Field a is invalid if it is empty.
Field b is invalid if it is emtpy.
Field b is disabled if field a is invalid.

When field a is changed field b should be cleared and invalidated.

The above esnextbin accomplishes this by adding a changeAction to field a which dispatches `action

[2016-05-04 20:43] davidkpiano commented on #183
Great question, and thanks for the detailed example.

For these usage scenarios, it's best to ask yourself **how would you accomplish this in plain Redux**.

This might be more code, but in plain Redux, you'd probably have a reducer that handles the relationships:

[code]

so something like this: http://esnextb.in/?gist=796d924d52a6a7383bee5066d9471f53

[2016-05-04 21:23] dreid commented on #183
And I'd also have to wrap the formReducer to handle the revalidation?

Ideally as a user of react-redux-form I'd be able to:

1. Specify validation information for a field in exactly one place. (preferably near the field specification)
2. Have all changes validated.

[2016-05-04 21:52] davidkpiano commented on #183
Validation is done via actions, in order to be completely agnostic and flexible to how you want to do your actions. It's definitely possible to keep all validators in one place; the structure is up to you. A simple example is keeping all validators in `<Form validators={{...}}>`.

Do you mean that when you dispatch `actions.change('foo.bar', '...')`, that validation should occur then too?

[2016-05-04 22:03] dreid commented on #183
That is what I would expect. I was quite surprised to discover the differences between the `onChange` function passed to my controls and the result of calling `actions.change`.

If not exactly when `actions.change` is dispatched it seems like there should be some documented public mechanism for making changes exactly as onChange would.

[2016-05-04 23:07] davidkpiano commented on #183
Okay, I'll plan this as a general enhancement, since you're right -- if a `<Field>` detects that the value has changed externally, it should validate against its `validators` and update the validity of that field.

[2016-05-05 01:01] daneryl opened #184 "Warnings with react 15 about controlled/uncontrolled inputs"
When controlling an input by adding the value property react 15 throws a warning
[code]

[2016-05-05 01:14] davidkpiano commented on #184
Fix coming right up! (Was actually just working on this very issue)

[2016-05-05 01:17] daneryl commented on #184
thank you !

[2016-05-05 01:17] davidkpiano commented on #182
@bgriffith Thanks, I appreciate it!

Do you mean dynamic validation? As in:

[code]

[2016-05-05 02:18] ffxsam opened #185 "rrf/setSubmitFailed"
I'm stuck and having trouble figuring out what I'm doing wrong. Code below:

[code]

`newAttachment()` is never even called. There are no console errors, so I can't really tell what's happening here, other than in Redux I see an `rrf/setSubmitFailed` being dispatched.

[2016-05-05 02:22] #184 closed

[2016-05-05 02:25] davidkpiano commented on #185
`SET_SUBMIT_FAILED` occurs on `<Form>` when the form state is invalid. If you're using `redux-logger`, can you check to see what's making the form invalid?

[2016-05-05 02:26] ffxsam commented on #185
I've got the Redux Dev Tools Chrome extension which shows all dispatches & state. What in particular should I look for? (there's a lot!)

[2016-05-05 02:27] davidkpiano commented on #169
Added in `v0.12.0`!

[code]

[2016-05-05 02:27] #169 closed

[2016-05-05 02:28] davidkpiano commented on #185
Look for `attachmentModelForm` (or wherever you set up your `formReducer` for `"attachmentModel"`). Find where it changes from `.valid = true` to `.valid = false`

[2016-05-05 02:29] ffxsam commented on #185
That's the really odd thing. `attachmentForm.valid` is always true.

[2016-05-05 02:30] ffxsam commented on #185
![redux_devtools](https://cloud.githubusercontent.com/assets/12532733/15034822/b5732516-122e-11e6-94dd-9111e51324fe.png)

[2016-05-05 02:34] ffxsam commented on #185
The other fishy thing is that `attachmentModel.errors` is `true`, yet if I drill down into the details, the `errors` object is empty.

[2016-05-05 02:39] davidkpiano commented on #184
@daneryl Now, input elements are controlled by default (as long as `updateOn="change"`, which is the default anyway).

You'll still get the warning if you don't specify an initial value for each model, which is good practice:

[code]

[2016-05-05 02:55] davidkpiano commented on #185
Can you make a minimal code example demonstrating the issue on esnextb.in ?

[2016-05-05 02:58] ffxsam commented on #185
Wow, cool site! I'll try to put something together in the morning.. and hope that I can replicate it. Thanks!

[2016-05-05 09:25] bgriffith commented on #182
Hey @davidkpiano - Yeah I have something similar but on the `<Form>`.

Here's a quick gist I knocked up to help explain.

http://esnextb.in/?gist=10d57e542448b97ad80cf5bc22d64e70

In short, changing the validator object doesn't result in the form revalidating, and therefore checking to see if the previously invalid fields are still invalid.

[2016-05-05 13:06] davidkpiano commented on #182
Quick solution:

Since your validator **depends on 2 or more fields**, it's best to move it a higher level; in this case, **form validation**. Take a look:

[code]

Two other helpful tidbits:
- `checked={foo.a === "true"}` etc. is redundant; RRF does this for you 😉
- If you want, you can pass in the actual `true` value; RRF is smart enough to know the exact value instead of blindly converting it t

[2016-05-05 13:52] bgriffith commented on #182
Ah awesome! A form level validator seems to do the trick and thanks for the tidbits :+1:

I'll let you know how I get on with this solution.

[2016-05-05 13:53] #182 closed

[2016-05-05 14:24] daneryl commented on #184
Working great with the default controlled inputs thanks. loving the library !

[2016-05-05 16:59] ffxsam commented on #185
I can't seem to replicate it in a new project.. argh! How can I go about debugging this, any suggestions?

[2016-05-05 17:40] davidkpiano commented on #185
In `form-component.js` there is a few lines of code that _should_ be called since you don't have validators:

[code]

so the fact that `onSubmit` isn't being called means that `!validators && onSubmit && formValid` is falsey.

If you go into `lib/components/form-component.js` (if you're using Webpack) you can directly `console.log()` in this file to dig around and see what's going on.

Let me know

[2016-05-05 17:40] ffxsam commented on #185
Ahh, I got it! It's because the `<Field>` (or in this case `<MUITextField>`) doesn't exist when the page first loads up, so `<Form>` doesn't process it. But when the user chooses the attachment type "text", it adds the `<Field>` but it's too late since `<Form>` has already traversed through its children.

[2016-05-05 17:51] ffxsam commented on #185
Nope. Bummer. I had some conditional code that would either show the field or not.. but I simplified my render's return statement to this:

[code]

And I'm still getting the `setSubmitFailed`. There's nothing fancy going on with the reducers, pretty basic. I'll try your debugging tips and see if I can figure this out.

[2016-05-05 17:57] ffxsam commented on #185
@davidkpiano Ok, `formValid` is false. Very strange.

[2016-05-05 18:01] ffxsam commented on #185
Ok, I think a co-worker might've done something wrong. `formValue.model` is equal to `"messageModel"` which is not mine!

[2016-05-05 18:05] ffxsam commented on #185
Solved! Ok, maybe you can tell me what was happening here.

A co-worker of mine had another model called `messageModel` with a field called "content." The field name is the same as my `attachmentModel.content`, though this part was irrelevant.

However, he had this:

[code]

Validators:

[code]

This validator was somehow acting globally, and preventing my form from submitting.

[2016-05-05 18:11] ffxsam commented on #185
So it seems there's some cross-contamination between forms. `messageModel`'s validators definitely shouldn't be evaluated when I'm submitting `attachmentModel`.

[2016-05-05 18:20] dehbmarques opened #188 "missing memoize resolver"
In the modelValueUpdaterMap (here: https://github.com/davidkpiano/react-redux-form/blob/master/src/utils/sequence.js#L32) the model props is being passed as the map key.
This leads to the change action always passing the same cached value to the form and model reducers.

Here is a sample of the problem. As I typed 'abc' the change action was called three times. In the first call the modelValueUpda

[2016-05-05 18:29] #188 closed

[2016-05-05 18:31] davidkpiano commented on #188
I ended up just removing memoization for now. Thanks for catching that!

[2016-05-05 18:37] davidkpiano commented on #185
Weird! It's hard to diagnose the problem without a way to replicate, and there should be no cross-contamination. I'll try to see what I can find.

[2016-05-05 18:38] ffxsam commented on #185
Well, I noticed the guide no longer demonstrates `validators` as a prop on `<Form>`.. so that might be outdated usage. I haven't tried putting validators on the `<Field>` instead. Honestly, since we're still in alpha, I'll probably just wait to add validators until you launch 1.0. We can't keep up with your progress! :)

[2016-05-05 18:49] davidkpiano commented on #185
Okay - `validators` continue to work in `<Form>` so I'll help try to figure out what's going on. The unit tests should cover all possible edge cases, but I might have missed something.

[2016-05-06 11:27] davidkpiano commented on #175
@jmeas If you can, I would mock up RRF like this:

[code]

Hopefully that works for your testing use cases!

[2016-05-06 11:27] #175 closed

[2016-05-06 13:23] #183 closed

[2016-05-06 13:24] davidkpiano commented on #183
@dreid Here's the unit test if you're interested: https://github.com/davidkpiano/react-redux-form/commit/8d95837b259d83c79cd398da6e4e95f4ab41a907#diff-b43d85b01204324e63c810644e344418R617 I'm confident this will solve your use-case; please let me know if it doesn't!

Will be released in the next patch.

[2016-05-06 14:45] jmeas commented on #175
Cool. I'll do that. Thanks!

[2016-05-06 21:30] Rhywden opened #191 "actions.change does not actually anything change until complete re-render"
I'm using Meteor and parts of the dataflow are async as a result. For instance, if I want to edit an existing document, I need to do `store.dispatch(actions.change('model.foo', async_result.value));`

This works fine for the first render of the component. However, if the component is not unmounted afterwards, I can dispatch any changes I want, the form won't reflect any changes.

I can see the act

[2016-05-06 21:36] davidkpiano commented on #191
What version of RRF are you on? This has been fixed as of `0.12.x`.

[2016-05-06 21:41] Rhywden commented on #191
0.9.14, or so it seems. Hrmh. And I did an `npm update` five minutes ago. Will have to see why it doesn't pull in the newer version.

[2016-05-06 21:49] Rhywden commented on #191
Okay, I still don't know why npm didn't do the one job it's supposed to do but manually bumping the version in package.json seems to have done the trick.

One more thing to look out for, or so it seems. Thanks for the prompt reply!

[2016-05-06 21:49] #191 closed

[2016-05-09 13:21] fromanother opened #195 "Clearing the model in the reducer and then resubmitting the form does not trigger validation"
I have a form that I'd like to use repeatedly, ie. fill the values, hit submit, form gets cleared, fill in other values, submit the form again, and so on.

I have only one field, `name`, and a validator for it which checks that the field is not empty. In the reducer when I get a successful response from the server I set the `model.name` to it's initial value, which is `''`.

When the page first lo

[2016-05-09 14:01] davidkpiano commented on #195
Just pushed out a patch that solves this very issue, as long as your `validators` are defined on `<Field>` or `<Form>`: `react-redux-form@0.12.2`

This patch solved #183 which posits that validation should occur when `<Field>` detects that the model value has changed, regardless of _how_ it changed (externally, etc.)

Please upgrade to the latest and let me know if it solves your issue!

[2016-05-09 14:01] #195 closed

[2016-05-09 14:11] davidkpiano commented on #173
@mruhlin If I am going to use context, this API might make more sense:

[code]

[2016-05-11 18:42] konzz opened #198 "fields submitFailed does not change after a submit failed"
The state of the form has a property submitFailed that turns true after a submission fails, for example when the form isn't valid, but the same property in the fields remains false.

is this intended? if so, when does the property in the fields turns true?

Thanks in advance.

[2016-05-11 22:50] davidkpiano commented on #198
Yes, this is intended. In v1, any subsection of the fields (i.e., any node) can be submitted as a "form" - that is to say, if you want to submit the entire `user` or just `user.address`, you can do so. So the `submitFailed` only reflects that submission has failed when trying to submit that specific model.

Hope that helps!

[2016-05-12 00:37] konzz commented on #198
Thanks! Yes it helped.

[2016-05-12 00:37] #198 closed

[2016-05-12 04:29] tw0517tw commented on #68
after react 15.0, set `value={}` on `<input>` will cause warning.

[2016-05-12 12:26] arcticfalcon opened #199 "ref no longer working"
Hi, I updated to v0.12.* and with the change of cloneElement to createElement in class Control, refs in components inside Field are lost.
I assume this is a bug?
Thanks!

[2016-05-12 13:12] davidkpiano commented on #199
Can you show me your code that was previously working and is now broken, so I can add it as a test case?

[2016-05-12 13:21] arcticfalcon commented on #199
I'm using custom components and it happens with any component mapped in the `createFieldClass` definition

[code]
(`Field` component there is from `createFieldClass`)

Thanks!

[2016-05-12 13:24] cdreve opened #200 "Remove action - Bug?"
Hi,
  I have a component that is displayed multiple times and the data is stored in an array, one item for each display of the component.
  At a later point, I want to be able to remove an item from the array.
  To do this, I have tried to dispatch action.remove, but it doesn't work.
  From what I can tell, if I use `form.foo`, no data is found at this model, but if I use `model.foo`, if finds the

[2016-05-12 16:58] davidkpiano commented on #200
I got this working. You just have to make sure that the `model` argument in `modelReducer(model, ...)` is the exact path to this reducer:

[code]

and modify the rest of the test accordingly.

[2016-05-12 16:58] #200 closed

[2016-05-19 13:55] davidkpiano commented on #185
@ffxsam Were you able to work around this? I am still not able to recreate the issue without an isolated code example.

[2016-05-19 16:38] #199 closed

[2016-05-19 16:39] davidkpiano commented on #199
@arcticfalcon Fixed! Relevant test case here: https://github.com/davidkpiano/react-redux-form/commit/aa376ba198fe9a14675813b3266d21cc76ab3b62#diff-b43d85b01204324e63c810644e344418R1436

This will go out in 0.12.5

[2016-05-19 16:41] arcticfalcon commented on #199
Awesome! Thanks!

[2016-05-20 19:44] dreid opened #210 "Question: Should Field components expose the form state to the controlled component?"
I'm frequently finding myself writing:
[code]

where `isDirty` and `isInvalid` are defined as:

[code]

Aside from the sheer size of a field definition this also means:
1. The parent of the form has to be connected to the store to get `model_form`, I have in fact ended up with components connected to the store for *ONLY* this reason.
2. Parent components have to frequently duplicate or decide on t

[2016-05-21 09:02] ffxsam opened #215 "Unmet peer dependency"
For some reason, `react-addons-shallow-compare` is not getting installed when I install `react-redux-form`.

[code]

[2016-05-21 12:03] davidkpiano commented on #215
Yeah I'm thinking that dependency isn't common enough to warrant a peer-dependency. cc. @chrisblossom

I'll add it as a dependency in the next patch.

[2016-05-21 14:15] chrisblossom commented on #215
Peer dependencies aren't there because they are common. The reason ```react-addons-shallow-compare``` is a peer dependency is to preserve React 0.14 support. I don't think adding ```react-addons-shallow-compare``` warrants dropping support for 0.14.

On a side note, especially with pre-1.0 packages, you should pin your packages to specific versions and consider using npm shrinkwrap.

[2016-05-21 14:22] davidkpiano commented on #215
@chrisblossom What are your thoughts on removing React 0.14 support?

[2016-05-21 14:36] chrisblossom commented on #215
I can't speak for everyone, but I personally am still on 0.14 mainly because of [aickin/react-dom-stream](https://github.com/aickin/react-dom-stream), which doesn't support 15 because they are trying to get the changes into React core.

Think about when React 16 is released. If you are going to pin React down to a specific version, how long are you going to support v15? Or when would you start sup

[2016-05-23 03:25] #215 closed

[2016-05-23 03:27] davidkpiano commented on #215
@ffxsam @chrisblossom Problem solved, I'm now doing this:

[code]

which will grab the internal module from whichever version of React that is being used. That way, it is not required as an additional peer dependency, which would be redundant anyway, as it is already a part of the React module.

[2016-05-23 03:27] ffxsam commented on #215
Awesome, thanks!

[2016-05-23 13:19] davidkpiano commented on #210
@dreid Actually, you already have this ability! It's just not documented (yet). You can do this in `createFieldClass(...)`:

[code]

So, two important things:
- The field values, such as `valid`, `pristine`, etc. are all available on `props.fieldValue`
- Use the affirmative rather than negative prop names, e.g. `valid` instead of `invalid` and `pristine` instead of `dirty` because the negative pro

[2016-05-23 13:19] #210 closed

[2016-05-23 14:01] davidkpiano commented on #215
Released as `0.12.6`!

[2016-05-23 22:59] ffxsam commented on #185
You know, it actually hasn't come up again for some reason. I'm not sure if something on your end changed or on mine.. but it's all good now :)

BTW, thanks for all the time & effort you put into react-redux-form! Much appreciated. If you're a Bitcoin user & share an address, I'm happy to send some beer money ;)

[2016-05-23 23:12] davidkpiano commented on #185
Awesome! And no worries, I'm happy to do this for free. This project makes my life easier and (hopefully) other dev's lives easier.

[2016-05-23 23:12] #185 closed

[2016-05-24 13:56] stutanne opened #221 "Mask phone input"
Previously I was masking phone inputs (to turn 1112345678 into (111) 234-5678 in the form ui) with a function that ran when the form value was set

`value={formatPhone(model.foo.phone) }`

This no longer works in the latest version of rrf (0.12.6). Is there a recommended way to handle such a task?

[2016-05-24 14:34] davidkpiano commented on #221
Sure, try this:

[code]

[2016-05-24 20:57] dreid opened #222 "submitFailed not propagated to fields."
I'd like to not show fields as invalid unless they are not pristine, or submitting the form has failed.

However, although the `fieldValue` prop passed to the control has `submitFailed` it is not set to true when the `setSubmitFailed` is dispatched by the `Form` component, and the control does not appear to have access to the `Form`'s `submitFailed`.

[2016-05-25 01:25] davidkpiano commented on #222
This will be officially addressed in V1, but I can patch it. It should propagate down.

[2016-05-25 04:17] #222 closed

[2016-05-25 04:48] davidkpiano commented on #221
Check out this page for more info (warning: old docs but the code should still work with the _latest_ version of RRF): http://davidkpiano.github.io/react-redux-form/docs/index.html#/recipe/parse-fields

[2016-05-25 04:48] #221 closed

[2016-05-25 18:12] dreid opened #223 "Can't create a component that acts as a checkbox."
See http://esnextb.in/?gist=f0b9b22bbe837861533683dbfdd03ec4 for a minimal reproduction.

This appears to be because of the checkbox specific `modelValueUpdater` behavior which is not triggered except when `controlProps.type` is "checkbox".

As you can see from the esnextb.in simply specifying the type="checkbox" on the component is sufficient to workaround this issue.

I'm not sure what a good so

[2016-05-25 18:40] dreid opened #224 "createFieldClass documentation should recommend using [CustomComponent.displayName] as the key in the controlsPropMap."
This makes the Field class definition more resilient to changes such as wrapping the CustomComponent in a connect or other decorator.

[2016-05-25 23:39] etrepum opened #225 "Redux updates seem to always cause re-render of every Control"
While trying out react-redux-form I've run into some performance issues (at least in dev mode), such that the rendering can't even keep up with typing if there are enough controls on the page. It seems that any change to the store ends up re-rendering all of the Controls.

I've found a few contributing factors by observing the differences in props with a trivial `shouldComponentUpdate` on a custom

[2016-05-26 01:36] davidkpiano commented on #225
Thanks for starting this audit, @etrepum. I plan on addressing the implementation of `<Control>` and this is extremely helpful. The closures can be mitigated, and there can probably be some optimizations on how we handle `props` and `controlProps`. Let me know if you find anything else and we can keep a running list of these things.

[2016-05-26 05:09] etrepum commented on #225
I went ahead and created a PR with a test that demonstrates the problem at a relatively high level, if that test can be made to pass then the hard problems should be solved.

[2016-05-26 18:22] davidkpiano commented on #224
Done! Thanks for pointing that out. https://davidkpiano.gitbooks.io/react-redux-form/content/react_native_&_custom_components.html#createfieldclasspropsmap-defaultprops

[2016-05-26 18:22] #224 closed

[2016-05-26 21:28] kmudrick opened #228 "Need better documentation / examples on multi field validation"
All of the documentation around validation seems to be geared towards validating each field individually, rather than considering dependencies between fields.  I found validation to be much much easier to grok in redux-form :(

Example: I have a form with a select, and an optional comment textarea.  If one particular value in the select is chosen, then the comment actually becomes required.

Is th

[2016-05-26 21:34] davidkpiano commented on #228
Nah, it's actually much simpler than that! Here's how you would do form-wide validation:

[code]

The empty string in `validators` for `<Form>`-level validation means the entire form - it's as if you were validating the `"user."` model (which resolves to `"user"`), and the value passed into the validator would be the entire `user` model.

[2016-05-26 21:37] kmudrick commented on #228
Thanks @davidkpiano - is that in the docs somewhere?  Did I miss it?  And how long has that been around?  (We're still on 0.7.2 unfortunately)

[2016-05-26 21:56] davidkpiano commented on #228
Yep! You're right though - I should add more specific documentation for form-wide validation.

[2016-05-26 22:01] dreid opened #230 "Latest release isn't on NPM."
[GitHub Releases](https://github.com/davidkpiano/react-redux-form/releases/) has 0.12.7
[NPM](https://www.npmjs.com/package/react-redux-form) only has 0.12.6

[2016-05-26 22:16] kmudrick commented on #228
So, I see this was added in 0.7.0.  Using 0.7.2, I simply cannot get this to work.

The name of the model is 'skipCriteria'; the name of the model form is 'skipCriteriaForm'

`
        <Form
          model='skipCriteria'
          validators={{
            '': {
              thisIsInvalid: (skipCriteria) => true
            }
          }}>
          // .... fields here
`

I make changes to the f

[2016-05-26 22:21] davidkpiano commented on #228
Can you throw up an example on esnextb.in ?

[2016-05-26 23:07] kmudrick commented on #228
Trying to, but having _major_ issues with esnextb.in right now.

[2016-05-26 23:14] davidkpiano commented on #230
Just updated to `0.13.0`! 🎉

[2016-05-26 23:14] #230 closed

[2016-05-26 23:26] davidkpiano commented on #225
Fixed with #227 🎉

[2016-05-26 23:26] #225 closed

[2016-05-26 23:38] kmudrick commented on #228
Example:

http://esnextb.in/?gist=6b67a70889e949d7cbdc183c9e7053e2

I cannot get react devtools to work reliably with esnext, so I'm logging out the full props on each render.  As you can see, I don't see commentRequired or reasonRequired showing up _anywhere_ in the skipCriteriaForm prop

[2016-05-26 23:55] davidkpiano commented on #228
Works fine with the latest RRF `0.13.1`:

<img width="232" alt="screen shot 2016-05-26 at 7 54 29 pm" src="https://cloud.githubusercontent.com/assets/1093738/15593586/bdfbade4-237b-11e6-8afb-3c2a117b3faa.png">

Can you not use the latest version?

[2016-05-27 00:18] kmudrick commented on #228
I can try upgrading, though I am still trying to wade through all of the changes that have happened since early March to see what I need to look out for (hope that doesn't come off as ungrateful, it is just kinda tough to constantly be on top of every dependency these days)

[2016-05-27 00:44] kmudrick commented on #228
Looks like the createFormReducer, createModelReducer renames & redux-thunk upgrade were the only changes I had to make :)

[2016-05-27 00:48] davidkpiano commented on #228
Yep! Until v1.0, no major changes are being made, only bug fixes. And even v1.0 won't have huge breaking changes, really. 😄

[2016-05-27 00:48] #228 closed

[2016-05-27 09:20] sattaman opened #232 "Validating array of checkboxes"

[2016-05-27 09:44] #232 closed

[2016-05-27 12:24] zabojad commented on #58
In that case, submitting a form should set it's fields state to touched=true ?

When I do this:
[code]

[2016-05-27 13:40] davidkpiano commented on #58
This works as expected in recent versions: https://github.com/davidkpiano/react-redux-form/blob/master/test/form-reducer-spec.js#L263-L285

That is, when the `formReducer` receives `actionTypes.SUBMIT_FAILED`, it will:
1. Set the `.submitFailed` and `.touched` properties to `true` on the form, and
2. Set the `.submitFailed` and `.touched` properties to `true` on _all of the form's fields_

Which v

[2016-05-27 13:43] zabojad commented on #58
I'm working on `"react-redux-form": "^0.12.6",` which was the latest available on npm yesterday...

[2016-05-27 13:45] zabojad commented on #58
I just tried again and npm install keeps fetching 0.12.6, any idea why ?

[2016-05-27 13:47] davidkpiano commented on #58
Should be `0.13.1`: https://www.npmjs.com/package/react-redux-form

Try `npm install react-redux-form@latest --save`

[2016-05-27 13:47] zabojad commented on #58
Oh, it's OK now, I forgot the `--save` when `rm` and `install`... I have the `0.13.1` now.

[2016-05-27 13:48] zabojad commented on #58
I also confirm the problem I've initially reported is fixed in latest version :)!

[2016-05-28 10:46] Darmody opened #235 "Form component always have unnecessary rerender"
![image](https://cloud.githubusercontent.com/assets/6788752/15626900/38c73898-2504-11e6-8099-0dd0e55f8e4f.png)

Maybe Form component should add `pure render` feature too?

[2016-05-28 12:04] venelin-mihaylov opened #236 "Initial value for a custom field"
I am creating a control for selecting a foreign key, named FKSelect.
It is directly connected to redux.
I need it to be part of the app's forms.
I use the "custom component" approach with RRF to set it up.
I use the model actions: actions.change(), actions.blur() in the component to update the appropriate model. That's working fine, the form and model state is updated, onSubmit the data is correct

[2016-05-28 12:53] davidkpiano commented on #236
The initial value is done the exact same way you would set up an initial value in a Redux reducer - by providing it to your initial state:

[code]

And then it would be passed to the `value={...}` prop of your component. Is this not working, or does this not fit your use case?

[2016-05-28 14:00] venelin-mihaylov commented on #236
initialState does not fit my use case, AFAIK.
I want to load a record from the server, and use that record as intitialState for the form. Subsequently actions.reset() would reset the values to the initially loaded from the server.
Specifying the values during redux store configuration does not allow tha, again AFAIK.
Maybe if there is a method to set the initialValues, say ... actions.setInitialVa

[2016-05-28 18:58] davidkpiano commented on #236
Just like you would in normal Redux. Perhaps I don't fully understand your question. If you have a store that looks like this:

[code]

and you `actions.change('user.foo', 'bar')`, you can reference that as expected in your connected component:

[code]

So, are you asking how to _set_ a value to be the initial state that is retrieved asynchronously? That's more of a Redux question, not a RRF quest

[2016-05-28 19:44] etrepum opened #237 "Performance: Form and Errors components update props on any redux store change"
Incorporating the entire redux store into the props for a component is a bit of an anti-pattern for a react-redux mapStateToProps as it will cause the component's props to update in lock step with the redux store, even if completely unrelated to the model in question.

I've seen this anti-pattern in both form-component and error-component:

[code]

[2016-05-28 20:08] #237 closed

[2016-05-28 20:08] davidkpiano commented on #237
Fixed, thanks for pointing that out! Oversight on my part. Should be out in the next patch.

[2016-05-28 20:10] davidkpiano commented on #235
This might be fixed by c600e5dcaf8afa6efdff0cadbc148abe3a98f743 for #237, can you please verify?

[2016-05-28 22:10] davidkpiano commented on #223
This will be addressed more elegantly in v1.0; adding `type="checkbox"` is a sensible (and expected) workaround currently.

It has to do with how props are currently mapped for custom components - right now, there is no way of knowing the mapped props until _after_ `sequenceEvents`, and in V1 the mapping will be made available before sequencing.

[2016-05-29 01:22] omerzach opened #238 "Getting "Uncaught TypeError: Cannot read property 'valid' of undefined" on 0.13.1"
I'm seeing the issue discussed in https://github.com/davidkpiano/react-redux-form/issues/139 on version 0.13.1 (which I got by running `npm install react-redux-form --save`). Using version 0.9.14 fixes the problem so it seems the issue was reintroduced between those versions.

[2016-05-29 02:15] davidkpiano commented on #238
Do you have a `formReducer` on the state?

[2016-05-29 02:18] Darmody commented on #235
@davidkpiano Cool!

[2016-05-29 02:21] davidkpiano commented on #235
Awesome, closing for now. I'm taking a deeper look into performance for V1, so stay tuned!

[2016-05-29 02:21] #235 closed

[2016-05-29 03:03] omerzach commented on #238
Nope, I'm doing exactly what https://davidkpiano.gitbooks.io/react-redux-form/content/step_by_step.html describes except without a `formReducer` (since it says "Form reducers are always optional")

[2016-05-29 15:02] davidkpiano commented on #238
Ah sorry, I should have mentioned in the docs that form reducers are required if you're using a Form component (which sorta makes sense). I'll rectify this in the docs and by adding a development warning in the code.

[2016-05-29 17:03] VladShcherbin opened #239 "Any performance issues or cons if combined?"
If we have for example 7 forms - it is 14 store keys. I want to combine it into `forms` key:

[code]

Are there any cons of doing this (performance or smth else) ?

[2016-05-29 17:47] VladShcherbin opened #240 "No values onSubmit if form has no initialState"
Currently, there is an _optional_ initialState for a form. If you create a form without state, onSubmit you won't have any fields, even if you specify the value like this and it is rendered:

[code]

I guess there is no way to have a component with a defaultValue that works with no initialState ?

[2016-05-29 19:25] keown opened #241 "validation and custom components"
i've a custom component (material-ui) mapped in this way

[code]

that's my component code

[code]

everything seems to work fine but when the page load the form is in a valid state even if it's not.
if i use a regular input element wrapper in a `Field` component everything seems to work fine.
am i missing something?

[2016-05-29 21:38] davidkpiano commented on #239
I don't believe so! They're all just functions and I think the performance impact would be minimal.

[2016-05-29 22:22] VladShcherbin commented on #239
Awesome, then I'll be using RRF this way. Thanks!

[2016-05-29 22:22] #239 closed

[2016-05-29 22:43] davidkpiano commented on #241
Have you tried this?

[code]

That should work as expected. Inside `createFieldClass`, the mapping is only meant to be for when props don't share the same common event handler prop names as normal components.

For example, if my custom component has `onChangeValue` instead of `onChange`, I'd map it like this:

[code]

This tells the `CustomField` that whenever something goes through `onChangeValue

[2016-05-29 22:45] davidkpiano commented on #240
Can you set this up in an www.esnextb.in to better demonstrate your issue?

Also, important to note that `<input type="text" value="123" />` will _always_ have `value == "123"` since it's a controlled component. That might be where the issue lies.

[2016-05-30 02:49] VladShcherbin commented on #240
@davidkpiano I tried, but it doesn't save the gist

js
[code]

html

[code]

package

[code]

The *priority* value is 1, but when you submit form, you see no value in console. This is what I'm talking about.

[2016-05-30 05:36] keown commented on #241
@davidkpiano

[code]
this solution works but unfortunately the name attribute of the input field is overridden with something like `logInUser.email` (in my case) and i need stay with my value `user[email]`

is there any solution?

[2016-05-30 11:04] #241 closed

[2016-05-30 11:04] davidkpiano commented on #241
@keown Yep, just fixed it! Will go out in the next patch today.

[2016-05-30 11:06] keown commented on #241
thanks a lot @davidkpiano !

[2016-05-30 11:10] davidkpiano commented on #240
Do you want the value to always be 1? The reason this is not part of the model state is because it is set directly to the component, and not set in the Redux store.

Here's an alternative:

[code]

Will this work for your use case?

[2016-05-30 11:41] VladShcherbin commented on #240
@davidkpiano the `value` is just an example. I usually have a `defaultValue` for a checkbox for example, but it won't be in onSubmit values too if not defined in initialState.

If we have 10 checkboxes, triggering dispatch 10 times on componentDidMount is not a good idea I guess.

So, basically, we should always set initialState in the reducers or we won't have the default values.

[2016-05-30 12:26] davidkpiano commented on #240
If you want to use `defaultValue` you still can - your input just won't be controlled. Have you tried that?

[code]

[2016-05-30 12:31] VladShcherbin commented on #240
@davidkpiano yes, it works for in with type text, number, etc. But I can't make it work for a checkbox.

[2016-05-30 12:40] davidkpiano commented on #240
Checkbox values are considered read-only; that is, their value doesn't ever change. It can only be toggled, such as `true/false`. What's your use case for checkboxes?

[2016-05-30 12:58] VladShcherbin commented on #240
@davidkpiano here is a [demo](http://esnextb.in/?gist=cb5dbbcad18f0218c41fde355236054a) on `esnextb.in`

I'm trying to understand, if I need to always set all fields in initialState.

In the demo you can see a checkbox. If you open a console and submit the form - you won't have the checkbox value.

Plus, I found that if you don't specify the initialState for another input in the demo (title), you'

[2016-05-30 14:46] VladShcherbin commented on #240
Okay, I'm closing this as I won't be using `Field` element. Will try to figure it out with custom components.

[2016-05-30 14:46] #240 closed

[2016-05-30 15:09] VladShcherbin commented on #236
I think. the issue is this:

You have your data fetched, how do you populate the form. For example, you have a page `Article`, which has a `Form` component in it. You fetch data in Article and wan't to populate the form with this data. Like this:

[code]

[2016-05-30 15:21] davidkpiano commented on #236
You can populate your form with `actions.load()`:

[code]

The `articleForm` (presumedly from a `formReducer` contains all of the _form_ information, such as if it's focused, valid, touched, submitted, etc. It doesn't carry any `initialValue` property (though it probably will in v1.0).

Are you wanting to have the capability to reset the _model_ to the initial value that you specify in the future?

[2016-05-30 15:24] davidkpiano commented on #240
In the demo you provided, I submitted the form and got a value for both the input and checkbox once I've added the initial values.

[2016-05-30 15:40] VladShcherbin commented on #240
@davidkpiano yes, this was the whole issue - you need to always to set the initialState values.

[2016-05-30 19:09] VladShcherbin commented on #236
@davidkpiano yes, the `load` method will do the job. I think, the question is about reset - how do you reset after you loaded the data (as this data is supposed to be initial state for a form).

I think, in this case, we can store fetched data somewhere and on reset - `load` it again into the form?

[2016-05-30 20:05] davidkpiano commented on #236
Yep, I think this is the best idea, without making things too complicated.

You can do this in your model, by having an ad-hoc `initialState` property and then manually dispatching `actions.change('myModel', myModel.initialState)` when you want to "reset" it.

The reason there can't be a mechanism for setting the initial value at any time past store initialization is that if your store looks like

[2016-05-30 20:11] VladShcherbin commented on #236
@davidkpiano yes, currently this is the best option. Maybe after 1.0, initialState value will be added to the store so this case will be a more simple to solve.

Hope this answers the topic starter's question.

[2016-05-30 20:19] VladShcherbin opened #243 "Is keeping all forms in the store a good idea"
Currently, all forms are created in the store on app load. If we have 10 forms - we have all of them in the store with all fields, props.

Is it a good idea to store all forms instead of creating one by one when the form is rendered (maybe some memory usage, etc) ?

[2016-05-30 21:17] davidkpiano commented on #243
This would make a good enhancement - I'll keep it in mind for V1.0. I'm also planning on only having a single atomic `formReducer` be the requirement for 1.0, since that way, any part of the "form tree" can itself be a form, which would allow for multiple forms (dynamically created/removed, as you mentioned).

[2016-05-30 21:27] VladShcherbin commented on #243
@davidkpiano oh, this future enhancements will be great. Thank you for the package and for answering all my questions!

Feel free to close the issue or to leave it as a note / roadmap.

[2016-05-30 21:49] davidkpiano commented on #243
I'll leave it open until v1.0 hits 😄

[2016-05-31 01:07] mewben opened #244 "<Form> validators throws Error when using immutable"
My `user` reducer is an immutable Map.
I have this form:
[code]

Then the console throws this error:
[code]

I tried not using immutable. It was fine.
Thanks for this cool lib btw. 👍

[2016-05-31 08:01] venelin-mihaylov commented on #236
Thank you very much for your answers.
I have missed the "decorating reducers" part in the documentation.
Having "user" and "initialUser" in redux state, and then decorating my current CRUD reducers will be the best option for now. And on form reset I will use actions.change('user', initialUser)

[2016-05-31 08:01] #236 closed

[2016-05-31 15:04] davidkpiano commented on #244
I appreciate it, thanks!

This is a (non-)issue with validator.js - a recent update to their latest version.

Just make sure that what you're passing into the function is a string:

[code]

for instance. Hope that helps!

[2016-05-31 15:04] #244 closed

[2016-05-31 15:11] #238 closed

[2016-05-31 18:16] kmudrick commented on #228
So, this is closed now, but - does the form "valid" property not actually get computed when following this approach?  Do I have to manually consider:

`valid = !skipCriteriaForm.errors.commentRequired && !skipCriteriaForm.errors.reasonRequred`

[2016-05-31 18:40] tomspeak opened #246 "After an async error, the form cannot be resubmit, even when valid"
A video showcasing the issue: http://cl.ly/gIkN

After returning an async error due to the user not existing, an error is set via:

[code]

I then attempt to login as user 1, which does exist, but even with a valid form (both username and password are present) the form refuses to submit and my login action is never called due to RRF rejecting the submission.

I can put together an ESNextbin isolat

[2016-05-31 18:41] kmudrick commented on #228
To answer my own question, from the docs:

I needed to actually invert my validation criteria (`reasonRequired: true` if reason is _not_ empty), etc

[2016-05-31 19:04] kmudrick commented on #228
Oh, the difference between "is this valid" is that it is just a boolean, and "is this an error" being a boolean as to whether there is an error "description" for that field?  Is that right?

So If I am using that `'': {...}` validator on the form component, that is _only_ setting validity, not errors, right?

[2016-05-31 19:22] kmudrick commented on #228
To follow up: here is what I think is happening and is the source of my confusion:

Since the validator keys (reasonRequired, commentRequired) did not match the model attributes themselves, the `valid` prop on the form was _not) getting recomputed correctly.

The function being invoked for each validation key should be answering the question "is this valid", so it should be returning true when tha

[2016-05-31 19:46] davidkpiano commented on #228
Yeah, I will be clarifying it. Anyway, with validators in the `<Form>` component, the key/values of `{ '': { k: v }}` no longer refer to fields; they refer to validation keys.

If you want them to refer to fields, they'd be on the first level of the object:

[code]

[2016-06-01 01:42] mewben commented on #244
validators={{
  email: (value) => isEmail(value + ''),
}}
[code]

[2016-06-01 20:37] jmeas opened #247 "Littlest documentation error"
On [this page](https://davidkpiano.gitbooks.io/react-redux-form/content/react_native_&_custom_components.html) of the docs, you can find the following code snippet in the example on creating a custom component:

[code]

it's missing the `/` before the closing bracket.

[2016-06-02 00:36] hsrobflavorus commented on #103
@davidkpiano @asvetliakov Updated for 0.13.3 here: https://gist.github.com/hsrobflavorus/d17f5b8c87d75ce6b068

[2016-06-02 03:35] davidkpiano commented on #103
Merged! Thanks a ton! 🎉 🎊

[2016-06-02 03:35] #103 closed

[2016-06-02 03:38] davidkpiano commented on #247
Fixed, thank you!

[2016-06-02 03:38] #247 closed

[2016-06-02 04:11] jmeas commented on #247
✌️

[2016-06-02 14:21] fromanother opened #249 "Field's `onChange` gets triggered if any field changes"
https://jsfiddle.net/zp3r8okw/

In the above code we have two fields, one of them has an `onChange` handler, but it gets executed if any of the fields in the form are changed.

Is this desired behavior?

[2016-06-02 14:46] davidkpiano commented on #249
Good catch! This is not the intended behavior, but the internal way that `onChange`, `onFocus`, etc. are being handled internally will be changed (and greatly improved) in the upcoming v1.0.

However, this might be a bug, so I'll see about patching it.

[2016-06-02 15:34] elodszopos commented on #249
@davidkpiano Confirmed bug. I ran into this just two days ago.

[2016-06-02 16:10] davidkpiano commented on #249
@elodszopos @fromanother Can you look at the above unit test and let me know if it matches your use cases? https://github.com/davidkpiano/react-redux-form/commit/70bd8315e8a1acdfac2252cd2f4ba78d8de8aa2f#diff-b43d85b01204324e63c810644e344418R1319

The unit test above is actually passing, though the current code isn't published yet. This problem might already be fixed 😌

[2016-06-02 16:29] zabojad opened #250 "Support for <input type="file" /> in Field component"
How hard would it be to add support for `<input type="file" />` for use in Field component?

[2016-06-02 16:36] elodszopos commented on #249
PR incoming in a sec with one more test case. Confirmed that the bug is taken care of. @davidkpiano

[2016-06-02 16:39] davidkpiano commented on #250
It should already work, in that it changes the model's value to the file path.

Example here: http://davidkpiano.github.io/react-redux-form/docs/index.html#/recipe/various-controls (warning: old version but nothing should be different in the current version)

Look for the file uploader component there. Does it perform the expected result?

[2016-06-02 18:28] etrepum opened #253 "Why are validators in the view and not the store or reducer?"
It seems awkward that the validators reside only in the view, not in the model. This makes more complex validations that rely on the state of two or more components very manual and error-prone, and it makes it awfully tricky to fire off a request to validate a particular field (particularly if the view for that field is not currently being rendered, or if the validations have changed but the value

[2016-06-02 19:20] davidkpiano commented on #253
Great question!

External validation via actions was a design decision from the very beginning, because **validation can occur at _any_ time**, not just when the model value changes. Consider the following common use-cases:

- Validation on blur
- Debounced validation
- Async validation
- etc.

Sort of, until you take asynchronous validators into account. Then it makes sense that the validators ar

[2016-06-02 20:31] etrepum commented on #253
Validation can indeed occur anywhere that actions can be dispatched, but if you define your validators in a Field then there is no straightforward way to trigger that validation action without also storing the validations that are applicable to that Field somewhere outside of the view.

Conditionally defining validation via props doesn't really work as I would expect it to, because if the props ch

[2016-06-02 20:40] davidkpiano commented on #253
You bring up some very good points, about having a centralized way to do validation (I agree, having them on `<Field>` and `<Form>` is a bit inflexible).

With that said, we need to rule out validators being in the reducer - they don't belong there unless we want to completely discount async and non-change-based validators. So we have two options for a cleaner, centralized validation API:

- Valid

[2016-06-02 20:49] etrepum commented on #253
Yeah you're absolutely right, should not be in the reducer unless it's idempotent, and in these cases it's not always going to be (especially in the async case).

Middleware sounds like a great option! I can't think of any caveats to that… other than, of course, the work to implement it and transition to using that instead :)

[2016-06-02 21:05] etrepum commented on #253
Not sure what your protocol is for closing these kinds of question issues, but you've definitely satisfied this query from my perspective so I'll go ahead and close it (feel free to re-open of course). Thank you!

[2016-06-02 21:05] #253 closed

[2016-06-02 21:48] davidkpiano commented on #253
We can continue to discuss here or elsewhere, would love to know your use cases for non-trivial validation!

[2016-06-02 23:51] etrepum commented on #253
The use case we have is that some enumeration (radio/select/checkbox) determines how other parts of the form should be displayed and/or validated.

For example, a shipping form where there is a country selector and the validators are on the Field components:
* If the country is US, display the subset of the form that has a US address and relevant validations (city, state, zip)
* Otherwise display

[2016-06-03 00:28] davidkpiano commented on #253
Yeah, this is the perfect use-case for (async because validating zip) validation on `<Form>`. Keep in mind that if form-wide validators were allowed on `<Field>`, then `<Field>` would need to rerender any time _any_ part of the form changes, which is a significant performance hit.

[2016-06-03 05:47] etrepum commented on #253
I think that perhaps zip was a bad example, I'm not talking about an async validation here, just a field that should only be validated at all given some particular value of another example. Pretend I said state instead :) Our actual use case is not exactly this, I was translating it to something a bit more common.

[2016-06-03 05:50] etrepum commented on #253
Note also that the downside you mention is only true if validators are specified with exactly the same API that exists today, if the field dependencies can be specified statically there is absolutely not a requirement that anything happens any time any part of the form changes. It's also certainly not true that evaluating a validation means that the field needs to be re-rendered.

[2016-06-03 07:53] zabojad commented on #250
It should not change the model's value to the file path but rather to the File object... When we have an `<input type="file" />`, we usually need the file object to send it over XmlHttpRequest...

[2016-06-03 08:00] zabojad commented on #250
I've workarounded it with:
[code]
But it is a workaround. I think it should work like this out of the box, don't you think?

PS: don't mind the syntax, this is Haxe javascript syntax...

[2016-06-03 08:05] zabojad opened #254 "<select> with only one option in Field cannot trigger action rrf/change"
When I have only one option in a `<select>`, the `rrf/change` cannot be triggered.

It results on this field being always empty and not settable, except if we gave it a `defaultValue`...

PS: version `"react-redux-form": "^0.13.1"`

[2016-06-03 08:23] zabojad opened #255 "Validation on entire form triggers a wrong "rrf/setSubmitFailed" when validation passes again"
If I have a form with a validation rule on the form model (with key `""`):
[code]
Now if I input values that trigger a validation error:
[code]
And then correct the input so that there is no more validation error, **I then have to click on submit twice because the first time I click on submit, it will trigger:**
[code]
And the second click will trigger just this:
[code]

Version `"react-redux-form

[2016-06-03 09:52] i4got10 commented on #255
Also meet that issue today.
To simplify you just need form(with validators prop) with one field(field must not has validator prop).
Every time after input will become valid, you need to press button twice.

[code]

[2016-06-03 12:44] #255 closed

[2016-06-03 12:48] davidkpiano commented on #255
Fixed! In case you were wondering what the issue was:

[code]

The `formValid` flag was being determined on the _existing_ validity of the form, and not taking into account the _new_ validity. Now it does!

This fix also improves performance slightly, as the callback functions for handling valid form submits are no longer recreated each time in `render()` - they're only created once.

[2016-06-03 12:49] i4got10 commented on #255
Will wait for release 👍

[2016-06-03 13:04] davidkpiano commented on #254
Sorry, this is not React-Redux-Form specific. If you try to do this without RRF (or even Redux), you will run into the same issue:

[code]

[2016-06-03 13:04] #254 closed

[2016-06-03 16:40] dave-clover opened #256 "Some issues with lingering fields"
Thank you for the great library.  It has been extremely useful and saves us a ton of time.  I am developing a complicated form and have hit an issue.  I'm not sure what the best solution is, so I'm listing some thoughts here.  Basically, the issue centers around not being able to remove field metadata from the `formReducer` after the field is no longer on the page.

A few issues/comments:

1) It d

[2016-06-03 16:59] i4got10 opened #257 "Validation break if load action called"
Why ``load`` action in ``componentDidMount`` breaks validation?

http://codepen.io/anon/pen/jrPmaM at 30 line

[2016-06-03 17:13] davidkpiano commented on #257
Not sure I follow; can you please list the following?

- What are the **steps** to reproduce the issue?
- What is the **expected** outcome?
- What is the **actual** outcome?

[2016-06-03 17:18] davidkpiano commented on #256
Hmm, the `formReducer` _should_ be acting upon any removed items from an `actionTypes.CHANGE` action by removing the field completely. This will be more elegantly solved in V1.0 but for now, can you give me steps to reproduce?

I will definitely welcome any PRs around this.

[2016-06-03 18:17] i4got10 commented on #257
expected: if one of fields is empty form will be invalid
to reproduce: load the example http://codepen.io/anon/pen/jrPmaM and try to type anything in inputs. At start I expect that form is invalid.

[2016-06-03 18:18] i4got10 commented on #257
Also try to comment line 32. With line commented, form start to work as expected

[2016-06-03 18:45] davidkpiano commented on #257
Sorry, I can't reproduce this in the latest RRF (version 0.13.x). Here's a working version: http://esnextb.in/?gist=a697395c0e02a5b68555c6f1691f103b

[2016-06-03 19:51] i4got10 commented on #257
try to add

``
 componentDidMount() {
    this.props.dispatch(action.change('user', {username:'', email: ''}));
  }
``

[2016-06-03 19:55] davidkpiano commented on #257
Yep, still worked as expected: http://esnextb.in/?gist=a697395c0e02a5b68555c6f1691f103b

[2016-06-04 18:55] #246 closed

[2016-06-04 19:14] davidkpiano commented on #243
@VladShcherbin So after thinking about this, I figured that this would be the ideal API which requires the least amount of typing (in fact, even less typing than if you were to normally combine Redux reducers):

[code]

[code]

The `formReducer` will be what significantly changes in v1.0 for simplicity, and because of its atomic/fractal nature, only one is needed - forms can be infinitely nested,

[2016-06-04 19:31] VladShcherbin commented on #243
@davidkpiano yes, this is a perfect API for me as well.

A single `formReducer` with nested forms. It will be easy to create / modify / remove forms in it, take field values, etc. Just like in your examples.

I like this simplicity a lot 👍

[2016-06-06 09:49] i4got10 commented on #257
@davidkpiano, I`ve got it. Sorry, it was really hard to understand. Problem raise if your have **two** form reducers with similar names(like _user_ and _userEx_). I made a [fork](http://esnextb.in/?gist=1225a9edcb310e0dd7a64e88a9f80562) from your example to demonstrate the problem. Interesting thing here if you comment user and userForm reducers(line 10, 11) validation start to work as expected.

[2016-06-06 11:02] morsdyce opened #261 "Custom field mappings do not work with react production mode"
When deploying my application in production mode react mangles the component names.
This causes the custom field mapping to not work because the component doesn't have the same name.

usage example:

[code]

What comes out in production mode when looking at the react dev tools is something similar to:
[code]

How does the library currently checks the child components? is it using displayName or so

[2016-06-06 12:23] davidkpiano commented on #261
Yep, it's using `displayName`, which is minified in production mode, unfortunately.

V1 will solve this issue, but until then, an easy workaround is this:

[code]

For more info, see:
- https://davidkpiano.gitbooks.io/react-redux-form/content/react_native_&_custom_components.html#custom-components
- https://github.com/davidkpiano/react-redux-form/issues/224
- https://github.com/davidkpiano/react-r

[2016-06-06 12:23] #261 closed

[2016-06-06 13:15] davidkpiano commented on #257
Oh, I know what's going on. Making a patch now.

[2016-06-06 13:41] #257 closed

[2016-06-06 14:40] davidkpiano commented on #224
Updated docs here: https://davidkpiano.gitbooks.io/react-redux-form/content/custom_components.html

[2016-06-06 15:24] i4got10 commented on #257
Thanks!

[2016-06-06 15:32] davidkpiano commented on #261
I've actually just introduced a more idiomatic way to do this:

[code]

This allows RRF to recognize the component by its constructor, instead of by its `.displayName`. Will be available in `0.13.6+`

[2016-06-06 15:38] keown opened #262 "performances in a medium size form"
hi,
i've this form that uses material-ui and react-redux-form

https://gist.github.com/keown/79016d8129fe69f378489fdf7342dd2d

i know it's pretty complex but when i write in one fo the fields everything become terribly slow and unresponsive. am i doing something wrong or it's "normal" ?

[2016-06-06 15:38] morsdyce commented on #261
The syntax seems a bit verbose, maybe instead of providing a separate map you could supply the actual component as the key?

[2016-06-06 15:42] davidkpiano commented on #261
Oh, smart idea. I'll update that now.

[2016-06-06 15:59] davidkpiano commented on #262
Can you put a sample form on www.esnextb.in ?

Also, you can try only updating on blur:

[code]

This should provide a significant performance boost. It's hard to pinpoint exactly where the performance issues are because you're using more libraries on top of RRF (and those might be the bottleneck). V1 will address performance heavily.

[2016-06-06 16:27] keown commented on #262
this code seems to solve the performance issue

[code]

but unfortunately it breaks the material-ui `TextField`

defining `MaterialField` this way seems ok

[code]

but the formReducer tell me the form is valid even if it's not, same problem of #241

[2016-06-06 16:54] #250 closed

[2016-06-06 18:00] dave-clover commented on #256
Okay, I believe I was mistaken.  I wasn't using `omit` correctly.  I was doing something like:

`actions.omit('blah', 'foo.bar')` instead of `actions.omit('blah.foo', 'bar')`.

I've been thinking a lot about what to suggest, but I think it's probably fine as it is now.  The only thing that might be nice is to allow the user to do `actions.omit('blah.foo.bar')`, but it seems easy to reproduce this

[2016-06-06 18:00] #256 closed

[2016-06-06 18:11] davidkpiano commented on #256
That actually would be a good shorthand enhancement, potentially. There's a couple reasons that it's two arguments right now:

- `omit(model, props)` can take in more than one prop, so you can bulk omit properties like:

[code]

- There might be an enhancement in the future where you can pass in a predicate:

[code]

[2016-06-06 18:20] dave-clover commented on #256
Thanks for the quick reply.  The predicate thing would be very cool.

Just brainstorming here, but it might also be nice to specify the name of the property:

`dispatch(actions.omit('blah', (val, name) => name != 'baz'));`

[2016-06-06 18:23] davidkpiano commented on #256
Right, all predicates used throughout the RRF library are of the standard `(value, key, collection) => {...}` syntax.

[2016-06-06 18:30] dave-clover commented on #256
Very cool.  Thanks again for such a great library!  The amount of boilerplate code we no longer have to write is enormous.

[2016-06-06 21:10] compact commented on #262
My forms also render very slowly. From CPU profiling, the functions taking up most of the time are `flatten` and `findKey` inside `getFormStateKey`. It looks like the entire state gets flattened every time the form state has to be retrieved, when the form state is not cached. The Redux state in my app is a large deeply nested object, and flatten is an expensive operation on it.

@davidkpiano, will

[2016-06-06 21:19] davidkpiano commented on #262
Yes it will. However, I'll try to make a patch that improves performance for `flatten` and `findKey`, because `getFormStateKey` _should_ be cached.

[2016-06-06 22:06] davidkpiano commented on #262
@keown @compact I just pushed out a commit that refactors `getFormStateKey()`, with these optimizations:

- `flatten` is no longer used in this function
- `findKey` (lodash) is no longer used in this function
- A breadth-first object key traversal is done first, as `formReducer`s are most likely on the top-level of the state, rather than deep in the leaf nodes.
  - If the `formReducer` key is foun

[2016-06-07 09:30] keown commented on #262
@davidkpiano doesn't fix the problem for me. it seems slower :-(

by the way this solution is ok for me but i need to find out exactly all params i need to map to make everything work correctly, including validations

[code]
 can you help me with that? i gave a look to the source code but i can't really understand what's needed.

[2016-06-07 12:47] davidkpiano commented on #262
@keown Really? It shouldn't be... hmm. Anyway, add this:

[code]

[2016-06-07 15:38] fromanother opened #264 "How to handle validation when form data is loaded async?"
I have this JSX:

[code]

When the page is loaded the form is empty, and the `setErrors` action markes the fields in the form as invalid, since they are empty.

Via an async call I get user data, which I put in the `user` model in a reducer. Now if I don't do anything else and hit submit, my form will be invalid because the form still has the same validation result from the initial page load, ie a

[2016-06-07 16:04] davidkpiano commented on #264
What props are on your `<Form>`? Can you create a minimal use-case example on www.esnextb.in ?

The `<Field>` component can already handle validating when an external model change (such as changing the model after an async call, like your use-case) occurs: https://github.com/davidkpiano/react-redux-form/blob/master/test/field-component-spec.js#L652-L682 So, validation shouldn't need to be triggere

[2016-06-08 08:26] fromanother commented on #264
@davidkpiano When moving the validators in the `<Form validators={{email: ..., username: ...}}>` component it works as described by you.

[2016-06-08 12:20] #264 closed

[2016-06-08 12:21] davidkpiano commented on #264
@fromanother Just fixed it with the commit above. The issue was that if `"user"` was being changed, it was not unflagging the `.validated` flag for `"user.email"` and `"user.username"` so RRF was not re-validating those fields.

[2016-06-08 12:49] zabojad opened #265 "defaultChecked for inputs of type radio and checkbox doesn't work"
The `defaultChecked` prop on inputs of type radio and checkbox does not work while `checked` works and `defaultValue` on inputs of type text work too...

Version: 0.13.6

[2016-06-08 12:54] zabojad opened #266 "Errors component should not render its wrapper component when there is no error"
The Errors component render an empty [wrapper](https://davidkpiano.gitbooks.io/react-redux-form/content/errors_component.html#wrapper-prop) when there is no error on its field.

Instead, it should render nothing (`null`).

Version: 0.13.6

[2016-06-08 13:06] zabojad commented on #265
Also, when using `defaultChecked` on radios and checkboxes with RRF, I have the following warning:
[code]

While I do not have this warning with pure React js (no RRF involved)...

[2016-06-08 13:25] #266 closed

[2016-06-08 13:36] davidkpiano commented on #265
Right, because `defaultChecked` is for _uncontrolled_ components, and RRF makes radio and checkbox components controlled so that they can be updated externally.

Are you sure that you want your radio and checkbox components to be _uncontrolled_ components? If you are using Redux, you can accomplish the same behavior by setting an initial state for the models that these radio and checkbox component

[2016-06-08 13:45] zabojad commented on #265
@davidkpiano I'm actually using this because in the case of this form, I do not know the initial state at application startup. The initial state is dynamic and fetch from the server.

How should I set the initial form state in that case ?

[2016-06-08 13:46] zabojad commented on #265
PS: does it mean I should not use `defaultValue` on inputs type text too ?

What does it means more practically. What will and what will not work ?

[2016-06-08 13:47] davidkpiano commented on #265
Ah, gotcha. You can dispatch `actions.change(model, value)` at any time once you receive the data from the server. Would that work for your use case?

[code]

[2016-06-08 13:48] davidkpiano commented on #265
And yes, you should try to avoid `defaultValue`.

[2016-06-08 13:58] zabojad commented on #265
ok, I'll do that instead... Thank you !

[2016-06-08 13:59] zabojad commented on #265
PS: can we dispatch the entire model value at once, ie:
[code]

[2016-06-08 14:25] davidkpiano commented on #265
Yeah, absolutely!

If you want to merge parts of the model with the entire model, you can also do this:

[code]

which is useful if your `user` model has more fields than just `name`.

[2016-06-08 14:53] zabojad opened #267 "Field component updateOn"
Why can't a Field component `updateOn` `submit` ?

In my case, it would allow big performance improvments...

Also, about the function we can pass to the [updateOn](https://davidkpiano.gitbooks.io/react-redux-form/content/field_component.html#updateon-property) prop: does it take as argument anything that would help us implement a custom behavior (state of the form, etc...) ?

[2016-06-08 15:16] zabojad commented on #267
Also is it normal that a form can be submitted even if the validation rules set at the Field components level do not pass?

[2016-06-08 15:21] davidkpiano commented on #267
Because when a `<form>` is submitted, it is the sole receiver of that event, and there is (currently) no way of letting the `<Field>` component know that a form is _about_ to be submitted before the `<form>` handles the event. If you have any ideas on how to accomplish this, feel free to let me know.

Try using `updateOn="blur"`.

This behavior is deprecated. Use the `changeAction={...}` prop inst

[2016-06-08 15:41] zabojad commented on #267
Then I have the following bug: if I submit a form without touching any field, it does trigger the onSubmit callback...

[2016-06-08 16:05] davidkpiano commented on #267
Are you using a `<form>` or RRF's `<Form>` component?

If you are using `<form>` you need to check validity before submitting.

[2016-06-08 16:12] zabojad commented on #267
Let me describe more precisely the issues I have. Let's consider the following form:
[code]
Details / Problems:
- If I do not touch any field and submit, `onSubmit` is triggered.
- If I touch one required field but do not fill it, then validation triggers (and do not pass) and submission fails (`onSubmit` not triggered). The first submit will trigger validation on the touched field only (not other

[2016-06-08 16:14] zabojad commented on #267
I am using RRF `Form` component, not HTML `form`.

[2016-06-08 16:32] zabojad commented on #266
I've just tested with version 0.13.7 and now it even worse: it will display the Errors components wrapper as soon as the field has lost focus (whether validation passes or not).

[2016-06-08 18:24] davidkpiano commented on #267
I've copy/pasted your example (replaced `form_survey` with `user` but otherwise it's the same thing) here: http://esnextb.in/?gist=df6cfa4a49e2a3ecadb6a03dcc07f2a0

I can't reproduce this.

This is expected, right?

This is also expected. When you touch a field, only that field is touched.

Can't replicate. All validation messages show.

I couldn't replicate this either. When I focus on the second

[2016-06-08 20:17] #265 closed

[2016-06-08 21:03] zabojad commented on #267
@davidkpiano Thank you for your help in debugging this.

I'm trying to isolate what could cause the behaviour I've described and trying to reproduce it on esnextbin.

I did not yet manage to reproduce all what I've described yet but here is a first reproduced issue: http://esnextb.in/?gist=df6cfa4a49e2a3ecadb6a03dcc07f2a0 => If you submit this right after rendering, it will display a validation on

[2016-06-08 21:21] davidkpiano commented on #267
I just updated the gist: http://esnextb.in/?gist=df6cfa4a49e2a3ecadb6a03dcc07f2a0

The first issue is not an issue; I accidentally did `isRequired()` for a number, and since a number doesn't have `.length` it was always invalid. Changed it to `numRequired()` and it works.

Yes, that would make a good enhancement.

[2016-06-08 21:26] compact commented on #262
@davidkpiano That fixed the performance issue on a small form, thanks! I'll test with a large form (hundreds of fields) and update you if there are any problems.

[2016-06-08 21:46] zabojad commented on #267
OK, first thing cleared out: I know now why it as submitting without validating. I'm using validator.js and the isNull() method of this lib return false on `undefined` (why ?!). And my form had validators only on input type text...

I think the issue can be closed.

I'll open a new one if needed and will provide a working reproducer on esnextbin.

Thank you @davidkpiano !

[2016-06-08 22:28] zabojad opened #268 "Dynamic default value for input type text"
As per #265, I know use `props.dispatch(actions.change("model",value))` to set an initial form state dynamically.

However, this doesn't seem to work on input type text: http://esnextb.in/?gist=68458c20fce449d3657970658e922a32

[2016-06-08 22:37] zabojad commented on #268
It seems to be because of the updateOn="blur". How can I bypass this for the initialization of the default state?

[2016-06-09 01:27] davidkpiano commented on #268
If an input has `updateOn="blur"`, then it is an _uncontrolled_ component by necessity right now (because a connected input represents the state, and if you are still focused in the input and type a value, the input's value is not the same as the input's state until you blur).

This will be solved in v1.0. For now, you might need to remove `updateOn="blur"` if you want it to update, or have the co

[2016-06-09 01:29] davidkpiano commented on #267
Yeah, I'm moving away from using validator.js myself, there are other good libraries out there. Thanks for the detailed issue!

[2016-06-09 01:29] #267 closed

[2016-06-09 06:38] zabojad commented on #268
There is some incoherence here... updateOn="Blur" should make the component "half controlled", not uncontrolled at all... I don't see what is the use on this `updateOn` prop on `Field` if it make the `Field` component itself useless...

If it were *half controlled* (synchronizing with the form model/state only at initialization and on blur), then I could have workaround my issue simply by renderin

[2016-06-09 12:20] davidkpiano commented on #268
There is no such thing as a "half controlled" component. It is either fully controlled or fully uncontrolled; React will throw a warning if you go from making a component uncontrolled to controlled (and vice versa).

This will be fixed in V1 by making the component **fully controlled** with regard to its `viewValue`, which may differ from the `modelValue` in that it is always in sync with the `mod

[2016-06-10 12:08] Ahmtdnz opened #269 "Select Component Doesn't Work"
I need help for custom component. Select component doesnt work with Field.

[code]

[http://prntscr.com/beocfz](url)

[2016-06-10 12:34] davidkpiano commented on #269
Which custom Select component is this? Did you read the docs on [Custom Components](https://davidkpiano.gitbooks.io/react-redux-form/content/custom_components.html)?

[2016-06-10 12:42] Ahmtdnz commented on #269
Sorry, i didn't see. Do you have custom component example ?

Thanks for help.

[2016-06-10 12:47] davidkpiano commented on #269
The Material-UI `TextField` example works well:

[code]

[2016-06-10 13:50] acidicX commented on #33
Webpack v2 will include tree shaking and only bundle the lodash functions you really used :-)
https://medium.com/modus-create-front-end-development/webpack-2-tree-shaking-configuration-9f1de90f3233

[2016-06-10 13:53] davidkpiano commented on #33
@acidicX Yes, that'll be really helpful, though I anticipate many developers will still be using Webpack 1.

I am actively working on reducing the bundle size in V1, and you can check out the current work in the `v1` branch.

[2016-06-10 14:08] #269 closed

[2016-06-10 21:01] dave-clover opened #272 "Persist Keys?"
Hello again!

https://github.com/davidkpiano/react-redux-form/blob/master/src/reducers/form-reducer.js#L170

What is the purpose of the persistKeys stuff?  I'm calling `omit` to remove a field, `blah.foo`, but that field is getting added back as `blah.0`.  Why the field state being added back after being deleted?

[2016-06-11 01:11] davidkpiano commented on #272
Hey! How are you calling `omit`? Can you please show me a minimal reproducible test case demonstrating the unexpected result/potential bug?

[2016-06-11 17:09] Ahmtdnz opened #274 "Add an auto-complete example?"
İ have [react-select](http://jedwatson.github.io/react-select/) but react-select(event.target.value) == null

Thanks for help. Have a nice day.

[2016-06-11 18:43] davidkpiano commented on #274
If possible, can you reproduce the issue inside of www.esnextb.in ?

[2016-06-11 21:43] Ahmtdnz commented on #274
it is [here.](http://esnextb.in/?gist=910c97a242a1c47b967c5b4a09d0c5c3)
but [react-select ](http://jedwatson.github.io/react-select/) doesn't work with [](http://esnextb.in/).
i have "react-select": "^1.0.0-beta13" .

[2016-06-11 21:50] davidkpiano commented on #274
The first thing I noticed was that your `<Select>` component is inside a `<Field>` that doesn't know what kind of component that is. Have you read the [documentation on custom components](https://davidkpiano.gitbooks.io/react-redux-form/content/custom_components.html)?

[2016-06-12 06:32] rahulraibit opened #275 "How to use Cascading Dropdown in this form ??"
Hey I want to know how to implement the cascading dropdown in my form. I am new to react redux and  I am facing issues to implement the custom events. for eg. Onchange event of the one field how to update the model of another field. If possible kindly give  some example. Thanks in advance

[2016-06-12 11:45] davidkpiano commented on #275
This seems like a specific use-case. Can you show me the code you have for this so far?

You can dispatch `actions.change('some.other.model', ...)` at any time:

[code]

[2016-06-13 04:51] rahulraibit commented on #275
Thanks for the Reply. But In my case I have a base form which will dynamically generate the controls and  a parent page that will pass the model for generating the form. Now I want the handler in my base form should be generic that will simply pass the required data to parent where I can Call my custom reducer and play some logic.

Here is an example.

**Base Form**

[code]
Here is the **handleCha

[2016-06-13 12:42] davidkpiano commented on #275
This seems pretty contrived, and I don't see where you are `connect()`ing your components to make `dispatch` available in the props. Please break the problem down to the most minimal example possible (that is, without the custom logic) and put it on www.esnextb.in so that I may be able to help you.

[2016-06-13 12:42] #275 closed

[2016-06-13 15:22] davidkpiano commented on #274
I'll close this for now, since it's a usage question and not an issue. If you encounter any bugs while trying to implement RRF into React-Select, feel free to open another issue.

[2016-06-13 15:22] #274 closed

[2016-06-14 13:41] greaber commented on #184
Why is it considered good practice to specify an initial value for each model?  I already write out all the values of the model in two places: the actual form component and the constructor.  Since the initial state is invalid, I can't construct it with the constructor.  Why is it good practice to list out all the fields in a third place, pairing them all with empty strings or other semantically nu

[2016-06-14 16:37] MiMaMuh opened #276 "onBlur/onFocus don't pass event to asyncValidator"
Hi,

I use an custom component created with createFieldClass() anything like this:
(React Native 0.26.3, react-redux-form: 0.13.7)
[code]

But when I use a asyncValidator it will not pass any value to the validator function when I use 'blur' or 'focus':
[code]

But it works, when I pass a custom string-value to onBlur for example:
[code]

When I pass the event, it won't work:
[code]

Is it a bug?

[2016-06-14 18:19] davidkpiano commented on #184
@greaber V1.0 will alleviate this requirement.

[2016-06-15 09:46] MiMaMuh opened #277 "Async-validation removes sync-validation state?"
Hi,
(react-redux-form 0.13.7)
I've implemented a login form for the username with some sync-validations and a async-validation which checks if the username is already in use like in your example of the docs:

[code]
Doing so, my sync-validation result will be cleared when the async-validation result will be added to the store. This causes a leak as when I write a username with just 4 letters it is

[2016-06-15 14:00] i4got10 opened #278 "Field with updateOn="blur" does not reflect model value"
Example: http://esnextb.in/?gist=1225a9edcb310e0dd7a64e88a9f80562
Took a look at 2 emails fields. One will get loaded value, and one will stay empty.

Also this bug occurs with ``parser`` property. Field does not retrieve new parsed value.

[2016-06-15 17:21] davidkpiano commented on #278
This is because `updateOn="blur"` fields right now are *unconnected* fields - since they reflect the model value, they can't be connected to the `modelValue` if they're only updated on blur.

I'm working on resolving this in V1. The idiomatic way to handle this right now is to control the `<input>` yourself, using `this.setState` in the `onChange` handler.

[2016-06-15 17:48] #277 closed

[2016-06-16 15:28] MiMaMuh commented on #277
Hi, thx for your quick fix!

It seems there ist still an issue: It works when a sync-validation is followed by an async-validation. But when a sync-validation follows an async-validation the store will be overwritten as before.

[2016-06-16 15:48] MiMaMuh commented on #277
Hm, just considering it: It isn't really an issue. I think it is needed by concept this way otherwise there are conflicts when the value gets changed and the async-error prompts the field is invalid till it gets new results even it may be corret – tricky.

[2016-06-16 18:47] davidkpiano commented on #277
@MiMaMuh:

This is what I consider as well. Here's my thoughts, assume you have two validators:

- (sync) `required`
- (async) `available`

Now consider the following changes:

1. `''` results in `{ required: false }`
2. `'taken'` results in `{ required: true }` and triggers async validation...
3. `'taken'` is not available, so `{ required: true, available: false }`
4. `'not-taken'` executes `setV

[2016-06-17 10:13] zabojad opened #285 "Trigger submit() on Form RRF component"
How can I trigger a submit() (like the [HTML Form Element `submit()`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLFormElement/submit)) from js on a RRF `Form` component ?

It seems that setting a ref on the `Form` instance won't help as it does not have any `submit` method...

Also, submitting the generated form element (with a `querySelector("form").submit()`) oddly reloads the page and

[2016-06-17 10:52] zabojad opened #286 "Issue with inputs of type file"
Test case: http://esnextb.in/?gist=45c657f908a1d78ccc42935ede829e7f

Problem: When updating a input type=file value, I get this error in the console:
[code]

[2016-06-17 14:52] #286 closed

[2016-06-17 15:39] zabojad commented on #285
@davidkpiano what about adding a `submit()` method to RRF `Form`? that we would call via

[2016-06-17 22:45] zabojad opened #288 "onChange does not trigger on input checkbox ?"
=> http://esnextb.in/?gist=96a3c54a86dbaf3a8301a6d86e4ad260

Why is onChange not getting triggered when checking/unchecking a checkbox?

[2016-06-17 22:58] davidkpiano commented on #288
Because it should be `onClick`. The value never gets changed.

[2016-06-17 23:05] zabojad commented on #285
I'm having another case where I would need this: on some form, I need the checkboxes to trigger their form to be submit when they get checked... How could I achieve that?

[2016-06-17 23:36] davidkpiano commented on #285
I'll have a fix for this soon - the issue is that directly calling `submit()` on the form node will do the default action of submitting the form the HTML5 way.

[2016-06-18 01:24] prawana-perera commented on #65
Thanks, helped me with my issue using reac-bootstrap:
`
const FormField = createFieldClass({
    'FormControl': controls.text
}, {
    componentMap: {
        FormControl: FormControl // recognize component by constructor
    }
});
`

[2016-06-18 07:30] zabojad commented on #285
@davidkpiano is there any temporary workaround I could use (for example some hidden method on the RRF `Form` component for example) until you come back with some API to submit a `Form`?

[2016-06-18 08:16] venelin-mihaylov opened #289 "server side validation on submit"
I have the following scenario:
I want to have separate server validation before create/update, and to be able to return the errors from the server and visualize them in the UI.
On create/update record the user submits data to the server, and the server validates the data before performing the actual update to the database. In case of an error, the server returns fields along with errors. The serve

[2016-06-18 08:31] zabojad opened #290 "Support for input type="reset""
It could be nice that RRF `Form` components support the inputs of type reset, ie that triggering such inputs would reset the `Form` model to its initial state...

[2016-06-18 11:15] tomspeak commented on #289
Which version of RRF are you using? I believe I faced something similar, which, if I understand your problem correctly, was fixed [here](https://github.com/davidkpiano/react-redux-form/commit/d2d2fd1bc24032e73e7e9072fe5e665c6240cc29) in v0.13.5.

[2016-06-18 11:35] davidkpiano commented on #290
Good idea! I'll add that soon as well.

[2016-06-18 15:26] venelin-mihaylov commented on #289
0.13.8, the latest

[2016-06-19 08:23] venelin-mihaylov commented on #289
I was able to better pinpoint the issue, will open a new issue with better description.

[2016-06-19 08:23] #289 closed

[2016-06-19 08:32] venelin-mihaylov opened #291 "actions.setErrors(), actions.setValidity() brakes form.onSubmit()"
I want to manually set field's errors - `actions.setErrors(fieldName, 'too many errors')`. It's ok. Then I clear the errors manually, with `actions.setValidity(fieldName, true);`
Then I call `form.onSubmit()`, which instead of calling it's `onSubmit` prop, marks the forms as invalid ...
The form triggers actions

[code]

Am I doing something wrong, or this is a bug?
Is it possible `onSubmit()` the

[2016-06-21 16:12] davidkpiano commented on #291
Can you put this in an www.esnextb.in so I can better diagnose the issue?

[2016-06-22 16:17] compact opened #292 "Form state path for a collection is item.0 instead of item[0]"
Here's a diff to demonstrate what I mean: https://github.com/compact/react-redux-form/commit/49b12ea53c2c6ef1ad5bad5f9f0cedf6d410e484

Is it intended for the form state path to be `'fields.deep.collection.0.five'` rather than `'fields.deep.collection[0].five'`? I was expecting the latter and then realized it's the former. This isn't a huge deal, I think it would help to distinguish an array from a

[2016-06-22 16:33] davidkpiano commented on #292
Yes, that is intended. This will be addressed in V1, where you could access it as if it were an array, like so:

[code]

[2016-06-22 20:16] compact commented on #292
In V1, if I want to access the state directly from say a selector, will it be `.0` or `[0]`?

[2016-06-22 22:43] davidkpiano commented on #292
It will be the exact same shape as the state, so `[0]`. Also keep in mind that internally, lodash's `.get` method interprets `foo[0]` and `foo.0` the same.

[2016-06-22 23:00] #292 closed

[2016-06-23 16:10] Morhaus opened #293 "Model selectors"
I'm trying to create custom nested fields, but I don't see a way to retrieve a value from a model path.

Take the following example:

[code]

Is there anything equivalent to the `getModel` selector?

[2016-06-23 17:52] davidkpiano commented on #293
Sure, if you're using lodash (which RRF uses internally), you can just use `get`:

[code]

But this would be a good enhancement to expose it so I'll mark it as an enhancement.

[2016-06-23 21:02] #290 closed

[2016-06-23 21:05] davidkpiano commented on #293
Actually it's already available:

[code]

[2016-06-23 21:05] #293 closed

[2016-06-23 21:22] #288 closed

[2016-06-23 23:36] Morhaus commented on #293
Thanks for the quick reply!

[2016-06-24 01:28] TLadd opened #294 "Allow function for Field validateOn"
Would it be possible to allow the Field's validateOn to take a function, which is passed the fieldValue? May make sense to pass the modelValue as well for some other use case.

My reason for wanting this ability: I basically want error messages to appear on blur, but to disappear on change. Thus, my field currently looks like
[code]

Since I'm depending on these values from the formReducer, I'm fo

[2016-06-24 02:57] davidkpiano commented on #294
Yeah sure, I'll mark it as an enhancement.

You can do this with the `<Errors />` component like so:

[code]

[2016-06-24 03:40] TLadd commented on #294
Cool, thanks for the tip.

[2016-06-29 00:51] mewben opened #296 "How to manually submit the form?"
I have a form which does **not** use `<button type="submit">` to avoid submitting the form when the user presses the `Enter` key.

I tried putting ref on the Form component
[code]

then calling `this.refs.myForm.submit()` upon clicking the button throws this error:
[code]

Is there any way to manually submit the form through this? Thanks

[2016-06-29 09:59] tomspeak commented on #296
There's an existing discussion at #285.

[2016-06-29 18:33] davidkpiano commented on #296
Yeah, I'll be creating a temporary workaround for this. It's really not good practice to be attaching ad-hoc methods on the form instance, so we'll have to think of a better way to accomplish this.

[2016-06-29 21:18] lennerd commented on #173
Just my two cents:

[code]

Similar to relativ directory paths.

[2016-06-30 14:31] ishwinder commented on #269
Were you able to make the select component of material-ui work with react-redux-form ? Material-ui select seems too buggy :(

[2016-07-01 19:09] matias89 opened #298 "Problem with form Model validation"
Hello! I'm executing "setValidity" function when I click in the onSubmit button (`<Form model="userProfileForm" onSubmit={this.handleSubmit}>`), but the first time userForm.valid returns true when should return false.

Example:
[code]

My input is:
[code]
![ezgif-1900187333](https://cloud.githubusercontent.com/assets/5619274/16532405/21d87a0c-3fa8-11e6-84ad-54c4b79b7047.gif)

[2016-07-02 16:34] davidkpiano commented on #298
Right, because at the point you dispatch that action, the component has _not_ rerendered with the new props yet until it finishes execution of that method. You can't treat dispatching an action as imperative, you have to wait until the component rerenders with new props.

This is what's happening:

- `setValidity` action dispatched
- `userProfileForm` is still valid because changes haven't propaga

[2016-07-02 16:34] #298 closed

[2016-07-02 17:40] #285 closed

[2016-07-02 17:41] davidkpiano commented on #296
Now there is!

[code]

[2016-07-02 17:41] #296 closed

[2016-07-02 17:42] davidkpiano commented on #285
This is now fixed! See here: https://github.com/davidkpiano/react-redux-form/issues/296#issuecomment-230113569

[2016-07-02 17:45] davidkpiano commented on #173
@lennerd I'm going to plan on handling it with only single nesting. This is because DOM structure does not necessarily reflect data structure.

[code]

[2016-07-02 18:57] davidkpiano commented on #294
Actually, yeah, because of the event sequencing logic, it's preferred to just have it validate on a certain event, such as `"change"` or `"blur"`, and show the errors conditionally like I've demonstrated.

[2016-07-02 18:57] #294 closed

[2016-07-02 18:57] davidkpiano commented on #291
@venelin-mihaylov Any updates on this?

[2016-07-02 23:20] lennerd commented on #173
Sorry, I don't quite get, what you mean. You mean a Field component is user outside of Form?

[2016-07-03 01:54] mewben commented on #296
Super awesome! Thanks for the quick address on the request... 👍

[2016-07-03 03:19] davidkpiano commented on #173
The way it's going to work is that `<Form>` is going to create a context (optional) so that any field inside `<Form>`, no matter its nesting, can elect to have a shortened model prepended with a dot, which would look in the context and find the correct model.

[2016-07-03 09:05] lennerd commented on #173
But isn't that possible with the dot syntax? Omitting the dot would select the model directly. Similar to `react-router` where route URLs can be appended to there parent route if you don`t add a starting slash.

Sorry to maybe sound stupid. Maybe it would help if you can give a code example.

[2016-07-03 09:07] lennerd commented on #173
It would also be possible to have to dots selecting the previous parent. `..name` in `user.images` would select `user.name` for example.

[2016-07-03 14:05] ottoo opened #300 "Redirect after submitting a form"
In my forms onSubmit handler function, I am trying to redirect to another route that is rendered in the same container by dispatching an action. Here, pushing or replacing the browserHistory causes an error `Uncaught (in promise) TypeError: Cannot set property 'submit' of null(…)`.

In the container:

[code]

If I remove the route change, form submits fine. Does anybody know whats the issue here?

[2016-07-03 14:28] ottoo commented on #300
Originates from form-component

[code]

Looks like when redirecting to another route it cant find the form to attach the submit to or something.. ?

[2016-07-03 15:26] mruhlin commented on #173
Cool, this looks good.  So for my example about home and work addresses, I'd just have to use multiple form tags, i.e.?

[code]
AddressFields.jsx...
[code]

If I did it that way, I'd still only need one set of reducers in my redux store right, or would I need to create separate form reducers for each address?

[2016-07-03 21:57] zabojad opened #301 "Field does not work with embedded inputs"
In my app, I need to attach some logic on inputs elements related to scrolling on focus. As it's always the same things, I've generalized it in a FocusInput component that just renders this:
[code]

and I try to use this in forms like a normal input:
[code]

However, when doing so, the RRF `Field` component completely ignore the FocusInput comp while what it's doing is simply rendering an input an

[2016-07-04 04:05] davidkpiano commented on #301
Have you read the section on custom components? https://davidkpiano.gitbooks.io/react-redux-form/content/custom_components.html

[2016-07-04 04:07] davidkpiano commented on #173
You can do it under a single `userForm` and that will work fine. If you wanted to treat `user.homeAddress` as its own isolated form, you'll have to wait until version 1 for that. But yes, that's how the syntax should work, as you have it.

[2016-07-04 04:08] #300 closed

[2016-07-04 15:16] i4got10 commented on #300
Get this error then updated react from 15.1.0 to 15.2.0

[2016-07-05 15:31] davidkpiano commented on #300
This is available in `0.13.11`

[2016-07-05 20:42] gregnorris commented on #278
Is there an easy way to do that right in the call to <ReactReduxFormField model={ model } updateOn="blur" .... ?
If you could throw a snippet of code, that would be fantastic.

Thanks!

[2016-07-05 20:56] TLadd opened #304 "Unknown Props Warnings with React 15.2.0"
React 15.2.0 added warnings for unknown props on DOM elements (like form), which causes warnings when using the Form component because it passes all props to the form here: https://github.com/davidkpiano/react-redux-form/blob/master/src/components/form-component.js#L208

Sample warning:
[code]

[2016-07-05 23:08] armandomendivil opened #305 "How can I use the TimePicker from Material-ui?"
This is my code
`const MaterialField = createFieldClass({
  'TextField': controls.text
});`

`<MaterialField model="week.monday.in">
  <TimePicker
  format="24hr"
  hintText="00:00"
  />
</MaterialField>`

Also i have performance problems with the TextField :(

[2016-07-05 23:50] davidkpiano commented on #305
What's the issue?

Also, try to map dispatching actions directly to the component first: https://davidkpiano.gitbooks.io/react-redux-form/content/custom_components.html

[2016-07-06 08:36] gstrobl opened #308 "Dynamic Input Fields"
I'm new in react+redux and I want to create a form where I could add input fields. Do you have a example maybe?

[2016-07-06 11:00] zabojad opened #309 "Errors component should not render its wrapper component when there is no error"
This is exactly the same issue as #266 however it now happens only on form root errors (for example on password match validation), ie on errors set at key "".

[2016-07-06 13:27] davidkpiano commented on #309
Thanks for reporting, can you spin up a quick www.esnextb.in if you get the chance to demonstrate the error with your use case so I can create accurate unit tests?

[2016-07-06 13:32] davidkpiano commented on #308
Sure, if you have the initial setup already completed, you can do something like this:

[code]

Does this make sense?

[2016-07-06 13:32] #308 closed

[2016-07-06 13:56] #304 closed

[2016-07-06 13:58] davidkpiano commented on #291
Closing due to inactivity. If you could, please make an www.esnextb.in with the minimal code necessary to reproduce the issue so I could better diagnose.

[2016-07-06 14:05] davidkpiano commented on #309
@zabojad This should fix the issue. Can you please confirm in `0.14.0`?

[2016-07-06 14:05] #309 closed

[2016-07-06 14:07] davidkpiano commented on #301
Please create an example on www.esnextb.in as well, otherwise I am unable to reproduce this.

[2016-07-06 14:07] davidkpiano commented on #272
Closing due to inactivity. This will be refactored in V1.0

[2016-07-06 14:07] #272 closed

[2016-07-06 18:44] dave-clover commented on #272
Sorry for the delay...super busy right now.  Sounds fine to me.  Thanks again for the great library.

[2016-07-07 14:27] i4got10 opened #311 "Problem with zero as a number"
Starts from 0.13.7 there is a problem with a zero value(number must be number)

Example
https://esnextb.in/?gist=942f1e034d5960539f10baeedc56536b

[2016-07-07 18:23] #311 closed

[2016-07-07 18:24] davidkpiano commented on #305
Closing this as it is a usage question. Let me know if dispatching actions directly works!

[2016-07-07 18:24] #305 closed

[2016-07-07 18:25] #301 closed

[2016-07-08 08:54] zabojad commented on #309
@davidkpiano I confirm it works fine now with `0.14.0` :)!

[2016-07-08 11:26] i4got10 commented on #311
it also affect object values now. ``{}`` translates to ``[object Object]`` before. Dont know matter it or not

[2016-07-08 12:21] davidkpiano commented on #311
Curious, why would a value that's meant for a text field be an object? In order to display the view value, JS has to convert it to a string, which happens to be `"[object Object]"`.

[2016-07-09 10:55] zabojad opened #312 "Issues on 0.14.0 and 0.14.1"
On `0.14.0` and I'm having the following issues (please check on [esnextb reproducer](https://esnextb.in/?gist=45c657f908a1d78ccc42935ede829e7f) and change the RRF version to `0.14.0` in the package tab):

-> the `validateOn="submit"` on the Form component is completely ignored and fields get validated on blur

I've just updated to `0.14.1` and I'm having the following issues (please check on [esn

[2016-07-09 15:42] #312 closed

[2016-07-09 18:42] davidkpiano commented on #80
For the meantime, I'm going to respect the original behavior of the DOM `<select>` and `<option>` components and keep the values as strings. I might make an exception for numbers and booleans, however.

[2016-07-09 21:02] zabojad commented on #312
@davidkpiano 3537554 does not address the issues I've described for `0.14.1`? Do you confirm it's a bug?

[2016-07-09 21:31] davidkpiano commented on #312
@zabojad This test case should reproduce your exact bug: https://github.com/davidkpiano/react-redux-form/commit/3537554b9b78a6dc0cc7311c9f7d1a6fcf2d8c6e#diff-55bc9da456e5c128d620d4d263cb75b3R333

Yes, I did confirm it as a bug and it will be released the next patch later today. Can you look over that test case and make sure that it is exactly your use case? I tried to replicate it as much as possi

[2016-07-11 00:49] hgylfason opened #313 "Is it possible to have nested collections?"
Is it possible to have nested collections?

E.g. if this would be my data model:
`{
  groups: [
    {
      id: 11,
      values: [
        {id: 1, value: 10},
        {id: 2, value: 13}
      ]
    }
  ]
}`

Is there some way to point to the "value" property?

This is what I've tried for fields (id is available from the outer context) with no success.
`
<Field model={track(model('groups[].values[

[2016-07-11 02:15] davidkpiano commented on #313
So the issue here is that `track(...)` answers the question "Which item in the collection should we refer to?" However, you're trying to identify two things at the same time: an unknown collection that contains items which themselves might contain the item you're talking about (nested collections).

So, it would be best to identify the outer collection model first (and you can use any method you p

[2016-07-11 09:20] hgylfason commented on #313
Ok, that is probably it. Thank a lot for the quick reply and for this brilliant library.

Would you consider making `track` handle multiple layers of collections in the future*?
E.g. `track` could receive a list of predicates and would use them to identify item in each collection.

*I admit I am not familiar with the inner workings of `track` so please dismiss this if it's not applicable.

[2016-07-11 09:20] #313 closed

[2016-07-11 11:01] zabojad commented on #312
@davidkpiano yes this test case covers the `0.14.0` bug. I'm however not very familiar with writing test cases and I'm thus not sure it covers the `0.14.1` bug I've mentioned initially which is:

I'm pretty sure [this fix](https://github.com/davidkpiano/react-redux-form/commit/3537554b9b78a6dc0cc7311c9f7d1a6fcf2d8c6e#diff-cfaf268029a93726219cd338fd34ab7cR32) just covers the `0.14.0` issue, not the

[2016-07-11 11:40] davidkpiano commented on #313
@hgylfason All `track` is is a function that returns a "model getter". That might still sound complicated so read here to see how it's created: https://davidkpiano.gitbooks.io/react-redux-form/content/tracking_collections.html

[2016-07-11 21:31] edmcmanwich opened #314 "Warn when using track outside of Field component"
I tried using the track function outside of the Field model props assuming that it would return the path to the model. This didn't work. I'm guessing that the function doesn't have access to the state outside of the Field component and therefore can't find the index. However, I would expect this to throw some kind of warning. Instead it ignores the brackets and returns a path without and index and

[2016-07-11 22:28] davidkpiano commented on #314
You can use the track function outside `<Field model={...} >`. It is a function that returns a function that, given a state, returns the expected model path. And it's a pure function, so it isn't (nor should it be) context-aware.

[code]

[2016-07-11 22:28] #314 closed

[2016-07-13 18:35] matias89 commented on #298
Thanks for response. Then: how I can get the form validation when I submit my form?

[2016-07-13 18:39] davidkpiano commented on #298
You can get it from `userProfileForm.valid` and `userProfileForm.validity` (which is more detailed).

Also, you can get the validity of each field: `userProfileForm.fields.foo.validity`

[2016-07-13 19:03] matias89 commented on #298
Sorry, but I can't understand, because if I don't add or change any text in the form when I load it the first time, and the form is submited, and in my submit function I use "setValidity" for required field (false), I can't get the validation with "userProfileForm.valid".

[2016-07-13 19:44] davidkpiano commented on #298
Can you please post a code example on www.esnextb.in ?

[2016-07-14 15:28] matias89 commented on #298
Yes: https://esnextb.in/?gist=0bd9c168f58a07e29cae94483cf699b1

[2016-07-14 16:56] davidkpiano commented on #298
Two things:

First, make this change:

[code]

to let RRF know that this `userProfileForm` is for the `userProfile` model. (This will be greatly simplified in V1).

Secondly, since dispatching is not synchronous, you will have to check the validity in `componentWillUpdate` or a similar method. If you don't enter a value and click `submit` twice with the modification above, you will get `true` (bec

[2016-07-15 12:55] sakarit commented on #172
You can also fix it little bit cleaner like this:

[code]

@davidkpiano I tracked down the issue to [this line](https://github.com/davidkpiano/react-redux-form/blob/master/src/utils/sequence.js#L52), there is no type prop available in react-bootstrap's Checkbox.

[2016-07-15 13:35] davidkpiano commented on #172
Thanks, @sakarit! You can also add it manually:

[code]

[2016-07-16 09:32] Slavenin opened #318 "Why track function not work in actions?"
Hi!
I try use track function for find model in my dynamic form, but this did not work.
Call:
[code]
did not work
I must first find index in my state:
[code]
But this not fine.

[2016-07-16 15:55] #318 closed

[2016-07-18 16:59] ottoo opened #319 "How to use with ImmutableJS?"
Hey. I tried to look around and find how to use the project with ImmutableJS, but couldn't really figure it out? Could you at some point provide a section in the documentation?

I tried to create a modelReducer and formReducer with

[code]

and something like this. Does the model need to be converted toJS() here or can it be straight the Immutable.Map() from the model?

[code]

and then somewhere

[2016-07-19 20:41] Sephi-Chan commented on #319
Same problem here.

[2016-07-19 21:03] tmartensen opened #321 "Advice on where to put form data?"
This is more of a question than an issue, but what is the best practice for keeping form data with the form? For example: currently, I'm loading several arrays of options from the server and using them to populate options in some selects. Where would these options be stored in state? Any suggestions would be helpful. Thanks!

[2016-07-19 21:31] davidkpiano commented on #321
What kind of options would these be? Is it related to the model or the form state?

If it's the model, make a custom reducer and wrap it in `modeled(...)`: https://davidkpiano.gitbooks.io/react-redux-form/content/model_reducers.html#using-existing-reducers

[2016-07-19 21:34] davidkpiano commented on #319
I'm working on this! What's going to happen temporarily in `0.x` is you'll have to `import { Field } from 'react-redux-form/lib/immutable'` as well, and then use that.

In V1 it'll work the exact same way, importing from `'react-redux-form/immutable'` instead however.`

[2016-07-19 22:03] davidkpiano commented on #319
@sephi-chan @ottoo Can you do me a huge favor and post a minimally reproducible code sample on www.esnextb.in that shows that `<Field>` doesn't work with an immutable model reducer using Immutable.JS? That way I can write accurate unit tests.

[2016-07-20 03:06] tmartensen commented on #321
I would think that the options would be form state, because those choices might not necessarily be saved as part of the model. For instance, when selecting a car, you would only select one make (e.g., Ford) to be come part of the model. All the other options should be somewhere in state, but not in the model. Does that make sense?

[2016-07-20 03:14] davidkpiano commented on #321
So you're talking about an array of options such as `{ makes: ['Ford', 'BMW', 'Audi', 'Tesla'] }` etc.? Seems to me like this is a constant that should be referenced in a separate reducer, since the model reducer only cares about what the _current value_ is, and the form reducer only cares about the _state of the form_, such as `focus`, `pristine`, etc.

I'd set up something like this:

[code]

[2016-07-20 03:18] davidkpiano commented on #276
@MiMaMuh This doesn't seem to be occurring in `0.14.2`. Can you please confirm here by looking at this test case (which is pretty much a copy-paste of your implementation)?

https://github.com/davidkpiano/react-redux-form/commit/6d31d97ebc0a7c00c3fff7304d2ebac673f8dd15#diff-ded95f7363bb42a57e08873c85c00260R234

[2016-07-20 03:58] davidkpiano commented on #319
Here's the fix, just like I mentioned. Now you have to import `Field` as well from `react-redux-form/lib/immutable` (which isn't a huge deal, since you're importing stuff from there anyway).

If you're curious to how this was done, it's just this:

[code]

where `immutableGetFromState(state, model)` is a function that gets the model from the state, and checks along the way to see if it's an Immuta

[2016-07-20 08:20] Sephi-Chan commented on #319
I get errors when i import Field from react-redux-form/lib/immutable.

Here us the minimal code :

[code]

[2016-07-20 08:54] alexesDev opened #322 "[React.Native] How to run submit logic?"
I see a source code, ```<form>``` has submit event and it run validation.
But how can I run the validation for the native form? (for empty form)

[code]

[2016-07-20 09:49] MiMaMuh commented on #276
@davidkpiano Hi, yes, your test-case looks fine. I just looked to my issue: I updated to react-redux-form 0.14.1 and tried it again.

I stumbled about a new issue with my temporary fix. To bridge this issue I wrote a ```onBlur``` function with:
[code]

This works just fine with ```asyncValidateOn={'change'}``` but I just figured out it is broken with ```asyncValidateOn={'blur'}```. It seems with r

[2016-07-20 09:53] alexesDev commented on #322
Solution

[code]

[code]

[2016-07-20 12:59] mackenzie-gray commented on #319
This hasn't seemed to fix the issue for myself either, I am getting `Unknown prop 'getter'` in my console now after building from src and importing the lib into my project.

[2016-07-20 14:04] davidkpiano commented on #322
@alexesDev That's a good solution! Since RRF is a library, and not a framework, more than one solution exists and you can use the one that best fits your needs. You can validate directly on the `<Field>`s, or you can dispatch actions that validate before submitting.

[2016-07-20 14:04] #322 closed

[2016-07-20 14:05] davidkpiano commented on #276
I'll continue to investigate events with React Native, that seems strange that it doesn't get that property. Thanks for looking into it!

[2016-07-20 14:05] #276 closed

[2016-07-20 14:19] alexesDev commented on #322
@davidkpiano Is an awesome library! Very gracefully :+1:

[2016-07-20 16:16] tmartensen commented on #321
That answered my question! Thanks!

[2016-07-20 17:55] #321 closed

[2016-07-21 18:15] greaber commented on #243
I might prefer an API that requires a little more typing but is more obvious.  I think that might be the true simplicity.  For instance,

[code]

This only uses the ordinary `combineReducers`, so the structure of your store is transparent from your code, even to people who don't know React Redux Form; and it doesn't use a function that has two different behaviors depending on whether it is passed

[2016-07-21 21:51] debradley opened #323 "Multiple levels of tracking"
This is either a question or an enhancement request...

The data I'm working with represents a multiple choice quiz. A quiz has many questions and each question has many choices. That means the model I need to navigate looks like: `quiz.questions[x].choices[y].prompt`. track() will get me to `quiz.questions[id=x].choices` but no further - how do I get the rest of the way?

[2016-07-22 04:39] davidkpiano commented on #323
See the answer over here: https://github.com/davidkpiano/react-redux-form/issues/313

However, would something like this make sense?

[code]

`trackDeep` would be a function with the signature `(modelPath, predicates...)` where each predicate would refer to each collection. So in the above example:

- the model for the questions with `id === 12` would be found...
- and then the model for the choic

[2016-07-22 17:46] marcelorl opened #324 "How to use formReducer?"

[2016-07-22 18:30] davidkpiano commented on #324
Please see the documentation here: https://davidkpiano.gitbooks.io/react-redux-form/content/form_reducers.html

[2016-07-22 18:30] #324 closed

[2016-07-22 21:15] debradley commented on #323
Thanks for the link to 313 - that definitely helps me move forward for now.

As far as the API for nested fields, what you're proposing makes sense to me. Though I don't think there needs to be a `trackDeep` added, you could add the new behavior to `track` without breaking anything, right?

[2016-07-22 21:44] davidkpiano commented on #323
Good catch, yes I can!

[2016-07-25 09:07] odub opened #325 "Nested reducers."
Hi,

I want to use `react-redux-form` outside of the root-level reducer.

My root reducer would look this:
[code]

With the formReducer as:
[code]

This doesn't seem to work. I've tried:
* setting the string input to `modelReducer` and `formReducer` to `'form.changePassword'`
* doing the same in the views
* doing the same in only one of the views or the reducer definition (both ways around)

Is th

[2016-07-25 09:08] odub commented on #325
Btw everything works just fine when I put the `modelReducer` and `formReducer` calls in the root. For a large app, this doesn't seem too elegant, though.

[2016-07-25 12:15] davidkpiano commented on #325
In order for RRF to know where to read/update the model, it needs to be provided the _exact path_ (relative to the store state) to the model, so try this:

[code]

Let me know if the above solution works with your use case.

[2016-07-25 12:15] #325 closed

[2016-07-25 13:19] odub commented on #325
Nice! Thanks for the solution.

[2016-07-26 10:53] Slavenin opened #326 "Cannot read property 'valid' of null"
Hi! I try use field validation from [examples](https://github.com/davidkpiano/react-redux-form/blob/master/examples/validation/components/user-form.js). But in console i see this error

My test project [here](https://github.com/Slavenin/pa-co/blob/master/src/containers/ConstructorForm/index.js#L104). What i do wrong?

[2016-07-26 12:31] Slavenin commented on #326
Sorry, is me error, i not call model reduser.

[2016-07-26 12:31] #326 closed

[2016-07-27 07:28] Slavenin opened #327 "Validate by several events"
Hi!
How i can validate data by several events, example, focus and blur?

[2016-07-27 11:11] zabojad commented on #312
@davidkpiano `updateOn="blur"` still doesn't work on latest version :(...

[2016-07-27 13:32] davidkpiano commented on #312
@zabojad You mean when you update the model externally, it doesn't show in the control? #278

V1.0 is nearing completion and that is fixed in there 🎉

[2016-07-27 13:33] davidkpiano commented on #327
This would be a good enhancement for V1.0. I imagine the syntax would be:

[code]

[2016-07-27 13:39] Slavenin commented on #327
I think the same

[2016-07-27 13:43] zabojad commented on #312
@davidkpiano ok then I won't bother reporting anything else on v0 and I'll wait quietly for v1 :D...

[2016-07-27 20:08] richardscarrott opened #328 "Form values are modelled by both modelReducers and formReducers"
The [form reducers docs](https://github.com/davidkpiano/rrf-docs/blob/master/form_reducers.md ) stress that the form values aren't modelled under the form state however I don't believe this is true as of https://github.com/davidkpiano/react-redux-form/commit/ecade1d6dcaf642fd559c603d79d3618905fe67d#diff-fcd205c3f8e04d4b3862b897f978e030R154

I guess the reason I came across this is because I'm tryi

[2016-07-28 01:20] davidkpiano commented on #328
One of the main design goals of RRF is with flexibility, in that:

- You can use your own reducers
- Model reducers can exist without form-related meta information

The `value` property was added just to keep track of value equality, whether the value changed from its initial value, and optimize performance - it should be considered an internal property and not used as if it were the actual model

[2016-07-28 17:13] morsdyce opened #329 "Do not run async validations before sync validations are passing"
Currently the Field component will run async validations even though the sync validations didn't pass.

It is possible to overcome this issue by checking the value and calling the done callback as true but it doesn't seem very intuitive and requires additional code for every async check.

It would be nice if the async validations would only run if the sync validations have passed.

[2016-07-29 02:43] davidkpiano commented on #145
@asvetliakov Just implemented this in the `v1` branch for the upcoming version 1.0. The syntax will look like this:

[code]

where `statusPlugin` can look something like this:

[code]

Specifics: a `plugin` is like a normal reducer, except it's given a third argument, `localPath`, which is the path to the field for your form. So if you have a `formReducer('test', ...)`, and an action such as `acti

[2016-07-29 02:45] davidkpiano commented on #153
Closing this, I think I have all this covered pre-version 1.0. If there's anything missing, can you please open a separate ticket for it? Thanks!

[2016-07-29 02:45] #153 closed

[2016-07-29 21:55] greaber commented on #328
This is related to a question I have.  Before I was using React Redux Form, I had my own actions that would update parts of my model.  But now if I want to update parts of my model, I have to use the React Redux Form `change` action because otherwise the form reducer won't know anything has changed, right?  So, this means I have to rewrite any reducers that were responding to those old update acti

[2016-07-29 22:00] davidspiess opened #331 "How to add class to <Field /> if validation fails"
If a field validation fails, i want to add a `has-warning` class to it and a `form-control-warning` to the input itself.
What would be the recommended way to do something like that?

Right now i'm thinking about using the `props.formName.fields.inputName.valid`property but a cleaner approach would be IMO the ability to access the props of each field in a callback like so

[code]

This would make i

[2016-07-29 22:12] davidkpiano commented on #331
I really like the idea of functions as children, and am looking to make that a general capability in V1.

But for `className`s specifically (and this is something I can add right now), I was thinking of adding a `classNames` prop:

[code]

Or maybe even with a function:

[code]

[2016-07-29 23:05] zargold opened #332 "Once I set a model by dispatching a 'actions.load' object becomes immutable..."
[code]
and everything looks honky dory with the html but if you try to type anything in it immediately gets deleted on keydown... I am using Redux State logger so I see a bunch of actions (for each keydown) for change ` action @ 18:55:11.419 rrf/change ` model: 'keyword.name' etc.. silent is true. and multi: false,

Also if I set just the name by doing:
[code]
then only the name becomes unchangeab

[2016-07-30 00:02] mdgbayly opened #333 "Question: Use of "for of" es6 syntax forces bundle bloat in IE11"
This line in form-reducer.js uses the new "for of" syntax.

https://github.com/davidkpiano/react-redux-form/blob/master/src/reducers/form-reducer.js#L173

This causes babel to output Symbol related code which means that you then have to polyfill Symbol for browsers that still don't support it (e.g. IE11)

Polyfilling symbol is adding another 77 K to our bundle (using core-js).  Maybe there is a le

[2016-07-30 00:28] mdgbayly opened #334 "Feature request: UMD build"
Consider building a umd version of react-redux-form as part of your npm install.

As part of our bundle optimization task, we're moving a number of common libs to our own CDN.  A number of other React based packages include a umd build of the package in their npm install which makes it easy to copy up to a private CDN.

I see there is already some umd based build code in this repo, but I'm not sur

[2016-07-30 07:06] davidspiess commented on #331
Glad you like it! I saw this pattern recently in [react-intl](https://github.com/yahoo/react-intl) and it makes things really flexible.

Beside that, i like your `classNames` proposal, only downside i can see is it would not be possible to add a class to the `<input type="email" />` inside the Field too. Bootstrap requires me to do that :disappointed:

[2016-07-30 14:28] davidkpiano commented on #331
Yeah, with children as function that would become doable:

[code]

[2016-07-30 14:29] davidkpiano commented on #334
Yes, I'd be open to including that. What did you need to add to get it to work? If you'd like to make a PR, I'd be happy to merge it. Otherwise I can look into it sometime this weekend.

[2016-07-30 14:32] richardscarrott commented on #328
@greaber Not 100% sure I'm following as I'm not massively familiar with RRF but if you needed to fire multiple actions to update RRF state and your own custom model state then I think you'd incur multiple store change events which would be more expensive. You could look at https://github.com/tshelburne/redux-batched-actions to mitigate this however.

[2016-07-30 14:35] #333 closed

[2016-07-30 14:35] davidkpiano commented on #333
Done! Look for this one in an upcoming patch!

[2016-07-30 14:44] davidkpiano commented on #328
@richardscarrott RRF already uses a batching strategy :) For example, if you had `updateOn="blur"`, then you would dispatch a single batch action:

[code]

[2016-07-30 14:46] davidkpiano commented on #328
And @greaber V1 will allow you to specify plugins for the `formReducer`, which allows you to create a plugin that tells the `formReducer` to listen for your own actions as if they were RRF `change` actions. More on this soon - I'm preparing an alpha release for V1!

[2016-07-30 14:48] davidkpiano commented on #332
Can you put the full example on www.esnextb.in ? Hard to tell what's going on without seeing the `store`, which reducers you have set up, etc.

[2016-07-30 17:43] zargold commented on #332
I can't really get it to go very far because of routing but here's some full code... I'll get back later to try to get it but esnextb.in gives a randomly generated URL so it messes with routing...

[code]

[2016-07-30 20:22] greaber commented on #328
OK, cool, looking forward to 1.0.  Although I wonder if it won't be better to just teach reducers to respond to `change` actions since they will be generated in response to user interaction even if there are custom actions that change the model in different cases (at least if using the `Field` component, unless that is also changing).

[2016-07-31 09:29] davidspiess commented on #331
Awesome :) Looking forward to v1.0 :tada:

[2016-08-01 15:59] zargold commented on #332
OK sorry Figured it out... componentWillReceiveProps(newProps) I have to control for the newProps being me typing so what happened was that I would type that would cause a newProps event so then it would once again set it as the node's original values. It would write it and then unwrite it with each componentWillReceiveProps as to the error that ended up somehow being triggered due to some random

[2016-08-01 15:59] #332 closed

[2016-08-02 16:50] matias89 commented on #298
I'm sorry, I was with many other things during these days. I understand what did you say, but then: how I can set by default the property in "false" (in my case, userProfile.valid false by default)?

[2016-08-02 17:32] davidkpiano commented on #298
Add a validator:

[code]

If it's `.valid === false` by default, and there are no validators, it will never be valid. Validators are run immediately when `Field` is mounted.

In V1.0 there will be the option to let you specify the default initial state, and customize form behavior via plugins.

[2016-08-02 17:46] matias89 commented on #298
Ok, I'll test this. Thanks David!

[2016-08-02 18:09] mdgbayly commented on #334
Created a PR #341
Not sure if best approach but was working for me.
Cheers

[2016-08-02 18:09] #334 closed

[2016-08-02 21:38] MilanThomas opened #342 "Updating the model on change based on fields calculations"
My model reducer is linked to a state like this :
[code]
In my Form, I have 2 **`<Fields />`** pointing to state.a and state.b

I want to calculate, **as the user is typing** and while validating his input the **result of state.a + state.b**

As soon as the user has typed correct values, I want to **display this result**, **update state.result with the calculated value** while still **updating the

[2016-08-02 21:49] davidkpiano commented on #342
As Redux suggests, `result` is **derived data** so it's best handled in a selector: http://redux.js.org/docs/recipes/ComputingDerivedData.html

So you ideally would have a state that only contains non-derived data:

[code]

and a selector:

[code]

[2016-08-03 07:20] MilanThomas commented on #342
Oh, I see ! Indeed, that makes a lot of sense.
Thank you for pointing me in the right direction and for creating react-redux-form :)

[2016-08-03 07:20] #342 closed

[2016-08-03 09:54] mewben opened #343 "Validating arrays with dynamic lengths?"
I have this following Model and Form
[code]

Then, I dispatch this object to the parentModel: (Notice that the children has 2 objects in the array)
[code]

Now, I have an edit form to edit the children's names and age. How do I validate every `age` of the array to, let's say less than 100?

My initial code passes the `parentForm` and accesses the `fields` to see if it is `valid`. However, I can on

[2016-08-03 10:53] davidkpiano commented on #343
On the `<Form>`, just add a validator:

[code]

Does that answer your question?

[2016-08-03 12:50] mewben commented on #343
Thank you for the quick response. The code works. Thanks. However, what I really wanted was to attach a className to the `age` input whenever it is invalid.

[code]

I tried accessing the `parentForm.fields.children.0.age.valid` which is fine, but `parentForm.fields.children.1.age.valid` is undefined.

[2016-08-03 15:38] davidkpiano commented on #343
Can you put it up on www.esnextb.in so I can reproduce?

And are you accessing it via `parentForm.fields['children.0.age'].valid`? That's the current (ugly) way to access a field.

In V1.0, you can access it more intuitively: `parentForm.children[0].age`.

[2016-08-04 02:03] mewben commented on #343
Yes. That's what I'm using right now. However, it doesn't have `['children.1.age']`

![Screenshot Log](http://res.cloudinary.com/dmapjljrk/image/upload/v1470274971/Screen_Shot_2016-08-04_at_9.40.00_AM_u2crbu.png)

Here's the [code](https://esnextb.in/?gist=e4614eb59e3f9b2833a6243fad6022bc).

I tried using `"react-redux-form": "^1.0.0-beta.1",` but it doesn't compile in esnextb.in
Here is the sreen

[2016-08-04 04:27] davidkpiano commented on #343
Try adding a validator directly to the field:

[code]

I get the expected result in the console when I try this.

[2016-08-04 09:06] mewben commented on #343
Ahhh.. yes.. this works.. Thank you very much. :)

[2016-08-04 09:06] #343 closed

[2016-08-05 07:10] Psykar opened #344 "Handling validation with parameters for later viewing"
Say you have a 'between' validator, with a min max value, there is currently no way to easily get this up to  a messages prop on `<Error>` without returning a string from an `errors` prop, as otherwise you lose the min / max values and only would have the 'between' key.

ie, this won't work as a validator because even if we put something else instead of true, it gets evaluated as truthy.
[code]

T

[2016-08-05 18:46] davidkpiano commented on #344
This would make a good enhancement, but I think we can avoid "nesting" the value in the first argument by just providing the `error` in the second argument:

[code]

What do you think about that?

[2016-08-06 09:45] venelin-mihaylov opened #345 "updateOn='blur' combined with actions.change() does not work"
I async load data from the server.
Then I use actions.change() / actions.load() to show the data in the form
when the fields have updateOn='change', this works
when the fields have updateOn='blur', the data from the model does not show in the form

am I doing something wrong? Seems to the correct APIs to use ...

https://esnextb.in/?gist=6385b34bd63ac05bf69227fc6c165e6c

[2016-08-06 13:06] davidkpiano commented on #345
This is addressed in V1 and is due to the fact that `updateOn="blur"` in v0.x is an _uncontrolled_ component: https://github.com/davidkpiano/react-redux-form/issues/278

[2016-08-06 17:54] venelin-mihaylov commented on #345
Thank you for your response.

[2016-08-06 17:54] #345 closed

[2016-08-08 00:36] Psykar commented on #344
Ah, of course, then it's literally the same object returned from validate, sounds good to me.

The part that's a little more up in the air for me (before I'd look at starting a PR) is if the object should be returnable from both 'validator' and 'errorValidator'. The semantics for validate become a little funny if it can be {true/false/object} from validate, where 'object' is actually effectively a

[2016-08-08 01:17] davidkpiano commented on #344
As far as what's recommended and not recommended, I wouldn't be biased on one approach over another, especially with a complex validity use-case such as this one (which would even be non-trivial with any other validation library).

I'd say the way to go, if we're using this API, is to have it as an `errors={{...}}` validator on the `<Field>` (or `<Form>`, your preference), where a truthy object, s

[2016-08-08 03:18] Psykar commented on #344
Ha, unfortunately in my use case min/max can change based on the value of another field, so const's are out. If only everything was simple...

Can't commit the time to a PR just yet, but I'm hoping sometime this week.

[2016-08-08 05:59] Psykar opened #346 "Field validity reset on component unmount"
While it looks like it was intentional, this is playing havoc with my usecase, which is a multipage form, with any page being navigate-able at any one point, causing all fields on a page to unmount and have their validity reset.

https://github.com/davidkpiano/react-redux-form/blame/master/src/components/control-component.js#L89

This definitely makes sense if the validity is set on the `<Field>`

[2016-08-08 12:16] #344 closed

[2016-08-09 20:04] davidkpiano commented on #346
I can make it so that only validity present in the Field's `validators` are reset on unmount, would that make sense?

[2016-08-10 01:15] Psykar commented on #346
If you're comfortable with that sure, that seems rather special case-y to me - although I suppose most people will be using *either* field level or form level validation, not both.

[2016-08-11 19:23] enkay commented on #83
@davidkpiano How would you get the whole form input values to submit whenever a text field changes? I'm using the same handleSubmit function as the form onSubmit for the submitPromise but it needs the input.

[2016-08-11 19:51] djkz opened #349 "<Field> copies style to its children components."
Before when we had
`<Field style="width:50%"><label /><input /></Field>` we would get top div with the applied style and input with no style (you could set it manually).

Now the top field style propagates to the child component so you have `<div style="width:50%"> <input style="width:50%" /></div>` as the resulting HTML.

Style should probably be blacklisted from being passed and applied manually

[2016-08-11 20:15] davidkpiano commented on #349
Made a fix for this here: https://github.com/davidkpiano/react-redux-form/commit/b50773fface01b2f4b3c88a43ae96ee9e759ad04

I'll write a unit test to assert that it works as expected soon!

[2016-08-11 20:17] davidkpiano commented on #83
@enkay Can you outline an example use-case for this? That way I can wire up an example/unit test.

[2016-08-11 23:28] enkay opened #350 "v1 - alpha release?"
Is there an alpha available for v1?

I would like to give this package a try however it seems like the latest release has a lot of issues that are fixed in v1.

If it's just the upgrade guide and docs missing from v1, I wouldn't mind playing around with it instead of dealing with issues in 0.* that have already been fixed.

[2016-08-11 23:39] enkay commented on #83
Let's say I have a list of books and I want to filter through them using a text input for searching book titles, and an array of checkboxes for selecting genres.

This is the `input` object I would like to pass through to the `getBooks` action which handles fetching the books from the server every time the for submits.

`
{
  search: 'book title string',
  genres: ['fiction', 'historical']
}
`

I

[2016-08-11 23:43] Psykar commented on #350
There's actually a beta release already on npm:
`npm install react-redux-form@1.0.0-beta.2` should work

[2016-08-11 23:50] enkay commented on #350
Great, thank you!

[2016-08-12 09:32] wojciech-bilicki opened #351 "File input - Invariant Violation"
When I am trying to use library to add file to Form I get:

The Field for the file looks like this:
[code]

Also couldn't find anything about fileInput in the documentation. It would be nice if we could get an example.

Also I was trying to get this going with custom handler:

[code]

But this also causes Invariant Violation error. Did anyone got this right with file input?

[2016-08-12 12:40] davidkpiano commented on #351
Can you put it up on www.esnextb.in with the minimally reproducible code?

Also, for reference, here is the unit test for `<input type="file" />`: https://github.com/davidkpiano/react-redux-form/blob/master/test/field-component-spec.js#L489-L521

I'm working on the V1 docs right now, and will definitely include this.

[2016-08-12 12:41] davidkpiano commented on #350
@enkay @Psykar Keep in mind that there are a couple breaking changes (although 90% of the API has remained the same), and I will be documenting these today!

[2016-08-12 12:45] davidkpiano commented on #83
Wouldn't this just be something like this?

[code]
[code]

[2016-08-12 13:01] #349 closed

[2016-08-12 18:33] enkay commented on #83
Yes but how do you get it to submit the form whenever the value of the search field changes or a checkbox gets checked or unchecked?

[2016-08-12 19:25] enkay commented on #83
In this example handleSubmit doesn't accept any arguments, how do you get the form input data into the handleSubmit function?

[2016-08-12 20:16] davidkpiano commented on #83
[code]

[2016-08-12 20:37] enkay commented on #83
Awesome that works, thanks!

I also got it to work for onChange, I'm not sure if the code is optimal but it's working.

[code]

[2016-08-13 12:23] wojciech-bilicki commented on #351
Ok, so I put this on esnextbin.in and it was alright. So I checked what are the differences between my project and esnextbin setup and I found out I was using redux-immutable-state-invariant

https://github.com/leoasis/redux-immutable-state-invariant

At that was causing the error to show in console.

[2016-08-13 12:23] #351 closed

[2016-08-15 03:03] MrBlenny opened #355 "Cursor position not remembered"
Every time I make a change to a field the text cursor is added to end of the field. This means you can't easily edit text inputs.

![alt tag](https://www.dropbox.com/s/9olamkoy6wctcgp/Cursor%20position%20changing%20react-redux%20form.gif?dl=1)

Component code:
[code]

Reducer code:
[code]

[2016-08-15 13:04] davidkpiano commented on #355
I can't reproduce this behavior with a normal text input. Are you formatting/masking the text input?

Can you also throw this up on www.esnextb.in ?

[2016-08-15 20:06] enkay opened #356 "async validation example"
I have a form with a few inputs I want to do async validation when it's submitted to the API. I've been reading the docs and browsing the issues here but I feel like there's always a piece of the puzzle missing. It might be because I'm new to React and Redux but it would be great to have comprehensive examples that don't assume you already know how everything works.

That being said here's what I

[2016-08-15 22:43] davidkpiano commented on #356
The property `.pending` indicates that a form is submitting, and that property alone should be satisfactory.

For returning an error with the field names in the object, try `actions.submitFields(promise)` (sorry if this is not documented - I'm working on V1 and that will have a ton of documentation and examples!)

With both of these in mind, can you make a quick www.esnextb.in that demonstrates th

[2016-08-16 02:57] enkay commented on #356
Thank you for taking the time to answer.

I got it to work using `actions.submitFields('model)`

[2016-08-16 04:55] davidkpiano commented on #356
Well it's just a convenience action. RRF is a library, so you can implement your own submit behavior like this:

[code]

And that way you can more granularly control the behavior of submitting your form. You're not required to use the provided `actions.submit()` or `actions.submitFields()`, and (hopefully) it's fairly straightforward to write your own implementations 😄

[2016-08-16 17:56] enkay commented on #356
Thanks for your help.

Is it possible that the `submitFields` method is not setting the `pending` variable to `false` automatically once the request has been made?

It seems stuck in `pending` state even though the form submitted successfully. I've added it manually but is this how it should work? It seems like it should set it to false automatically since it was set to true. Could it be I'm doing

[2016-08-16 19:18] davidkpiano commented on #356
Hmm... nope, the code should be setting `pending` to `false`:

[code]

Once the promise is resolved (or rejected) either `setSubmitted` or `setSubmitFailed` will be called, which both set `pending: false`. Also, your `submitPromise` should just be a normal promise, so something like this:

[code]

[2016-08-17 01:10] enkay commented on #356
I was not referencing the form properly, `pending` is now getting set to `false` properly and errors are showing when the API returns a validation error, thank you.

Now I'm running into this issue where if the server responds with an error, and I try to submit the form again without changing anything, it doesn't get submitted to the server.

Instead, it dispatches `setSubmitFailed` and `setFields

[2016-08-17 11:39] #356 closed

[2016-08-17 17:39] th3fallen opened #359 "Validation not working for fields?"
No idea what im doing wrong but i have a field like so
[code]

reducers:
[code]

it stops submission of the form but the store never updates the error status of the field under the form

[2016-08-17 19:16] davidkpiano commented on #359
Can you put this up on www.esnextb.in ?

From what I can see, you should be able to find it under `.inviteManager.form.fields.to.errors`. Is that where you're looking?

[2016-08-17 19:20] th3fallen commented on #359
im not entirely sure i can put a running example up there, but i can provide the code of the files. https://gist.github.com/th3fallen/a754755559d2c72f59ac64a377fb226a

[2016-08-18 15:07] th3fallen commented on #359
For some reason after stashing the changes and moving on and coming back it now works as expected...  thanks for the help anyway

[2016-08-18 15:07] #359 closed

[2016-08-18 15:15] th3fallen opened #361 "V1 validation detection"
So im currently running v1 with a field with two validators `required` and `isEmail` i get the following

![](http://th3fallen.d.pr/1h8y3.jpg)

is there a single key somewhere that is like `isvalid` or `valid` or `error` vs checking against all those keys in errors?

[2016-08-18 15:34] davidkpiano commented on #361
So currently in v1, since `valid` can be derived from the state, you have to do:

[code]

But I might consider adding it back, even if it might cause performance issues in very large forms. What do you think? Vote 👍 or 👎

[2016-08-18 15:35] th3fallen commented on #361
👍  i think it would be useful for the time being i can use `isValid()` but it would be nice to have it in state imo

[2016-08-18 17:16] th3fallen opened #364 "V1 cannot find $form issue"
Sorry for all the issues but dont see a slack or irc channel to ask these in.

But given the following.

form
[code]

reducer
[code]

error
[code]

am i missing something simple?

state is as follows
http://www.jsoneditoronline.org/?id=4aac2367e3bca1350d1ada0fd21099e8
![](http://th3fallen.d.pr/1e5DL.jpg)

[2016-08-18 17:34] th3fallen commented on #364
Also not sure if this would be possible but for us that will use this in nested states (most i assume) would it be possible to be able to set the full state for the form container then have all `Control` or `Field` elements models be based on the forms model?

I.e `form model="shared.unclaimed.inviteManager"`

`field model="to"` would become `shared.unclaimed.inviteManager.to`

May be a stretch bu

[2016-08-18 17:57] davidkpiano commented on #364
@th3fallen Yep, that's definitely possible... I just need to work out the logic for it. I think that V1 will initially only allow this for string models, and disallow that behavior if the model is a `getter` function, such as `track(...)`. It would look like this:

[code]

See #173 for more details.

[2016-08-18 17:57] davidkpiano commented on #364
As for the initial issue, I know exactly what the bug is and will fix it soon.

[2016-08-18 17:58] th3fallen commented on #364
@davidkpiano awesome thanks man, glad it wasnt something i was doing wrong for once.

[2016-08-19 06:49] MrBlenny commented on #355
Do you have a basic esnextbin setup I can modify?

[2016-08-19 12:52] davidkpiano commented on #355
Yes, go ahead and copy this for v1.0-beta: https://esnextb.in/?gist=15e9350ba0e68fd001436d20502a9c69

[2016-08-21 18:31] davidkpiano commented on #364
Fixed here: 3026bb4

[2016-08-21 18:31] #364 closed

[2016-08-21 18:32] th3fallen commented on #364
thanks so much i'll check it out now

[2016-08-21 18:33] davidkpiano commented on #350
The latest (in progress) documentation is available here: https://davidkpiano.github.io/react-redux-form - I will be working on finishing this this week.

To keep up to date with the latest beta versions, just `npm install react-redux-form@beta` 🎉

[2016-08-21 18:33] #350 closed

[2016-08-21 18:53] davidkpiano commented on #364
I didn't push the version yet though... that'll be later today.

[2016-08-21 18:55] th3fallen commented on #364
@davidkpiano any chance you could tag that fix? when installing from the v1 branch i get a ton of errors from webpack crying about it not being installed :(

[2016-08-21 18:56] th3fallen commented on #364
ah didnt see your previous comment. sounds good i'll keep an eye out

[2016-08-22 00:27] th3fallen opened #365 "V1 Duplicating state"
After your fix for the $form not found issue (thanks) i notice inside of the forms state key its duplicating the entire tree to the form.

![](http://th3fallen.d.pr/15jTm.jpg)

[2016-08-22 00:30] th3fallen opened #366 "V1 validated submit cannot read submitted of undefined"
when submitting a validated form that has a missing required field an action is fired "rrf/batch" which throws "cannot read property 'submitted' of undefined.

[code]

state tree
![](http://th3fallen.d.pr/QIyK.jpg)

[2016-08-22 01:44] davidkpiano commented on #366
What beta version are you on, and how are you creating your store?

[2016-08-22 01:45] davidkpiano commented on #365
Can you share how you're creating the store?

[2016-08-22 01:51] th3fallen commented on #366
i manually build the source based on current v1 branch and this is how im creating the store
[code]

[2016-08-22 01:51] th3fallen commented on #365
[code]

[2016-08-22 03:43] davidkpiano commented on #366
Okay, I fixed this; please compare your code to this gist: https://gist.github.com/davidkpiano/ec1d496eb1c67793ccfa5dbad7327ae2

[2016-08-22 03:45] #366 closed

[2016-08-22 03:45] davidkpiano commented on #365
See the gist in #366

[2016-08-22 03:45] #365 closed

[2016-08-22 13:07] davidkpiano commented on #361
Added it back in `1.0.0-beta.6`!

[2016-08-22 13:07] #361 closed

[2016-08-22 14:00] th3fallen commented on #366
@davidkpiano thanks for the help but i dont think that gist quite does it. how my reducers are structured is
[code]

which is imported into shared/unclaimed/reducers/index.js which does
[code]

your example duplicates the inviteManger key twice becoming `shared.unclaimed.inviteManager.inviteManager.to`

Btw thanks again so much for the time and help.

[2016-08-22 14:46] davidkpiano commented on #366
Yeah, I still have to document `combineForms()` but you shouldn't be using it as a single reducer - think of it as a combination of many reducers, similar to `combineReducers()`:

[code]

So having `combineReducers({ to: '', message: '' }, ...)` makes no sense because `to` and `message` are part of the `inviteManager` reducer, and _not_ their own reducer. Hopefully that makes sense.

[2016-08-22 14:47] th3fallen commented on #366
@davidkpiano so if i understand correctly i could get away without using combine forms at all? and just doing `form(state.shared.unclaimed.inviteManager)` in my component?

[2016-08-22 16:39] davidkpiano commented on #366
Yes, you can do the same as v0.x:

[code]

Also I'm adding back the missing derived values (such as `.valid`, `.touched`, `.pristine`, etc.) in the next `@beta` version, so you won't even need the `form()` selector :)

[2016-08-22 20:34] zargold commented on #243
I really need/want to somewhat dynamically build form components based on an API call so its difficult/impossible to build them in from the beginning. Like I have a form for Component A which takes fields `[ 'name', 'description', 'image', 'a few more fields coming from server',]` as opposed to Component B which takes fields `[ 'name', 'description', 'image', 'a few more fields coming from server'

[2016-08-22 20:59] davidkpiano commented on #243
@zargold You're in luck because V1 (now in `beta`) allows for dynamic and infinitely recursive forms. If you have something like this:

[code]

and you receive data that you dispatch, such as:

[code]

Then `forms.dynamic.foo` _becomes_ a new form state that you can treat like any other form state.

[2016-08-23 10:54] ozum opened #367 "track() method throws Cannot read property 'submitted' of undefined"
I copy pasted example from [Quick Start](https://davidkpiano.gitbooks.io/react-redux-form/content/step_by_step.html), which works fine.

Trying collection tracking, I got `Cannot read property 'submitted' of undefined` exception when I focus a text box of collection and then blur. This only occurs if I feed createStore with initial values. Is this expected behaviour or bug?

[code]

./store.js **T

[2016-08-23 23:02] davidkpiano commented on #367
Which version of RRF are you using?

[2016-08-24 17:11] th3fallen commented on #366
So when doing that i get an action fired of `rff/null` not an issue the issue is `rff/setSubmitFailed` and `rff/setFieldsValidity` dont actually update anything?

[2016-08-24 21:37] davidkpiano commented on #366
How are you dispatching those actions?

[2016-08-24 21:39] th3fallen commented on #366
By trying to submit a validated form without entering anything

[2016-08-25 08:43] ozum commented on #367
v 1.0.0-beta.6

[2016-08-25 13:55] davidkpiano commented on #367
Unfortunately I'm not able to recreate this, see this esnextb.in for more details and compare your code to mine: https://esnextb.in/?gist=3e2aff9211382a2183d671733973a19c

This also uses `v1.0.0-beta.6`. Also, you can freely change the `store` like so:

[code]

[2016-08-25 14:10] davidkpiano commented on #355
I now can reproduce this. Fix coming up.

[2016-08-25 14:56] ozum commented on #367
The code you provided initialises `model reducer` and `form reducer`, which works ok as I indicated in my first message. My problem occurs when `store` is initialised instead of reducers.

See complete example below. (Please note that https://esnextb.in does not reproduce problem, try with local server.) Focus and blur last textbox.

![image](https://cloud.githubusercontent.com/assets/1497060/1797

[2016-08-25 20:33] reduxdj opened #369 "Redux React Form, and modeled - form is out of sync with react model"
I have a fairly simple modeled reducer, it handles its initial state. When I load my form, the model results are populated in fields, however, the form is "invalid" after loading the result, to make the form validate, i have to focus on all the fields, as if the form is out of sync with the state of model. I am probably doing something wrong, but my reducer looks like:

`const reducers = {
    app

[2016-08-25 20:56] msteward opened #370 "<Field updateOn='blur' /> does not set the value attribute of the wrapped field"
ESNextbin: https://esnextb.in/?gist=62d69ee530d873f3c139c054fb4640ca

When using `updateOn='blur'` on a `<Field/>` the `value` attribute of the wrapped input field is not set after the blur. This causes some issues with libraries like MaterialUI which expect the value attribute of the input to be set in order to hide placeholder text etc.

From the ESNextbin above I've created two fields, one with

[2016-08-26 02:53] #369 closed

[2016-08-26 06:25] ozum opened #371 "Which one is latest version?"
Hi,

I'm using rrf `v1.0.0-beta.6`, which seems latest development version, as of this post, according to github branches. However `npm outdated` reports there is also `v1.0.0` and `npm update` updates to `v1.0.0` every time.

Which version should I use as latest development version?

Regards,

[2016-08-26 16:57] davidkpiano commented on #371
If you install `react-redux-form@latest`, it _should_ be `0.14.4`, please use that version until `v1.0` is out of beta.

[2016-08-26 16:57] #371 closed

[2016-08-26 17:06] ozum commented on #371
Thank you @davidkpiano. I know that current latest production version is `0.x.x`.

I asked which is the latest **development** version, `v1.0.0` or `v1.0.0-beta.6`?

[2016-08-26 17:24] davidkpiano commented on #371
Ah, my apologies! So it's always at `npm install react-redux-form@beta`, so it would currently be `v1.0.0-beta.6`.

[2016-08-26 20:26] elisherer opened #374 "V1 getting warning using UglifyJs"
I get the warning on build:

I'm guessing that it's because of the empty index.js file in the src/utils folder which gets transpiled into
`'use strict';`
can you remove this file from that folder (until you export something by it)?

[2016-08-26 23:10] davidkpiano commented on #374
Done!

[2016-08-26 23:10] #374 closed

[2016-08-28 11:01] elisherer opened #375 "V1 combineForms must be the root reducer"
Hi,

I came across a problem where combineForms must be the root reducer because it is created with combineReducers. making it either the root reducer or a mounted reducer.
If I want to use the combineForms but with additional reducers of my own, this is not possible.

I suggest dividing combineForms into 2 exported functions:

(1) createCombinedForms - same logic as the current one, just returnin

[2016-08-29 00:18] davidkpiano commented on #375
The `combineForms()` reducer creator does not need to be at the root, you just have to specify _where_ it is in relation to the store's state as its model:

[code]

Can you try the above pattern and see if it works for your original use case?
Can you try a pattern

[2016-08-29 02:55] Psykar commented on #346
Another thing to note here - if the <Form> component's `validators` or `errors` prop changes, the form validation isn't touched. I feel that if either of these properties changes, the entire form should be revalidated.

[2016-08-29 11:38] ozum commented on #375
@davidkpiano, isn't form model `deep.foo` in that case?

[2016-08-29 16:49] davidkpiano commented on #375
[code]

And the form would be accessible in `store.getState().forms.notDeep.$form`. I'm updating the V1 documentation as we speak so all this (and more) will be in there.

[2016-08-29 17:17] elisherer commented on #375
your suggestion solves the problem having the combineForms needing to be the root reducer, but forces a namespace for all the models, making the model names longer.
I prefer to use the modelReducer and formReducer.
I ended up creating a function of my own that given an array of models, creates a reducers dictionary (object) with {model} and {model}Form keys for each model which I then spread into

[2016-08-29 20:00] davidkpiano commented on #375
Yeah it's tricky because the _point_ of models is to tell React Redux Form "hey, this is my address, this is where I am in the store's state." So the deeper you go, the longer your model names will be. Having React Redux Form search deep through all the objects for the models is prohibitive (performance-wise) and nondeterministic since models, by their nature, have no "signature" that tells React

[2016-08-29 20:40] davidkpiano commented on #370
@msteward I noticed this was on `v0.14.4`. Would you mind trying it with `react-redux-form@beta` (which does make all inputs controlled, even blur inputs) and see if it fixes the issue?

[2016-08-30 02:06] yourfavorite opened #378 "Loading data into multiple instances of a form."
I have a bunch of forms all stacked on top of each other in rows.  I couldn't seem to find an example of how to handle multiples of the same form on the page. I will be handling the submit for each instance of the form onBlur as per the example in the docs.

I have it working if I populate an initial state when I first create my state. I previously had my own reducer that via action creator would

[2016-08-30 13:07] davidkpiano commented on #378
Which version are you using? Dynamic forms are a new feature in v1.0 (currently in beta).

[2016-08-30 13:45] davidkpiano commented on #136
I'm going to shelve this one for DX reasons, as the code developers would now have to write to prevent `Uncaught TypeError: Cannont read property '...' of null` errors would have to be more verbose:

[code]

[2016-08-30 13:45] #136 closed

[2016-08-30 13:48] davidkpiano commented on #145
Available in latest beta: `1.0.0-beta.7`

[2016-08-30 13:48] #145 closed

[2016-08-30 13:50] davidkpiano commented on #223
Available in latest `@beta`!

[code]

[2016-08-30 13:50] #223 closed

[2016-08-30 13:51] davidkpiano commented on #243
Available in latest `@beta` - feel free to let me know if you are having trouble implementing the above for your use case. I am writing documentation now, which will be available at `https://davidkpiano.github.io/react-redux-form`.

[2016-08-30 13:51] #243 closed

[2016-08-30 13:53] chrisblossom commented on #136
FYI I had a breaking issue with this using Logstash/Elasticsearch to log redux state/actions. Because the type changed from an object to string, Elasticsearch would throw errors. Ended up having to instantly dispatch a redux action to reset the type of all errors and reset the database to clear the "learned" types.

[2016-08-30 13:53] davidkpiano commented on #331
Children as function components for `<Field>` are now available in the latest `@beta`! Just use the pattern [above](https://github.com/davidkpiano/react-redux-form/issues/331#issuecomment-236368118).

[2016-08-30 13:53] #331 closed

[2016-08-30 14:42] davidkpiano commented on #136
Oh, gotcha. In V1, this is supported:

[code]

if you want to override the initial field state. The signature is `formReducer(model, initialState, options)` where options is currently:

[code]

[2016-08-30 15:31] chrisblossom commented on #136
That is awesome! Great news.

[2016-08-30 16:09] yourfavorite commented on #378
I'm using the latest stable release. Is the beta available anywhere with documentation? I'm working on a personal project so production ready code isn't necessarily a must.

[2016-08-30 17:34] yourfavorite commented on #378
Looked through the docs and doesn't seem like there's much there yet. Is there an example of a dynamic form anywhere that I could poke through?

[2016-08-30 17:43] davidkpiano commented on #378
Yeah, I'm still working on the docs. Most things are unchanged from v.0.14 however. There's more info in this issue about dynamic forms: https://github.com/davidkpiano/react-redux-form/issues/243#issuecomment-241548472

[2016-08-31 00:28] yourfavorite commented on #378
Being that I'm still learning react/redux I couldn't figure out how to get v1 beta working in my electron boilerplate. I did however work out this solution. Is this really a bad way to handle what I'm trying to do?

In my parent component that maps through each site to make forms, I pass down a `sites` prop that is used to build everything out. And then on componentWillMount I dispatch actions.cha

[2016-08-31 15:32] jaredstevick opened #379 "Parser does not get called until onChange occurs"
The parser does not fire until a field value is changed.
Example:
 - A form loads with phone number populated, but not formatted. Once input value is changed, parser runs and formatting occurs.

[2016-08-31 15:54] #379 closed

[2016-08-31 16:04] davidkpiano commented on #379
Published as `0.14.5`!

[2016-09-02 11:25] ozum commented on #319
I also couldn't manage to get a working example with react-redux-form either `v0.x` or `v1 beta`. Could you please provide single file minimal working example.

[2016-09-02 12:32] ozum opened #381 "Strange behaviour for updateOn="blur""
Hi,

In `v1.0.0-beta.7` for the following code I get strange behaviour for key press. Characters are printed 2 key press after and some get lost. (Please see attached gif.)

This happens only `updateOn="blur"`

[code]

![2016-09-02_15-25-43](https://cloud.githubusercontent.com/assets/1497060/18203796/e5ca7f14-7121-11e6-8bda-a2db7616481f.gif)

Regards,

[2016-09-02 14:00] davidkpiano commented on #378
Thanks for the excellent example; that looks idiomatic and correct! In V1, `forms.sites[0]` would be a form, as would `forms.sites[1]`.

[2016-09-02 14:00] #378 closed

[2016-09-02 14:01] davidkpiano commented on #381
Fixed! This will go out in the next beta release.

[2016-09-02 14:01] #381 closed

[2016-09-02 14:03] davidkpiano commented on #370
Since V1 will be directly controlling all components (regardless of update on blur, change, etc.) I'll close this ticket. The issue should not happen in the latest `@beta`, but if it does, feel free to open a new issue.

[2016-09-02 14:03] #370 closed

[2016-09-02 15:04] davidkpiano commented on #367
Fixed! Will go out in next `@beta` release.

[2016-09-02 15:04] #367 closed

[2016-09-02 15:07] davidkpiano commented on #355
This has been fixed, and will be out in the next `@beta`. To confirm, run `npm run examples`.

[2016-09-02 15:07] #355 closed

[2016-09-02 15:30] davidkpiano commented on #346
@Psykar after the latest `@beta`, if this issue persists:

can you open up another ticket for it?

[2016-09-02 15:31] #346 closed

[2016-09-02 16:40] ozum commented on #381
Thanks.

[2016-09-02 19:57] davidkpiano commented on #278
This is fixed in the latest `@beta`.

[2016-09-02 19:57] #278 closed

[2016-09-02 19:58] davidkpiano commented on #268
This is fixed in the latest `@beta`, now that the component is *fully controlled* regardless of blur/change.

[2016-09-02 19:58] #268 closed

[2016-09-03 05:05] davidkpiano commented on #327
Fixed and will go out in next `@beta`! The syntax is exactly as above, and can be used in any similar props, such as `updateOn`, `validateOn`, `asyncValidateOn`, etc.

[2016-09-03 05:05] #327 closed

[2016-09-03 05:09] davidkpiano commented on #262
V1 introduces a ton of performance enhancements, with improved batching strategies, tweaked `shouldComponentUpdate` for `<Form>, <Field>, <Control>`, and the ability to ignore certain actions via the `ignore={['focus', 'blur']}` prop. Now in `@beta`!

[2016-09-03 05:09] #262 closed

[2016-09-03 07:46] ozum opened #382 "Performance Issue on only 1st item of collection"
## Version
`v1.0.0`: No problem
`v1.0.0-beta.1` to `v1.0.0-beta.8`: Problem exists. (High usage for every key press on 1st line)
`v1.0.0-beta.9`: Much better, but still exists. (High usage 1 out of 5 key presses on 1st line)

## Problem
Performance issue. When using collection items,  first item is slow. Remaining are OK.

## Details
I feel perceivable slowness when updating collection items. This

[2016-09-03 12:52] davidkpiano commented on #382
Can I see the code for this? It looks like editing the first row also affects the text at the end, which could be inadvertently contributing to the slowness.

Excellent reporting, by the way!

[2016-09-03 14:53] davidkpiano commented on #382
I've added some performance enhancements and a stress-test example in this commit: 685c845d4e0d869cce88043c80037be14ee9b0c4 FYI. Omitting `propTypes` from the components when not in `NODE_ENV=production` seems to increase performance.

Other things that can be done:
- `updateOn="blur"` (of course)
- `ignore={['focus', 'blur']}` if your app doesn't care about those events
- keeping `map(rows => ...

[2016-09-03 17:22] ozum commented on #382
(I updated second video with more clear one)

My point is not general performance issue. My point is performance difference between 1st item and remaining items. All items share same conditions (as expected in a loop), but first line is slow, while other rows' performance are excellent for same conditions. I expect either all rows are slow or all rows are fast.

Both for `updateOn="blur` and `upda

[2016-09-03 18:07] davidkpiano commented on #382
I pulled down the repo and tried to recreate, but it seems to be running at a smooth 60fps for all fields:

![recece](https://cloud.githubusercontent.com/assets/1093738/18226808/b683420e-71df-11e6-9aa1-7a9983282fcf.gif)

[2016-09-04 12:42] ozum commented on #382
It seems so. I tried again in 3 different machines (OS X, Windows XP, Windows 10 all served by OS X) and I encountered same issue.

If possible, could you please try with another machine?

[2016-09-04 18:30] dstudzinski opened #383 "How to submit form in react native"
Hi,

I have form in my React Native app:

[code]

but I don't know how to submit form in proper way (in `onPress` function).
I know that I can use `action.submit`  but then I will bypass for example submit prevention when fields are invalid (for test user.name field is forced to invalid).
You are do checks on handleSubmit [in form component](https://github.com/davidkpiano/react-redux-form/blob/mas

[2016-09-04 19:09] davidkpiano commented on #383
Instead of using `<Form>`, have a handler on your parent component, such as:

[code]

and have the `onPress={...}` handler of `<TouchableHighlight>` call `handleSubmit`.

[2016-09-05 03:53] Psykar opened #384 "v1 Form level initial validation"
http://codepen.io/anon/pen/GjgNLx?editors=0011#0

It seems that the initial validation of lastName here is lost when the field is toggled on, and the `<Form>` validator is no longer checked from there on in.

On the state, the value of
`this.props.reduxState.forms.user.lastName.validity` changes from
[code]

to
[code]

[2016-09-05 04:40] Psykar commented on #384
A closer look implies that the validator I've used is incorrect, as it doesn't get passed the value from `user.lastName` when validating, however I'm not actually certain what would be correct.

If the `<Form>` validator is set to
[code]
Then it does get value on the validator, but the form state looks incorrect then as it comes out as
`forms: {$form: {...}, lastName: {...}, user: {...}}`

[2016-09-05 14:19] davidkpiano commented on #384
This is fixed now and will be out in the latest `@beta`. You're correct that `'user.lastName'` should be `'lastName'` as the validator key. Here is the fix:

[code]

I'll close this once I have unit tests for it!

[2016-09-05 14:46] #384 closed

[2016-09-05 18:16] dstudzinski commented on #383
It works:) thank you for your help.

[2016-09-05 18:32] #383 closed

[2016-09-06 13:28] davidkpiano commented on #323
Added to `@beta` here: https://github.com/davidkpiano/react-redux-form/commit/44e0712144e5775aa1f6d0f2d7a39b0a80805ec4

[2016-09-06 13:28] #323 closed

[2016-09-07 17:47] eminaz commented on #76
@davidkpiano I could not open that link now, has the url changed?

[2016-09-07 19:11] davidkpiano commented on #76
@eminaz Yes it has, in preparation for V1. I'll see if I can find the original, but there's no magic to making dynamic forms. It just works:

[code]

Contrived example, but you get the idea 😄

[2016-09-08 12:51] ozum commented on #382
Just realized that `v1.0.0` is OK.

[2016-09-08 13:26] ozum opened #391 "Cannot Type in Collection Textbox After Change of Array"
# Version
`v1.0.0`: OK
`v1.0.0-beta.1` to `v1.0.0-beta.8`: Affected
`v1.0.0-beta.9`: OK

# Problem
After altering array of collection (for example deleting an item from array) text boxes of collection items behaves unexpected such as order of tab is corrupted, cannot type text boxes, cannot focus text boxes.

# Details
I will try to explain the problem over an example. Example code repo can be fou

[2016-09-08 14:35] davidkpiano commented on #391
Thanks again for the detailed report @ozum! I couldn't reproduce the focus/tabbing problems locally (when I pulled the latest from your branch), but I _did_ discover another weird cursor bug.

Also, I published the latest `1.0.0-beta.9`, can you do me a huge favor and try with that?

[2016-09-08 14:35] davidkpiano commented on #382
Okay awesome! Please let me know if there are any other performance regressions. Also, do you mean `v1.0.0` as in directly from the `master` branch?

[2016-09-08 14:40] ozum commented on #382
@davidkpiano please reopen this issue at least until you try it on another machine.

By `1.0.0`, I mean the version from npm. Command: `npm install react-redux-form@1.0.0`

P.S. As you remember, this version confused me, which I asked in another case, because I assume `1.0.0` is greater and later than betas. However you are developing new betas after `1.0.0`.

[2016-09-08 14:46] ozum commented on #382
Latest report. I also updated (first message according to this).

For this particular problem:
`v1.0.0`: There is no problem.
`v1.0.0-beta.1` to `v1.0.0-beta.8`: Problem exists. (High usage for every key press on 1st line)
`v.1.0.0-beta.9`: Performance greatly enhanced, but still exists. (High usage 1 out of 5 key presses on 1st line)

[2016-09-08 14:51] ozum commented on #391
`1.0.0-beta.9` is OK. It's not affected from all three problems I reported.

[2016-09-08 16:25] davidkpiano commented on #391
Awesome! :tada:

[2016-09-08 16:25] #391 closed

[2016-09-09 23:24] EQuimper opened #393 "Remove Index"
Hey, first thing awesome packages ;)

I try to remove a option in my model. I give  `actions.remove(model, i)` i is the index coming from map. When I see in the console with redux logger is always the same `removeKeys: Array[1]`

I try to find the index etc and when I put the number the dispatch always do this with the same index.

Sorry for my english

[2016-09-10 01:11] yoyeung opened #394 "No re-render when first time merge data"
I have some issue when i using this library.
The situation is when i finished initial form.
I need to make an ajax call to get update data to prefill the form.
I am using this:
[code]
actually it will not update
if i add this after the first merge.
[code]
if will refresh.
I don't know why the first merge is working but did not call the render method again.
in my view i have some "this.props.custom

[2016-09-10 02:52] davidkpiano commented on #394
I can't reproduce this in 0.14.x: https://esnextb.in/?gist=3e82d2400f65c5eaedeb7932f42d7b05

Please look at the above code and see if it matches your use case. I notice you're chaining `.done` to `dispatch` - are you using any other middleware than `redux-thunk`?

Also, if you want to post a minimal use-case example in www.esnextb.in, that would be really helpful 😄

[2016-09-10 02:55] davidkpiano commented on #393
Thank you! The `removeKeys` property is internally used by RRF to keep track of which array item is being removed.

Why? Consider if you have an array of 5 of the same items: `[1, 1, 1, 1, 1]`, and you remove an item: `[1, 1, 1, 1]`. How will you know which item was removed? `removeKeys` is how RRF knows.

So, is `actions.remove(model, i)` giving you an unexpected result in your model?

[2016-09-10 03:42] EQuimper commented on #393
Remove only the last item each time. Not the one I want.

[2016-09-10 03:53] davidkpiano commented on #393
Which version?

[2016-09-10 03:55] EQuimper commented on #393
`0.14.5`

[2016-09-12 12:06] i4got10 opened #395 "Form submission does not happen right after validation"
Live example: https://esnextb.in/?gist=1225a9edcb310e0dd7a64e88a9f80562

_Steps to reproduce:_
1) Click button - form is invalid now
2) Type some text - form is still in invalid state(in reason of ``validateOn="submit"``)
3) Click button - ok, form is valid now. But method ``_save()`` did not invoked.
4) Click button again - submission successfully passed, method ``_save()`` invoked.

Problem here

[2016-09-12 14:02] davidkpiano commented on #395
I confirmed this is a tiny bug in v1.0, and will have a fix for that. By the way, you can use 1.0@beta in the above code without changing any code.

[2016-09-13 06:29] sdlovecraft opened #396 "DatePickerIOS failing to receive props from Field"
my JSX looks something like this:
[code]

I am using react-native and redux with an immutable JS store.  I can get react-redux-form to work with the `<TextInput/>` fine, and the store is updated as expected. However, It seems when I try to use `<DatePickerIOS/>` I get these errors:

[code]

It seems the props are not being passed in automatically to the `<DatePickerIOS/>` component from the parent

[2016-09-13 06:53] davidkpiano commented on #396
Which version are you using?

[2016-09-13 06:55] sdlovecraft commented on #396
sorry, forgot to mention :

    "react-redux-form": "^0.14.5",
    "redux": "^3.4.0",
    "react": "~15.2.0",
    "immutable": "^3.7.6",
    "react-dom": "~15.2.0",
    "react-native": "^0.29.0",

[2016-09-13 09:13] i4got10 commented on #395
I can't use ``1.0@beta`` in my real project, because it does not work without applying many changes right now. So, fix for 0.14.x branch would be appreciated.

[2016-09-13 15:02] #395 closed

[2016-09-14 01:32] sdlovecraft opened #398 "Plural Models with Single Form"
I am confused by model reducer/ form reducer pattern when dealing with plural models. If i have a `ChildForm`, and I wish the form to be used to dynamically add to a `children` model, how would you suggest I approach this?

At the moment,  I have `childForm`, `child`, and `children` models in my store. I am dispatching actions on submit to clear the `child` and the `childForm` model, while pushing

[2016-09-14 03:05] davidkpiano commented on #398
Yes, there is. Consider a store that looks like this:

[code]

And a very simple function that returns a new child:
[code]

Then you can add a child by using `actions.push()`:

[code]

And you can reference that exact child by name (or other unique ID) by using `track()`:

[code]

Hope that helps!

[2016-09-14 04:47] shubhi-gupta opened #399 "Not able to submit untouched valid form."
I am trying to edit my form, the form values gets pre populated, form is valid but there is no need to edit/touch all the fields. As of now submit form does not works if not all the fields are touched.
Can you please suggest what are the possible (best way) to submit the form without touching all the fields.
I have tried to dispatch actions.setTouched(), but did not get any help.

[2016-09-14 05:21] davidkpiano commented on #399
What version of RRF are you using? And can you provide a minimal reproducible code sample here? www.esnextb.in

The `<Form>` component doesn't care at all if the form is touched, and it will successfully submit as long as the form is valid.

[2016-09-14 12:49] davidkpiano commented on #396
Unfortunately, although these warnings are harmless, they're a bit annoying because neither `date` nor `onDateChange` are defined in the _initial_ `<DatePickerIOS />` component. However, RRF will clone that component and properly add those fields, making it work as expected. In production mode, you will not see those warnings.

[code]

Because of that, this cannot be fixed in < v0.14.x. This **wil

[2016-09-15 07:00] MrBlenny commented on #355
This is still not working in V0.14.6.
Is the fix in the beta ready to go into one of the main releases? Any reason I shouldn't run the beta in production?

[2016-09-15 16:54] davidkpiano commented on #355
@MrBlenny I'm just finishing docs! The beta is stable (twice as many unit tests as 0.14.x, and it reuses most of the same tests anyway). I just want to test it in a complex production app (dogfooding!) before releasing it.

[2016-09-16 04:20] marcpeterson opened #403 "Dynamic form validators do not stick"
I'm using Form validators.  These validators change based on the state tree.  For instance, if a certain checkbox is checked a new text field is exposed, and I change the list of validators to include one for that new text field.

But this list of new validators don't seem to stick until I actually type something into that input.  Until then, the form's state tree only shows the original validator

[2016-09-16 05:22] davidkpiano commented on #403
What version are you on? And can you show some example code that reproduces the issue?

[2016-09-16 05:47] shubhi-gupta opened #404 "Deleting the characters in between takes the cursor to the end of the string"
Using the latest version, when I am trying to delete few characters in between  then after deleting the characters instead of keeping the cursor in mid of the text it takes the cursor to the end of the text.

eg: DeleteMe, I am trying to delete "let" from the text, it takes the cursor back to the end instead of keeping it at the same place.

Is this is the expected behaviour or a bug in the latest

[2016-09-16 06:02] davidkpiano commented on #404
I cannot recreate this: https://esnextb.in/?gist=1016badcf892285592b773c3750f2e55

Can you post a code example of your minimal use-case where the issue is happening for you?

[2016-09-16 16:45] marcpeterson commented on #403
Version 0.14.5.  I'll write a short example.  If it's not enough I can try to make a complete set of files that exhibit it.

Say I create my validators in the container, and pass them into the component.
MyContainer.js
let validators = {
  text1: {
    notEmpty
  }
}

Then I use those validators in the Form.
MyComponent.js
<Form model="user"
  validators={validators}>

Then a user action triggers

[2016-09-17 14:11] davidkpiano commented on #403
I believe this was fixed in `0.14.6`: #377

Please install `0.14.6` and let me know if the problem persists.

[2016-09-17 14:12] #398 closed

[2016-09-18 12:10] davidkpiano commented on #393
Can you provide a minimally reproducible code example on www.esnextb.in? You can use this as a starting point: https://esnextb.in/?gist=f0718614d8353e230daea7c6515470e6

[2016-09-18 12:29] davidkpiano commented on #173
This has been added to the latest `@beta`! Currently it works if the root model is in `<Form>` and the partial models are in `<Control>`. Before 1.0, I plan on supporting `<Field>`, `<Errors>`, as well as perhaps adding a `<Fieldset>` component that will let you add a context without creating a `<Form>`?

[code]

[2016-09-18 12:29] #173 closed

[2016-09-19 04:35] marcpeterson commented on #403
Indeed it was fixed!  Sorry, I should have searched first.  Much thanks, this is a great library!

[2016-09-19 04:36] #403 closed

[2016-09-19 09:00] venelin-mihaylov opened #405 "combineForms with other reducers"
V1 beta 10.
How can I combine the RRF reducers with other reducers?

Vanilla example:
[code]

I tried:
[code]

And:
[code]

Doesn't work.

I know that the question is probably stupid.
Thanks

[2016-09-19 09:18] venelin-mihaylov commented on #405
[code]

[2016-09-19 09:18] #405 closed

[2016-09-19 14:01] slashwhatever opened #406 "_reactReduxForm.combineForms is not a function"
I'm getting this error when trying to set up a basic running example.

"SemanticFormApp.jsx:23 Uncaught TypeError: (0 , _reactReduxForm.combineForms) is not a function"

My use case: I need to the the injectAsyncReducer paradigm. The main data that my form will use is not exclusive to the form. It's a general data object available on the page. That's not to say I can't have some subset of that dat