[2016-09-19 14:18] davidkpiano commented on #406
Which version are you using? `combineForms` is on `react-redux-form@beta`.

[2016-09-20 07:52] slashwhatever commented on #406
Ah yes. Sorry, that wasn't apparent from the docs.

Error is now gone. Use-case doesn't work but at least there's no errors now :)

[2016-09-20 07:52] #406 closed

[2016-09-20 08:46] slashwhatever opened #407 "Uncaught TypeError: mapProps is not a function"
Attempting to use custom controls in beta as per the docs [here](https://davidkpiano.github.io/react-redux-form/docs/guides/custom-controls.html).

The below form works fine when using standard fields as per the example in the Quick Start guige. As soon as I update to use custom controls, I get an error.

[code]

[2016-09-20 12:12] davidkpiano commented on #407
😅 I actually just fixed this last night! Grab the latest `@beta` at `react-redux-form@1.0.0-beta.11` - the `mapProps={...}` prop will default to the standard control prop mapping for `<input type="text">`-like controls.

[2016-09-20 12:17] davidkpiano commented on #407
Are you on the latest `@beta`? Should be `1.0.0-beta.11`

[2016-09-20 12:24] glensomerville opened #408 "Typo in import isTouched"
There is a type in the 1.0.0 version in `form/index.js`. The path has a capital `'./is-Touched'`, whereas the file is lowercase `is-touched.js`.

[2016-09-20 12:35] davidkpiano commented on #408
[code]

The paths are correct (otherwise ESLint or Webpack would have yelled at me), but as a general question, should file names match their exports? E.g.;

[code]

[2016-09-20 12:36] davidkpiano commented on #407
Also, to fix this without updating RRF, you can use `<Control.text model="...">`.

[2016-09-20 12:44] glensomerville commented on #408
Thanks! I was getting a compile error in webpack from this, but perhaps my version was a bit stale already.

Regarding the file naming, perhaps matching names with exports makes things easier to spot, but the convention may vary.

[2016-09-20 16:17] slashwhatever opened #409 "Submit only changed fields?"
Anyway to submit only changed fields on a form?

Additionally, right now my form passes the entire model to the submit handler, even if the form only uses a couple of fields from that model. Naturally, I can shave my model down after it's returned from the server to be more appropriately sized but it would be nice to be able to simply grab the current field values from the form, rather than the en

[2016-09-20 17:24] davidkpiano commented on #409
That would make for a good enhancement! I'll add it after releasing V1.

[2016-09-21 17:15] newtriks opened #410 "Nested combined reducers breaks forms"
Based on the example provided in this repos.

1. If I update `store.js` as below to replicate my having another store where I am combining reducers then combining this into the top level reducer:

[code]

Then update the `user-form.js` to account for this change in state path:

[code]

I notice the model in the component reflects this model change. However, the form Fields are not populated with t

[2016-09-21 17:30] newtriks commented on #410
Okay, on further digging through previous issues it's led me to using `createFormReducer`...

[2016-09-21 18:07] davidkpiano commented on #410
Currently, your store has this shape:

[code]

That means that both the `modelReducer` and `formReducer` for the user is actually at the path `"bar.user"`, not `"user"`. So you would fix it like so:

[code]

And it should work as expected. If you are using `combineForms`:

[code]

and you can access your user form from `bar.forms.user`.

Let me know if this helps! 😄

[2016-09-21 18:50] newtriks commented on #410
Thanks for the quick response @davidkpiano, using the beta version those approaches work. Previous versions of your lib e.g. pre 1.0 the first example didn't seem to work oddly? Regardless, it's all good with the beta thanks!

[2016-09-21 18:50] newtriks commented on #410
@davidkpiano one final question sorry, which is the preferred approach and why?

[2016-09-21 20:51] davidkpiano commented on #410
The preferred approach is `combineForms()` for a couple of reasons:
- It's much less code and boilerplate that you have to write! 🎉
- It's a _very_ thin wrapper on top of `combineReducers()`.
- It consolidates all your forms into a single `.forms` state, instead of having to define all of your forms reducers.
- There is the _possibility_ in the future that the API for `combineForms()` might be enh

[2016-09-21 20:52] #410 closed

[2016-09-21 22:23] davidkpiano commented on #404
@shubhi-gupta Closing due to inactivity. Please let me know if you can send me a reproducible code example.

[2016-09-21 22:23] #404 closed

[2016-09-21 22:24] davidkpiano commented on #399
@shubhi-gupta Closing due to inactivity. Please let me know if you can send me a reproducible code example. Also, please let me know if this happens on the `@beta` if you get the chance.

[2016-09-21 22:24] #399 closed

[2016-09-22 05:09] shubhi-gupta commented on #404
@davidkpiano : Its working proper in the beta version.

Though the scenario is reproducable in the example-> https://davidkpiano.github.io/react-redux-form/docs/recipes/quickstart.html

[2016-09-22 12:47] davidkpiano commented on #404
Thanks @shubhi-gupta, I will update the version of RRF in the example.

[2016-09-23 04:48] Psykar commented on #80
Numbers and booleans would help here - and probably a note in the docs.
Just ran into this myself, and having a giant debate with myself of the various methods to handle this.

* Use ES6 Map objects, but with strings as keys instead of numbers
* Use ES6 Map objects, and put parser props on all my selects to convert to ints
* Use objects, which only works because all object keys are silently conver

[2016-09-23 12:44] davidkpiano commented on #80
@Psykar it's difficult because the event emitted by a native `<option>` is always going to convert the option's `value` prop into a string. I'll keep trying to explore solutions, perhaps similar to how radio buttons are already behaving (you can have complex values for radio buttons).

[2016-09-23 13:38] slashwhatever opened #411 "Error in ./~/react-redux-form/lib/reducers/form/change-action-reducer.js"
Module not found: Error: Cannot resolve module 'fbjs/lib/shallowEqual'

https://puu.sh/rl79R/984570f882.png

Seems to be since updating to 1.0.0

[2016-09-23 16:23] davidkpiano commented on #411
Are you running `npm install react-redux-form@beta --save`?

There is nowhere in the beta that is importing that module.

[2016-09-26 08:49] slashwhatever commented on #411
Seems I'm getting this from 1.0.0

I'll update to the beta channel and see what I get....

[2016-09-26 09:38] vegansk commented on #408
@davidkpiano, this bug still exists when using ``npm install --save react-redux-form@beta``

[2016-09-26 12:01] davidkpiano commented on #411
That's weird that that happened. Glad that you can no longer reproduce it!

[2016-09-26 12:01] #411 closed

[2016-09-26 17:42] davidkpiano commented on #408
@vegansk What version does it say that you have?

[2016-09-26 18:02] #407 closed

[2016-09-26 18:40] #394 closed

[2016-09-26 21:05] mbiernacik opened #412 "Documentation is not working on Safari"
Hey. I noticed that documentation of v1 is not working properly on Safari (iOS/OS X). There is a scroll issue and documentation is unreadable.

I checked in browser console that one file cannot be downloaded https://davidkpiano.github.io:35729/livereload.js and browser does not display rest of the page.

I made a small investigation and discovered that probably this [commit](https://github.com/dav

[2016-09-26 21:20] davidkpiano commented on #412
Thanks for pointing that out! I went ahead and removed that plugin.

[2016-09-26 21:25] gehsekky opened #413 "can anyone point me to an example using a dynamic form?"
I'm trying to use RRF with a form where we are dynamically generating form fields depending on values from the state. So if you specify "number of nights" as 4, another screen will display four rows in an accordion, each row with 3 form fields associated with that given "night". Is this possible with RRF?

[2016-09-26 21:46] davidkpiano commented on #413
It's absolutely possible. I'll create a recipe soon. Here's an idea of how you can accomplish that:

[code]

[code]

(some imports, etc. left out for brevity)

[2016-09-27 02:03] vegansk commented on #408
@davidkpiano, it's very strange. It worked after some time. CI builds of my project was broken, but now it's ok. Version in package.json is ``^1.0.0-beta.12``.

[2016-09-27 02:20] #408 closed

[2016-09-27 09:15] anaibol opened #414 "Prevent form submit when button is not type submit"
Hi, I am building a multistep form with buttons to go to the next step. It seems that by default all buttons do form submit.
With a onClick event on the button, both actions are fired. Is there a way to prevent that?

Thanks!

[2016-09-27 10:15] janhenkgerritsen opened #415 "Problem with React Native and react-dom"
When I try to use react-redux-form in my React Native application I get the following error:

`EventPluginRegistry: Cannot inject event plugin ordering more than once. You are likely trying to load more than one copy of React.`

This is the same issue as [this one](https://github.com/facebook/react-native/issues/8007).

This problem makes react-redux-form unusable with React Native.

I have to adm

[2016-09-27 11:09] mbiernacik commented on #412
I just checked and scroll issue still exists. So problem must be with something else than plugin I mention above.

[2016-09-27 12:06] #415 closed

[2016-09-27 12:07] davidkpiano commented on #415
@janhenkgerritsen I found the issue, was able to replicate it in a React Native test project, and went ahead and fixed it. Thanks for the report!

[2016-09-27 12:10] davidkpiano commented on #414
Keep in mind that the default behavior of an HTML5 `<button>` element is to submit a form: http://w3c.github.io/html-reference/button.html

In order to prevent this default behavior, you must explicitly state its type:

[code]

[2016-09-27 12:10] #414 closed

[2016-09-27 12:13] davidkpiano commented on #328
V1 is out! I will have docs for form plugins soon.

[2016-09-27 12:13] #328 closed

[2016-09-27 12:36] davidkpiano commented on #329
Still planning this as an enhancement, but as an option - there are use-cases where async validity _should_ run even though sync validity is invalid. As a contrived example, say there's a `username` field with:

- **sync** validity that it cannot be the same as the `email` field
- **async** validity that it cannot be already taken

It would be useful to see simultaneous errors that the username is

[2016-09-27 12:37] davidkpiano commented on #375
V1 is out! Please let me know if the documentation is unclear on this topic.

[2016-09-27 12:37] #375 closed

[2016-09-27 12:38] davidkpiano commented on #393
Closing due to inactivity, and V1 is out which (more likely than not) resolves this issue.

[2016-09-27 12:38] #393 closed

[2016-09-27 12:39] davidkpiano commented on #396
Fixed in `1.0.2`! The new code is exactly as above:

[code]

[2016-09-27 12:39] #396 closed

[2016-09-27 13:05] morsdyce commented on #329
I personally think the example didn't fit to what you were trying to say, the point of this is to minimize requests to the server so if the sync validity is invalid there is no reason to hit the server.

But I agree you should let the consumer of this library to decide what he wants.
I personally would put the async only when sync passes as the default setting as it is for example in angular 1 and

[2016-09-27 13:13] MiMaMuh opened #416 "mapProps leads to undefined props.value on a custom control"
Hi,
great to see v1 is is already there! Thx. 👍

Just created a custom control and figured out on v1.01 it do no longer pass the value to my custom component when mapProps is used. Here my simple example:
[code]
If the ```<Control />``` do not have a mapProps prop it seems to work ...

[2016-09-27 13:43] davidkpiano commented on #416
Just added the ability in fbe3ee8 to extend existing `mapProps` if you define your control like this:

[code]

Otherwise, you have to explicitly map `{ value: (props) => props.viewValue }` in the props, and here's why (updated the docs with the below answer):

-----

One important thing to keep in mind is that there is no single `value` for a `<Control>`; rather, there are two types of values (tha

[2016-09-27 13:44] davidkpiano commented on #329
Okay, good point.

[2016-09-27 13:54] #329 closed

[2016-09-27 14:04] EQuimper commented on #393
@davidkpiano sorry I didn't get the notification. I got to work around I think that was bad code from my side and note your. The thing happen is when I delete that delete ok in the redux state but the view wasn't the same due to bad rerender

[2016-09-27 14:12] davidkpiano commented on #393
Ah alright. I'll continue to look into it to see if it will become a further issue. Thanks!

[2016-09-27 14:48] MiMaMuh commented on #416
Okay. Yes, I saw the two differences but I think my issue is, that the ```value``` is ```undefined``` even if I map it with mapProps like: ``` { value: (props) => props.modelValue } ```.  I logged the props within a map-function and saw ```modelValue``` is ```undefined```.

I've set the initial-state for formReducer and modelReducer but ```props.modelValue``` in the mapProps-function is undefined.

[2016-09-27 15:23] gehsekky commented on #413
@davidkpiano This is fantastic, thank you. Are dynamic forms are at all supported in the old 0.14.x branch or just in the beta?

[2016-09-27 15:25] davidkpiano commented on #413
They're supported in both `0.14.x` and `1.0` (now out of beta)!

[2016-09-27 15:25] #413 closed

[2016-09-27 15:28] davidkpiano commented on #416
What does your `store` look like?

[2016-09-27 15:30] janhenkgerritsen opened #417 "React Native undefined is not a function (evaluating 'babelHelpers.typeof(obj)')"
If I change some text in a `<Control.TextInput>` element in a React Native application I get the error

`undefined is not a function (evaluating 'babelHelpers.typeof(obj)')`

I found [this StackOverflow question](http://stackoverflow.com/questions/39016025/reactnative-babelhelpers-typeof-is-not-a-function/39016277) where the accepted answer says that the `es2015` preset in the `.babelrc` file does

[2016-09-27 15:46] #417 closed

[2016-09-27 15:46] davidkpiano commented on #417
Sorry about that! The fix will be published in an upcoming patch.

[2016-09-27 15:51] MiMaMuh commented on #416
Basically something like:
[code]

[2016-09-27 16:02] davidkpiano commented on #416
[code]

Make sure that the `model`, which is the first argument to `modelReducer`, is the _exact_ path to the model's state in the store. So in the above example, it should be `'myForm'` or whatever you named your model.

[2016-09-27 18:54] igor-im commented on #80
@Psykar we use option value as the key in an Object/map, so to load object we got state.data[e.target.value]
We haven't seen a single issue with that

[2016-09-27 22:37] VincentCordobes opened #418 "form reset with blank fields bug"
Hi,

I have noticed something weird with `<Errors show="touched" />` after the form has been reset with empty fields; error messages are no longer displayed when fields are touched again. Is it the expected behaviour ?

You can reproduce this on your codepen example http://codepen.io/davidkpiano/pen/b63b4a409763716b4101faa68d1f25e0

Here is a scenario:
1. Touch a field (for example `username`)
2.

[2016-09-27 23:37] Maxim-Chugaev commented on #418
I have same issue. And more, after reset model my form is valid with empty fields.

[2016-09-27 23:49] VincentCordobes commented on #418
Yep, plus the `errors` field is the empty object.
 I guess it comes from `reducers/form/reset-action-reducer` updating the field with `initialFieldState` which contains the `errors: {}`. Maybe we should "revalidate" the form after it has been reset ?

[2016-09-27 23:55] Psykar commented on #80
@igor-im yeah - if you're using objects that's probably only working because object keys are coerced into strings.
I've got lots of options, it's just that the 'nicest' one isn't possible due to the native `<option>` event's being turned into strings.
There doesn't seem to be an easy way to solve this in the general case this as @davidkpiano mentions.

Without this, the nicest one seems to be addi

[2016-09-28 01:48] #418 closed

[2016-09-28 01:48] davidkpiano commented on #418
Thankfully, this was a simple fix. See a347a18 - this will go out in the next patch.

[2016-09-28 08:49] MiMaMuh commented on #416
Thank you, that was my issue!

[2016-09-28 08:49] #416 closed

[2016-09-28 15:35] venelin-mihaylov opened #419 "actions.load & validations"
Scenario:

[code]

I have a "Form" with sync validators on "Control"s. On mount the validators are triggered, my fields become invalid. I call `actions.load()` The fields are still invalid.

_/If I call actions.change(), then the fields are no longer  "pristine"/_

**I need to load data into the model/form and the fields to be pristine and valid**

_/The data that I load has been validated before,

[2016-09-28 15:51] davidkpiano commented on #419
How about a combination of `actions.reset('your.initialModel')` and `actions.load('your.initialModel', newValue)`?

[2016-09-28 16:49] venelin-mihaylov commented on #419
Seems to work :) . Thanks a lot :)

[2016-09-28 16:49] #419 closed

[2016-09-28 17:21] davidkpiano opened #420 "PROPOSAL: Local Form State (enhancement)"
Sometimes, a form and model state don't necessarily need to be tied to the global Redux store state, as the state is only relevant in the context of the form, and will be destroyed when the form is unmounted/submitted anyway.

In that case, we can _probably_ reuse most of the same API for `<Form>`, with a smarter `model={...}` prop that will detect if it is an instance of a React `Component` class

[2016-09-29 00:21] erin-doyle commented on #319
Is it possible this is still not working completely with immutable.js?

I am using the latest version (1.0.3) of react-redux-form.  I am importing combineForms from react-redux-form/lib/immutable and using it like so:

[code]

then in my form I'm importing Field and Form from the same place like so:

[code]

It seems as if when things like updateField() or changeActionReducer() are called they are

[2016-09-29 01:41] davidkpiano commented on #319
@erin-doyle I'm still working on making React-Redux-Form compatible with ImmutableJS. It's a non-trivial task, but I'm halfway done.

[2016-09-29 04:59] VladShcherbin opened #421 "Possibility to skip store key with combineReducers"
Since probably 80 or more % of the apps will be using store not only with forms, `combineReducers` function will be used a lot. So, we will have:

[code]

Is it somehow possible to avoid using `forms.user` / `forms.user.name` and just `user` / `user.name`, maybe a convention?

[2016-09-29 05:15] VladShcherbin opened #422 "Possibility to create store form object when actual form is created"
Currently, the initial store has the model and the form state.

A single form's field is an object with 15 keys. So, a simple form with 6 fields and a `$form` object will be a nested object with ~ 110-120 keys. If there are 10 forms in the app (imagine admin panel) - the numbers will be different.

I'm not sure if this store pollution is good and how can it affect performance. Is it possible to cr

[2016-09-29 08:09] max-mykhailenko commented on #405
@venelin-mihaylov I can't understand your solution, where you put `navReducer`?

[2016-09-29 08:21] max-mykhailenko opened #423 "How to async load initial state?"
Documentation for state loading is unclear. How I should format `data` object when my form is deep or not deep?

<img width="788" alt="screen shot 2016-09-29 at 11 14 39 am" src="https://cloud.githubusercontent.com/assets/1213198/18946119/2473b1d0-8636-11e6-9e50-ffa51072947a.png">

Also I tried to understand how to createStore with reducers for business logic

[2016-09-29 08:58] anaibol commented on #414
Thank you very much @davidkpiano!

[2016-09-29 09:29] MiMaMuh opened #424 "Utils like getField but for model value and form fields?"
Hi, are there simple utils like getField to get the models' value or field-object of a input based on its model-path?
To do things like this easily:
[code]
Currently, when I want to get the value I have to use getField and truncate ```.firstName``` from the model ```user.firstName``` and then get the value by ```value.firstName```. It is okay, but it would be convenient to have such utils as part

[2016-09-29 09:48] davidkpiano commented on #424
If you are using [lodash](lodash.com), you can just use lodash's `get` function:

[code]

But I will make available the internal util functions for getting the model value and the field value. I agree; it would make things more convenient.

[2016-09-29 09:52] davidkpiano commented on #423
Ah sorry, you found a typo in the docs! That should be:

[code]

where `actions.load` is called with two arguments: the `model` and the `data` that represents the value of that model.

For instance, your data shape can look like this:

[code]

Does this help?

[2016-09-29 09:53] venelin-mihaylov opened #425 "one-to-many array & validators & ignore={['focus']}"
Two issues:
1.
- Control having validators
- one-to-many records / or the model itself is an array.
- If I append a record to an array with empty values, then the form breaks.

2.
- Control with ignore=['focus']
- one-to-many records / or the model itself is an array.
- If I append a record to an array (regardless empty or not), then the form breaks

Steps to reproduce:
1. Click "append" twice
2.

[2016-09-29 09:58] davidkpiano commented on #405
@max-mykhailenko

[code]

[2016-09-29 10:04] davidkpiano commented on #422
Yes, that would be a good enhancement and I'm sure it's possible without changing the code too much. It would have to be specified in the third argument (`options`) of `formReducer`:

[code]

This behavior wouldn't be on by default because that would be a breaking change - the form state is made available throughout the app initially regardless of if the form was physically created or not, and tha

[2016-09-29 10:12] davidkpiano commented on #421
Sure, I can provide a `mapForms` function (I'm sure there's a better name than `"mapForms"`, any suggestions?) that would simply give the object that `combineForms` uses in Redux's `combineReducers()`:

[code]

How does this look? You'd just use the spread operator to assign the `user`, `foo`, and generated `forms` reducers directly on the object passed into `combineReducers`, so that you can acce

[2016-09-29 11:13] davidkpiano commented on #420
On second thought, the above proposal is way too magical. I'd rather the developer have control of the local form and model values:

[code]

where the developer can set up the handlers:

[code]

[2016-09-29 12:02] erin-doyle commented on #319
Ah ok, well that certainly helps to know!  This is a really great library and I thank you for all your efforts so far so I will definitely be looking forward to that!  If you wish to dole out any of the work I'd be very interesting in chipping in and contributing!

[2016-09-29 12:19] davidkpiano commented on #319
Thanks @erin-doyle - always willing to accept PRs! Essentially, here's a concept of what I'm doing to make RRF compatible with ImmutableJS.

First, we start with an original function:
[code]

Then we separate the internal operational functions into "strategies":
[code]

And then we create a function that takes in a `strategy` and returns the original function with the specified strategy:

[code]

[2016-09-29 12:20] max-mykhailenko commented on #423
Thanks! Now my form works correct. Only one thing now is looking not perfect: I should add `deep.` to every `model` attribute in every control.
Now it looks:
[code]

Can you describe a reducer data structure? Why we need `forms.forms.$form` object?
<img width="391" alt="screen shot 2016-09-29 at 3 18 01 pm" src="https://cloud.githubusercontent.com/assets/1213198/18953595/f0ae2f98-8657-11e6-93a4-c0

[2016-09-29 12:28] davidkpiano commented on #423
Yes, I'll add it to the docs - writing them up now!

Basically, any **field** is directly accessible:

[code]

This is for the common case of when you need to see the field value of an individual field. Any **primitive type** is considered a field, such as a JS string, number, or boolean. This closely represents the possible values that a user can enter into a single form control (you can't really

[2016-09-29 12:42] erin-doyle commented on #319
So is my assumption correct that a punch list of what's left to do can be determined from the export list in https://github.com/davidkpiano/react-redux-form/blob/master/src/immutable.js where there is not yet an immutable counterpart?

[2016-09-29 12:48] davidkpiano commented on #319
Yep! And also a slight refactoring of the unit tests (I got started on this in `field-component-spec.js`):

[code]

[2016-09-29 12:57] max-mykhailenko commented on #423
Yes, I got it, thanks!. One more question — `deep.forms.$form` represent state (validation, pristine) of all forms in store?

[2016-09-29 13:08] davidkpiano commented on #423
Yep, that's exactly right! This also means that you can have nested forms

[2016-09-29 13:15] max-mykhailenko commented on #423
Unfortunately my english doesn't allow me to improve docs in PR. Thanks for clarification!
PS. Your API is better than in redux-form ;D

[2016-09-29 13:15] #423 closed

[2016-09-29 14:11] slashwhatever opened #426 "action.reset should reset to last actions.load"
Use case:

Form loaded with data via and ajax call.
User updates records in the form.
Clicks submit.
For reasons, the persist fails and the ajax call returns an error.

We now need to reset the form to the values present before the update action took place.

Currently, when I call `actions.reset()`, the form returns to a blank state.
Desired functionality; the form should reset to the state it was

[2016-09-29 14:30] VladShcherbin commented on #422
Yes, this would be awesome.

[2016-09-29 14:36] VladShcherbin commented on #421
Yes, this would be great. Will the `Partial Models` with just `.name` work as well?

[2016-09-29 14:44] venelin-mihaylov opened #427 "performance"
I am using RRF with semantic ui react components.
By default, when a field is changed, the whole form is re-rendered.
All fields are also re-rendered on focus and blur for every field.
I experimented with updateOn='blur' and ignore=['focus','blur'] .
1. If I use updateOn='blur', only the currently edited field is re-rendered on change, which is ok.
1.1 Then I add ignore=['focus']. Thus, the form i

[2016-09-29 15:05] davidkpiano commented on #427
Can I see a reproducible example of the code? Also, are you `connect()`-ing your form?

[2016-09-29 15:05] davidkpiano commented on #421
Yes, that's independent of this and will continue to work.

[2016-09-29 15:08] davidkpiano commented on #426
Sure, I'll add this functionality. It makes sense.

[2016-09-29 15:20] venelin-mihaylov commented on #427
In general my forms are connect() -ed.
In the example below the form is not. The behavour is the same.
I use "trace react updates" in the react chrome plugin to look at what is being re-rendered.
https://codepen.io/vmihaylov/pen/PGKbLW

[2016-09-29 15:24] MiMaMuh opened #428 "Focusing a radio button and validation on focus"
Hi, when I ```focus``` a radio-button with a keyboard tab and do not check one of the radios, the ```validators``` get the ```value``` of inputs' value-attribute passed instead of the stores' model value:
[code]
In this example, when I ```focus``` the radio button and the model value of ```model.test```is currently null, the validator gets the value of the radio-buttons' value-attribute passed, in

[2016-09-29 15:27] venelin-mihaylov commented on #426
I second that, I load data the same way. Currently, I store the loaded record at a separate place in the redux state and on reset I do actions.load(loadedRecord)

[2016-09-29 15:35] koyoyo opened #429 "Question: how to find out that collection data is changed or not."
I want to do autosave if data has been changed on every minute. So, I find the way to determine that each field is change or not. For general field, I can check on `pristine` in form data. But for collection field, it's hard to loop to check that it is changed or not because it's has `$form` among with data.

Do you have any suggestion how to check it ??

This is my example store.

[code]

Thanks.

[2016-09-29 16:21] davidkpiano commented on #429
I'll actually add this as an enhancement - the way you'd do it currently is by something like:

[code]

I'll fix that up real quick so that all you have to do is:

[code]

[2016-09-29 16:29] #425 closed

[2016-09-29 16:40] davidkpiano commented on #412
Scroll issue should be fixed now!

[2016-09-29 16:40] #412 closed

[2016-09-29 18:01] davidkpiano commented on #428
Hm, I'm confused - the behavior seems correct. Validators are based on the value that the model is about to become rather than what the model is previously, which would be the value toggled by the radio button. Can you clarify the use-case?

[2016-09-29 20:02] udalrich opened #430 "Accessing dispatch from a stateless function"
The validation examples get the `dispatch` function from `this.props.dispatch` and are implemented by extending `React.Component`.  I do not see how to do it with a stateless function.  I have a form

[code]

This is rendered by

[code]

This looks like what is in the examples, but `props` is an empty object.

[2016-09-29 20:28] davidkpiano commented on #430
That is correct. The `dispatch`, etc. props are passed into `<Form>`, not the outer `<TheForm>` container.

[2016-09-29 21:44] udalrich opened #431 "Accumulate all errors inside one Errors element?"
It appears that a single `<Errors>` will only show the errors for one field.  What is a good way to accumulate all of the errors in a single place?  I am looking for something like

    <Form model="data">
       <Control.text model=".foo" validators={{v1, v2}} validateOn="blur">Foo</Control.text>
       <Control.text model=".bar" validators={{v1, v3}} validateOn="bar">Bar</Control.text>

       <

[2016-09-29 21:53] davidkpiano commented on #431
This is not currently supported, though you can always do:

[code]

Is this sufficient? I can _look into_ having `model` accept an array, e.g., `model={['.foo', '.bar']}` but that's a little bit more magical than the above approach with the only advantage being a little less code.

[2016-09-30 02:49] koyoyo commented on #429
Thanks very much.

[2016-09-30 04:03] #429 closed

[2016-09-30 06:53] max-mykhailenko commented on #427
I also have performance problems. My form has 1300 checkboxes and connect() time awful. Form render time is more than 20 seconds. Main delay is in `ConnectedControl` component. What you can recommend for me?

[2016-09-30 08:31] MiMaMuh commented on #428
Yes, of course. I think the issue is, that the model will not change when I just tab over the input without selecting it. But I do get the value-attribute-value of the input passed to the validator with isn't correct when nothing is checked I think.

**There are two use-cases:**

**I. I have a group of two radio-buttons** where I have to select one of the two options but none is selected currently

[2016-09-30 09:33] venelin-mihaylov commented on #425
updated to 1.0.4
1. form mounts
2. actions.reset(model)
3. actions.load(model, values)
4. Felds which are not text fields - select / datefield are marked as invalid, although valid values are shown in the form. I guess the validation is not run when it should. The fields with issues are custom fields, I use prop mapping. I haven't created a reproducible example yet, can you fix the issue without o

[2016-09-30 09:56] koyoyo opened #432 "Set pristine does not work in collections"
I changed input field description in photos, so it's pristine to false. Then, I called `dispatch(actions.setPristine('deep.trip'))` but it set pristine in photos not in each item in collection

My structure data after call setPristine (same as #429 )

[code]

[2016-09-30 11:55] venelin-mihaylov commented on #427
Additional thoughts:
Is there a need to re-render all fields on focus, blur, and on every model change (even if it's not the current field)?
From where that 'feature' comes? Can it be avoided?
maybe shouldComponentUpdate() can be used?

[2016-09-30 12:50] davidkpiano commented on #427
No, and it shouldn't. I'll investigate this. I am using `shouldComponentUpdate` in the controls.

@max-mykhailenko Can you provide me a reproducible example, so that I can accurately address the performance issue? Is it just 1300 checkboxes?

[2016-09-30 14:15] max-mykhailenko commented on #427
You can just create loop with 1300 iteration and render Control.checkbox in every iteration. Warning: browser tab will hang for 15-20 seconds.

[2016-09-30 18:47] Maxim-Chugaev commented on #427
I have same issue, and i can give access to my repository.

[2016-09-30 18:54] davidkpiano commented on #427
@Maxim-Chugaev That would be great - I'm putting priority on this issue.

[2016-09-30 19:18] Maxim-Chugaev commented on #427
I will try to do it in the near future. Now profiler showed this result. May will be helpful.
![Image ]
(https://dl.dropboxusercontent.com/u/29852799/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82%202016-09-30%2022.00.43.png)

[2016-09-30 19:36] davidkpiano commented on #427
Also, using something like [react-virtualized](https://github.com/bvaughn/react-virtualized) in your project might be helpful.

[2016-10-01 05:03] #424 closed

[2016-10-01 11:23] VladShcherbin commented on #427
Using custom components like this one also triggers component rerendering:

[code]

[2016-10-01 12:13] VladShcherbin opened #433 "How to check touched and errors state in a custom component"
I'm trying to toggle `error` or `success` class in a custom component. The component is:

[code]

The form code:

[code]

I tried `mapProps` above, but it gives me the error in this function:

[code]

[2016-10-01 12:55] davidkpiano commented on #427
@VladShcherbin Are you using the latest version? Also, keep in mind that **Trace React Updates** in the devtools does not _only_ trace renders; it traces whether a component _may_ render (that is, if `shouldComponentUpdate` is called) even if it won't render. https://github.com/facebook/react-devtools#does-trace-react-updates-trace-renders

If your form is large, ideally you should be using `updat

[2016-10-01 12:59] VladShcherbin commented on #427
@davidkpiano yes, this was an issue with 1.0.3, with 1.0.5 everything is great 👍

[2016-10-01 13:23] VladShcherbin commented on #427
@davidkpiano I found another interesting stuff - the form has one element, but it renders twice on initiation, also clicking on label triggers rerendering as well. Here is the photo of the form & element + video of the issue:

![screen shot 2016-10-01 at 4 20 09 pm](https://cloud.githubusercontent.com/assets/6711845/19014329/4b2a58c4-87f3-11e6-8d98-9f47a5326f99.png)

[rrf.zip](https://github.com/d

[2016-10-01 18:12] #433 closed

[2016-10-01 18:14] davidkpiano commented on #433
@VladShcherbin You can do it like so (when the latest patch goes out):

[code]

as the `fieldValue` will now be provided to the props passed in to `mapProps`, which contains all of the field props:

- focus
- pending
- pristine
- submitted
- submitFailed
- retouched
- touched
- valid
- validating
- validated
- validity
- errors

[2016-10-01 18:26] #430 closed

[2016-10-01 19:54] VladShcherbin commented on #433
@davidkpiano hey, this was fast. Thank you :)

[2016-10-03 17:08] anguspiv opened #436 "Documentation Needed for the Form component"
Currently there is no documentation on the `<Form />` component, and should be added to the API docs.

[2016-10-03 17:25] #436 closed

[2016-10-03 17:25] davidkpiano commented on #436
Here you go: http://davidkpiano.github.io/react-redux-form/docs/api/Form.html

[2016-10-03 19:22] Maxim-Chugaev commented on #427
I think I made a stupid mistake, maybe it's not a problem of the library.
[code]
i added this code to my webpack config, and after this my app nice was working.

[2016-10-03 23:11] Maxim-Chugaev opened #439 "change model after reset"
I edit my form and submit data.
After submit i call
[code]
 and after some time i call
[code]
after change, my form has errors, but model is valid.

need help, pls.

![cat](http://think-differ.by/images/8659687.l3ht5ycfnl.W665.jpg)

[2016-10-03 23:16] davidkpiano commented on #439
What does your store/form look like? Can I see some example code so I can get a better idea of what the issue is?

[2016-10-04 07:08] MrBlenny opened #440 "Control.checkbox not working with changeAction (V1.0.6)"
Control.checkbox and changeAction does not seem to work in the latest version:

[code]

I don't have a demo but should be a pretty quick one to confirm if it is indeed a proper bug.

[2016-10-04 11:58] KevinBrolly opened #441 "Add class to div surrounding input on error"
Hello,

I am using Bootstrap with react-redux-form and I am trying to use bootstrap's validation.

I want my input to look like this:

[code]

However I cannot figure out how to create a custom component and pass the validated prop so that I can conditionally add the "has-error" class to the div.

I tried making a custom input component and passing it through <Control.text component={myInput} /> b

[2016-10-04 12:14] davidkpiano commented on #441
Hey! I think #433 is the same issue (solution inside). You are provided `fieldValue` in your props which you can map in `mapProps` and use to check the validity of the form:

[code]

[2016-10-04 12:14] #441 closed

[2016-10-04 13:17] Maxim-Chugaev commented on #439
i reproduced the problem in this repository
https://github.com/Maxim-Chugaev/react-redux-form_problem
![screen](https://dl.dropboxusercontent.com/u/29852799/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82%202016-10-04%2016.20.41.png)
1) model changed in
[code]
2) click button reset
3) click button load
[code]

[2016-10-04 15:14] #439 closed

[2016-10-04 15:14] davidkpiano commented on #439
This is fixed, and will go out in the next patch today!

[2016-10-04 18:25] venelin-mihaylov commented on #439
I have the same issue, thanks for fixing it! 👍

[2016-10-04 18:50] davidkpiano commented on #431
I'm going to close this in favor of the above approach - don't want to add _too_ much magic to the API! 😅

[2016-10-04 18:50] #431 closed

[2016-10-05 00:44] #428 closed

[2016-10-05 00:46] davidkpiano commented on #421
Should I call this `createForms({ ... })` instead of `mapForms({ ... })` ?

[2016-10-05 01:09] VladShcherbin commented on #421
@davidkpiano `createForms`, `mapForms`, `composeForms` - any would be great, pick one you like the most 😉

[2016-10-05 11:28] MiMaMuh opened #444 "Error component does not show error when show changes to true"
Hi, thx for the last fixes!

I want to show all errors of the input fields after a next-button was pressed. I'm using the ```Error``` component with its ```show```prop. At first, I pass a function, later, when the button was pressed, I pass ```true```. The issue is, the ```Errors```comps do not re-evaluate when ```show``` is changed? So the errors won't be shown till the validation of the form is

[2016-10-05 19:02] lasergoat opened #446 "Parser appending characters after rrf/change is dispatched"
I have a form with two inputs each with a parser. Each parser only returns a certain number of digits, aka truncates the data.

For instance: '4111111111111111111111111111' myParser-> '4111 1111 1111 1111'

However, the field shows all the extra ones.

**Seen here: my parser returns the truncated string:**

![parser](https://cloud.githubusercontent.com/assets/15964/19127357/38cf78a8-8b04-11e6-8de4

[2016-10-05 20:50] lasergoat commented on #446
just confirmed it by `npm run build` and moving the control-component to my project's npm folder. this fix works.

[2016-10-05 20:52] davidkpiano commented on #446
Merged #447 which fixes this! Thanks!

[2016-10-05 20:52] #446 closed

[2016-10-05 23:37] zach-waggoner opened #448 "Form won't submit when validators are included on custom component"
https://esnextb.in/?gist=f0752a3ce1d089a66c80b9304b2e2b24

Remove the "component={Custom}" and it works.

[2016-10-05 23:57] cyberwombat opened #449 "Calling submit handler with another dispatched action"
I have this code that returns a thunk for my API - I am working off a codebase that uses this setup extensively and am wondering if I can keep it in this context (mainly for the convenience of having params from `getState` and `axios`).

    import { SUBSCRIBE_REQUEST, SUBSCRIBE_SUCCESS, SUBSCRIBE_FAILURE } from '../../constants'

    export function subscribeUser (data) {
      return (dispatch,

[2016-10-06 01:48] davidkpiano commented on #449
One way to do it would be to pass callbacks to your `subscribeUser` function:

[code]

And then calling it like so:

[code]

There might be a cleaner way to do this but this is the first thing that I thought of.

[2016-10-06 01:56] davidkpiano commented on #448
Ah, that's because you're rendering a simple `<input>` element with no handlers! Make sure to explicitly pass the mapped props onto your custom element:

[code]

And then it will work. 👍

[2016-10-06 01:56] #448 closed

[2016-10-06 03:51] cyberwombat commented on #449
Ok thank you for you answer. I wanted to make sure I wasn't missing some obvious way.

[2016-10-06 03:51] #449 closed

[2016-10-06 11:48] davidspiess commented on #421
Waiting for this 🎉  `createForms` sounds good.

[2016-10-06 12:36] #421 closed

[2016-10-06 12:51] davidkpiano commented on #421
Docs here: https://davidkpiano.github.io/react-redux-form/docs/api/createForms.html

[code]

[2016-10-06 14:06] zabojad opened #450 "Form.onSubmit raised even if Form fields invalid"
[Here is a reproducer](https://esnextb.in/?gist=a1a5186a5ad7306cb34bd7870dea5079).

The Form.onSubmit  is called whatever the validation/errors state.

[The doc says onSubmit should not be called when Form is invalid](https://davidkpiano.github.io/react-redux-form/docs/api/Form.html#onsubmit)

RRF version: 1.0.8

[2016-10-06 15:02] davidspiess commented on #444
Anyway i expected the error messages to show up after submitting a form.
E.g in https://davidkpiano.github.io/react-redux-form/docs/recipes/sync-validation.html when submitting the form without filling out anything.

[2016-10-06 15:39] #450 closed

[2016-10-06 15:44] #444 closed

[2016-10-06 15:47] davidkpiano commented on #444
Sorry, this was caused by very strict `shouldComponentUpdate` logic in `<Errors>`, which was only checking if the `fieldValue` or `formValue` (derived props) changed. I've set it to just do a simple `shallowEqual` on the props, which should catch that the `show="..."` has changed.

In the future (a minor release), if you want to tweak performance, you will be able to do so like this:

[code]

[2016-10-06 18:13] MiMaMuh opened #451 "Press 'enter' on a control with parser skips parsing"
Hi, when I press `enter` on a `Control` and it has a `parser`, it seems to skip the parser and just push the plain value to the store in `v1.0.8`:
[code]

[2016-10-06 18:36] KevinBrolly opened #452 "Error Component formValue not equal to current form"
Hello,

I am trying to have errors from the Error component show on a failed submit.  I am doing this like so:

[code]

The formValue is in the props of the error component here - https://github.com/davidkpiano/react-redux-form/blob/c5be6cd8fd50506bd1d517f516398e91d31e71db/src/components/errors-component.js#L165

and passed into the show function prop of the error component - https://github.com/da

[2016-10-06 19:57] #451 closed

[2016-10-06 20:33] briantobo opened #453 "Typescript Definitions (react-redux-form.d.ts) is outdated"
It seems the d.ts file in the npm package is outdated. The comment at the top of the file mentions it is for v0.13.4
Has someone written a new one for v1.0 yet, or have any plan to do so ?

For now I'm stuck at:
[code]

[2016-10-06 21:30] davidkpiano commented on #453
I'd love for someone to take the reins on that; I am not familiar with TypeScript (yet) and don't have the time to work on it - I'm more focused on the core functionality of React Redux Form.

Maybe submit a PR with the updated definitions for https://hacktoberfest.digitalocean.com/ ? 😄

[2016-10-07 09:43] MiMaMuh opened #454 "validateOn="change" doesn't work with checkbox"
Hi,
simple issue: I have a `Control.checkbox` and want it to be validated on `change`. It seems it is broken on `v1.0.8`:
[code]
It works with on `blur` but it do not work with on `change`.

[2016-10-08 09:08] zach-waggoner opened #455 "Multiple forms in the same component"
I am unable to get multiple forms to work correctly in the same component. See https://esnextb.in/?gist=f0752a3ce1d089a66c80b9304b2e2b24. Here neither form is rendered, although in my code the forms do render but the first one doesn't submit.

[2016-10-08 09:19] zach-waggoner commented on #455
Interesting; it works when I enclose the forms in a <div>, although this is not the problem I have. Closing for now.

[2016-10-08 09:51] zach-waggoner commented on #455
Figured out the culprit. The problem appears when there are validators in the Forms, and the forms are deeply nested with combineForms. Check out the gist posted above. The first form does not submit, unless either the validators or the second form is removed.

[2016-10-08 16:01] BrianDGLS commented on #453
I'll pick this up.

[2016-10-08 17:02] BrianDGLS commented on #453
@davidkpiano I have added an updated .d.ts file as part of #456 .

I used the Microsoft [gen-dts](https://github.com/Microsoft/dts-gen) tool to generate it.

Before closing this ticket could you add the hacktoberfest label please?

[2016-10-08 17:28] erin-doyle commented on #319
I think this is pretty close to being done now.  In my testing everything seems to be working.  The only exception I'm finding at this point is if creating the store using the [redux-immutable library](https://github.com/gajus/redux-immutable).  If the entire store is immutable there seems to still be problems, most notably in get-form.js, otherwise if only the models within the store are immutabl

[2016-10-08 17:42] davidkpiano commented on #319
Yep, this is the intention @erin-doyle - if we can keep the `formReducer` as working with plain JS objects (even if working with immutable models), I think that should still satisfy most use cases.

[2016-10-08 23:44] zach-waggoner commented on #455
Looks like the form that doesn't submit is whichever is attempted first. When > 2 forms exist, only the last one that is attempted will submit.

[2016-10-08 23:51] erin-doyle commented on #319
So here is what the structure looks like when using redux-immutable's combineReducers like so:

[code]

[code]

Does that still look acceptable to you?  I think the only problem is that now the root state is a Map so just getting a form or model must be done differently in addition to getting values from models.  But it looks like once you get the form it's shape remains a plain object.

[2016-10-09 00:20] erin-doyle commented on #319
Actually nevermind, I can see now that isn't right.  It looks like the forms.user object does not contain the structure that it should.  I can look into that.

[2016-10-09 00:55] erin-doyle commented on #319
#457 should now make the structure of the forms.user object match whether using an immutable implementation or not.

[2016-10-09 03:38] yourfavorite opened #458 "Control.select doesn't put default selection into state until changed."
I have the following

[code]

If I change this field, the value gets added to the state appropriately. However if I leave the field alone because the default value of Listing is correct, then the state will be missing the .type value. Is there a step I should take to make sure the value of select inputs gets added to the state by default? I have tried adding defaultValue but that doesn't have any

[2016-10-09 12:58] davidkpiano commented on #455
@zach-waggoner I think this is an issue with the internal `getFormStateKey` that returns the FIRST parent form that contains the nested form, instead of the actual nested form itself. Will fix today.

[2016-10-09 15:56] davidkpiano commented on #458
It might be a bug that `defaultValue` does not initially load the value, though ideally you would have this default value as part of the initial state in your model reducer (or in `combineForms`). RRF does not assume that the first `<option>` is the default value, and I don't believe the W3 spec does either - it assumes that `<option selected>` is the default. Ideally, you'd have a select that loo

[2016-10-09 19:39] #455 closed

[2016-10-09 19:51] davidkpiano commented on #452
@KevinBrolly This is probably be fixed with #455. When I release a patch soon, can you verify?

[2016-10-09 19:53] davidkpiano commented on #382
@ozum Can you verify that this issue still exists with the latest RRF? #427 should have addressed this holistically.

[2016-10-10 01:44] TLadd commented on #452
I noticed this as well in 1.0.8; when validating a form on submit and the validation fails, the submitFailed value at the $form level is set to true, but the fields themselves remain false. @davidkpiano, would you expect the fix you mention to fix this as well?

[2016-10-10 08:00] MrBlenny commented on #440
Any ETA on the fix?

[2016-10-10 11:54] davidkpiano commented on #440
@MrBlenny Should be working on it today; I know what the problem is and will have a fix for it soon.

[2016-10-10 12:17] MrBlenny commented on #440
I've made a temp fix for now - not sure what the repercussions are but it is working where I need it to.

Line 290 of `component-control.js` - Swapped the ternary logic:
[code]
Line 608 of `component-control.js` - Commented out the default changeAction.
[code]

[2016-10-10 14:18] #440 closed

[2016-10-10 14:46] tiagoefmoraes commented on #453
@BrianDGLS Are you still working on the typings?
The new one doesn't export anything and declares a namespace that the old one didn't.

[2016-10-10 16:32] geekyme opened #459 "Example guide for file attachments / Photo attachments"
Any tips on how I can integrate photo data obtained from https://github.com/lwansbrough/react-native-camera into the form and render it?

[2016-10-10 17:29] davidkpiano commented on #459
In the example code for the repo:

[code]

[2016-10-10 17:29] #459 closed

[2016-10-10 19:51] nasushkov opened #460 "Working with redux-saga"
Hi
Is there any way to make react-redux-form work with redux-saga? I see that current actions implementation of actions is tightly coupled with redux-thunk approach to asynchronous workflow

[2016-10-10 19:56] davidkpiano commented on #460
I've been using it with redux-saga in a production app - all you have to do is include the `thunk` middleware before passing the action onto redux-saga:

[code]

Does that work with your use case?

[2016-10-11 07:10] nasushkov commented on #460
Thank you for your answer, David.  Well, yes, we can do this by combining both libraries, of course, and that's the easiest solution, but for me it's a little bit inconvenient, since redux-thunk and redux-saga serve the same purpose and I prefer redux-saga for several reasons. So, in this case I had to use both libraries just because of react-redux-form. I can reformulate my question: can we use r

[2016-10-11 11:54] KevinBrolly commented on #452
@davidkpiano 1.0.9 does indeed fix the main issue, the show function now has access to the correct form.

I noticed that other fields as I mentioned, such as 'forms.signup.username' still do not have form values such as "submitFailed" correctly set (which is why I had to access the form in the show function in the first place.  How can I get the fields to contain the correct value for "submitFaile

[2016-10-11 14:39] davidkpiano commented on #452
Would you mind filing a separate issue for this, for tracking purposes? This is a bug that I can quickly fix.

[2016-10-11 14:39] #452 closed

[2016-10-11 14:47] davidkpiano commented on #460
I think this would be best as a separate package, like `rrf-saga` or something like that. My thinking is that RRF tries to serve as the lowest common denominator for most React + Redux projects, and I don't want to add extra compatibility integrations such as for redux-saga, redux-observable, etc. etc. because that is beyond the scope of this package.

I'm also planning on removing the requirement

[2016-10-11 14:47] #460 closed

[2016-10-11 15:07] KevinBrolly opened #462 "field state does not have correct values for form level actions"
As per #452, Field state does not appear to be updated when form-level actions happen.

For example, given a Control which has:

    mapProps={{
        touched: ({fieldValue}) => fieldValue.touched,
        focus: ({fieldValue}) => fieldValue.focus,
        valid: ({fieldValue}) => fieldValue.valid,
        submitFailed: ({fieldValue}) => fieldValue.submitFailed
    }}

The submitFailed prop pass

[2016-10-11 19:56] noah79 commented on #453
Agree - the .d.ts with this project isn't usable.

[2016-10-12 04:30] davidkpiano commented on #454
@MiMaMuh I cannot reproduce this in the latest RRF version, thankfully. My guess is that it was fixed as a side effect of #440.

[2016-10-12 04:50] #426 closed

[2016-10-12 04:51] davidkpiano commented on #382
Closing due to inactivity - this should already be fixed. 👍

[2016-10-12 04:51] #382 closed

[2016-10-12 06:49] ozum commented on #382
Hi David,

I'm abroad. I'll look into that when I'm back. I will message you to reopen this if issue still exists.

[2016-10-12 08:06] MiMaMuh commented on #454
@davidkpiano Thx, yes, it works with `v1.0.10` as long as I do not pass a custom `validateOn` prop. When I pass a custom validate prop like `validateOn={['change']}` it starts to validate only on blur and it doesn't matter if I pass `validateOn={['focus', 'change', 'blur']}` or `validateOn={['focus', 'change']}` ...

It seems, it gets buggy when I start to pass the `validateOn` prop.

[2016-10-12 12:26] davidkpiano commented on #454
@MiMaMuh Can you please make a reproducible example? I've done that and still can't reproduce it. Here's a boilerplate: https://esnextb.in/?gist=b31277251f5c24df9b13b2cc95abc00c

[2016-10-12 12:59] MiMaMuh commented on #454
@davidkpiano yes, of course:
https://esnextb.in/?gist=e516266426da03e90e42e218e070c848

I added both examples, the working checkbox and the buggy checkbox. It seems, the working checkbox without the `validateOn` prop fires the action `rrf/setErrors` directly after `rrf/change` which the buggy checkbox doesn't do.

[2016-10-12 13:14] #454 closed

[2016-10-12 13:15] davidkpiano commented on #454
@MiMaMuh Fixed now! Sorry, here was the issue:

[code]

[2016-10-12 13:25] rainerborene opened #463 "resetValidity not working properly"
Does `resetValidity` function reset the `valid` property of each field on the model?

![house](https://cloud.githubusercontent.com/assets/101501/19311693/d50ad51c-9065-11e6-94b9-7568a2bf6dc1.png)

This is the code:
[code]

As you can see in the image and code the address field still has the `valid` set to false.

[2016-10-12 13:48] MiMaMuh commented on #454
@davidkpiano Thank you for your help, work and this great lib! 👍

[2016-10-12 15:05] #463 closed

[2016-10-12 16:51] geekyme commented on #459
I did that but the model in `user.photo` is still `{}`.

[2016-10-12 16:52] davidkpiano commented on #459
Can you copy-paste the code that fully reproduces the issue?

[2016-10-12 16:54] geekyme commented on #459
I did this in my component:

[code]

And this is my reducer:

[code]

[2016-10-12 17:11] davidkpiano commented on #459
You have to `dispatch` the `actions.push()` action:

[code]

[2016-10-12 17:52] geekyme commented on #459
Thank you it works!

On 13 Oct 2016, at 1:11 AM, David Khourshid <notifications@github.com<mailto:notifications@github.com>> wrote:

You have to dispatch the actions.push() action:

this.camera.capture()
      .then(data => {
        const fileName = `${Date.now()}.jpg`;
        const fileData = { uri: data.path, name: fileName, type: 'multipart/form-data' };
-       actions.push('forms.createList

[2016-10-12 19:56] TLadd opened #464 "Form pristine value remains true when changing field values"
If I change a field's value, the field's pristine form state is updated to false, but the pristine value for the form that contains that field remains true.

You can observe this behavior in the default esnextbin: https://esnextb.in/?gist=b31277251f5c24df9b13b2cc95abc00c

On 1.0.10

[2016-10-12 19:56] AaronLaBrie opened #465 "Unknown props warning on Control.checkbox"
Hello! I'm using a `<Control.checkbox .../>` component which is producing an unknown props error on render:

```Warning: Unknown prop `changeAction` on <input> tag. Remove this prop from the element. ```

I'm on the latest release at time of writing (1.0.10). Thanks!

[2016-10-12 20:16] #464 closed

[2016-10-12 20:16] davidkpiano commented on #464
Fixed! This will go out in the next patch.

[2016-10-12 23:55] rainerborene commented on #463
Thanks!

[2016-10-13 01:24] tomzilla commented on #465
Same. React 15.3.2

[2016-10-13 01:54] yoyeung commented on #394
Sorry i cannot reproduce it in www.esnextb.in.

[2016-10-13 03:58] #465 closed

[2016-10-13 04:45] AaronLaBrie commented on #465
Whoo! Thanks for the swift turnaround!

[2016-10-13 16:04] antmdvs opened #467 "Outdated Wiki Page: "Redux Form Comparison""
https://github.com/davidkpiano/react-redux-form/wiki/Guide:-Redux-Form-Comparison

The wiki page doesn't reflect the latest version of redux-form which now has a `<Field />` component.

[2016-10-13 17:42] davidkpiano commented on #467
Fixed by deleting that page. Here's the most up-to-date comparison: http://davidkpiano.github.io/react-redux-form/docs/guides/compare-redux-form.html

[2016-10-13 17:42] #467 closed

[2016-10-13 19:27] antmdvs commented on #467
I had a feeling you were going to do that :) I still think the general philosophy you had in the summary of that wiki page as well as the Main Differences bullet points would be helpful to carry over.

[2016-10-13 20:38] cyberwombat opened #468 "getFieldFromState error when using Field"
I am getting this error

[code]
My form is simple:
[code]

If I switch to Control the it works.  I have read some posts that Immutables can cause problems - I am using `redux-immutable` but I think I have eliminated its intrusion on the forms:
[code]

I have also tried using:

    import { Field, Control, Form, Errors } from 'react-redux-form/lib/immutable'

I am on `1.0.10`. I may not have gotten

[2016-10-13 20:53] davidkpiano commented on #468
This is a known issue - will resolve it by tomorrow!

[2016-10-14 08:36] ramiel commented on #458
In react you can simply assign a value to the `select` element and this will set the according option, as explained [here](https://facebook.github.io/react/docs/forms.html#why-select-value). Will this way work also on RRF?

[2016-10-14 11:11] davidkpiano commented on #458
@ramiel Yes, setting `<select value="something">` will work. Remember that setting it to a static value doesn't allow it to be changed, however.

[2016-10-14 11:58] ramiel commented on #458
Yes but looks like `<Control.select model=".name" value="defaultName">...</Control.select>` doesn't work the same way. Am I doing something wrong? I'll try to put an example somewhere to see if it is reproducible.

[2016-10-14 12:44] davidkpiano commented on #458
@ramiel

[code]

The above code, as-is, will never allow the value of `.name` to be changed. See here: https://facebook.github.io/react/docs/forms.html#controlled-components

[2016-10-14 17:13] ramiel commented on #458
So, should this work?
[code]

[2016-10-14 17:22] davidkpiano commented on #458
Yes, `defaultValue` works.

[2016-10-14 17:22] #458 closed

[2016-10-14 17:24] ramiel commented on #458
Ok, thank you, I'll try

[2016-10-15 16:25] markoshust commented on #185
I stumbled on this issue debugging the same issue. It turned out the submit handler I was passing through `handleSubmit` was doing an `e.preventDefault()` check that was leftover from pre-existing code. This was causing the SET_SUBMIT_FAILED action to be triggered. Once I removed the `e.preventDefault()` check/call from my final submit handler, all worked 👌  It would be nice if there was a verbose

[2016-10-15 21:36] davidkpiano commented on #185
Good plan @markoshust, I can do that. Can you open a separate ticket for adding that error message?

[2016-10-16 00:17] cipater commented on #291
I'm running into the same issue... I'm using `setFieldsErrors` to set errors sent back from server-side validation. And subsequent submits fail, emitting a setSubmitFailed action followed by setFieldsValidity. Repeated submits continue to fail.

Inspecting the form field in question, I see that `valid`, `validated`, `validating`, and `validity` are all `false`.

The documentation notes that `It si

[2016-10-16 01:08] davidkpiano commented on #291
Ideally no, but that's a good workaround currently. I'll investigate this.

[2016-10-16 01:20] cipater commented on #291
I added `dispatch(actions.resetValidity(modelName))` to the beginning of my `handleSubmit` function, but that doesn't appear to be working. Perhaps it's the same issue as #463?

Although, I see that issue was fixed in 1.0.10... and while the `package.json` in my `node_modules/react-redux-form` claims to be 1.0.10, `node_modules/react-redux-form/src/reducers/form/reset-validity-action-reducer.js` d

[2016-10-16 01:31] cipater commented on #291
In fact, I'm still experiencing #465 and #466 despite my local copy claiming to be 1.0.10. And that's the case even after deleting and reinstalling the package.

[2016-10-16 06:08] cyberwombat opened #470 "How to access form state from component"
Im a bit new to the React redux field so this may be obvious. I have a form and wish to show a div based on the form state. I understand how to set the form states but am not sure how to access it again within my form:

[code]

I see on some sample that the user is passed as props:
[code]
Do I need to do this with a nested deep object?

Thanks

[2016-10-16 11:13] davidkpiano commented on #470
Do you have [redux-logger](https://github.com/evgenyrodionov/redux-logger)? It might come in handy.

How are you defining your state? If it's something like this:

[code]
then you can access the forms from your state like so:

[code]

And then in your component:

[code]

[2016-10-16 16:38] erin-doyle commented on #319
I believe this is now done.  I've done a good amount of testing and have not found any further issues with using just redux or redux-immutable.  I think all that remains is documenting it! :)

[2016-10-16 16:52] cyberwombat commented on #470
Perfect thank you.

[2016-10-16 16:52] #470 closed

[2016-10-16 16:54] erin-doyle commented on #468
Also, in 1.0.10 you _should_ now be able to use `redux-immutable` without issue and create your form reducer like so:

[code]

createForms() will prevent the need for deep nesting in a form object but if you prefer that you can still use combineForms like so:

[code]

[2016-10-16 19:32] cyberwombat commented on #468
I tried using createForm with immutables but I get an error when I add the `Error` component:

    TypeError: Cannot read property '$form' of null
        at mapStateToProps (/Server/node_modules/react-redux-form/lib/components/errors-component.js:246:50)
        at Connect.configureFinalMapState (/Server/node_modules/react-redux/lib/components/connect.js:154:27)
        at Connect.computeStatePro

[2016-10-16 20:28] cyberwombat commented on #468
Also getting errors when I add the ` validators={{ isRequired }}`
[code]
Not sure if it's me not setting the form correctly or if it's part of this bug as well.

[2016-10-17 01:50] zachall commented on #468
I'm also getting the same error as @cyberwombat:

`warning.js:36 Warning: Unknown prop 'getFieldFromState' on <div> tag. Remove this prop from the element. For details, see https://fb.me/react-unknown-prop`

Switching to Controls works, but I'm unsure how to do validation with them.

Also, the same error occurs in the Validation Example at [https://github.com/davidkpiano/react-redux-form/tree/mast

[2016-10-17 09:47] terencechow opened #472 "Cannot read property '$form' of null ErrorsComponent"
Not sure why I'm getting this. I get the below error when I add an errors component.

Not sure if this is relevant, but I started my project using [this starterkit](https://github.com/davezuko/react-redux-starter-kit) so I don't have a `combineForm` used in my app. Instead I have a reducer with something to the effect of

 `loginForm: modelReducer('loginForm',{username:'',password:''}`

(I don't t

[2016-10-17 14:04] erin-doyle commented on #472
I think you're going to need to use [combineForms](http://davidkpiano.github.io/react-redux-form/docs/api/combineForms.html) or [createForms](http://davidkpiano.github.io/react-redux-form/docs/api/createForms.html) otherwise I don't think it's actually creating the form reducer.

[2016-10-17 14:10] erin-doyle commented on #468
My bad, I left out of my example and did not make clear that you need to be importing all of these things from `react-redux-form/lib/immutable` if you're using `redux-immutable`.  Take a look at the Immutable example for more details.

As for the warning:

`warning.js:36 Warning: Unknown prop 'getFieldFromState' on <div> tag. Remove this prop from the element. For details, see https://fb.me/react-

[2016-10-17 15:23] davidkpiano commented on #468
By tomorrow I mean as soon as I can; currently at a conference! 😄

[2016-10-17 15:25] davidkpiano commented on #472
Yes, if you're going to use `modelReducer` and `formReducer` directly, I recommend this pattern:

[code]

Let me know if this resolves your issue.

[2016-10-17 18:26] dsomel21 commented on #375
This solution isn't working for me. I looked at the [Model Documentnation](https://davidkpiano.github.io/react-redux-form/docs/api/modelReducer.html) but it doesn't help with applying my own reducers.

I tried doing the following to merge my own reducers, my middleware and the *forms*, but

`.

    export default function configureStore(initialState) {
       return createStore(
          reducers

[2016-10-17 18:41] davidkpiano commented on #375
@dsomel21 To colocate the form reducers with existing reducers, use `createForms()`: https://davidkpiano.github.io/react-redux-form/docs/api/createForms.html

[2016-10-18 01:15] dsomel21 commented on #375
Sorry to bug you, but I am getting a really wierd issue now.

`

    const reducers = combineReducers({

        theReducers,

	    createForms({

	        signupForm: initialSignupForm,

	       loginForm: initialLoginForm,

	  })
    })
`

`

    export default function configureStore(initialState) {

        return combineReducers(

            reducers

            initialState,

            a

[2016-10-18 10:19] Maxim-Chugaev opened #473 "v 1.0.10 broke my code"
I have error after update on latest version.
[code]
The error occurs after call actions.reset('mymodel');

[2016-10-18 12:07] ramiel opened #474 "No value on changeAction (checkbox)"
In the function taken from `changeAction` I'm expecting two arguments to be fullfilled: `model` and `value` or at least is what I understood from the documentation. In a checkbox only the `model` seem to have a value, while `value` is undefined. Is it normal?

[2016-10-18 14:18] DanielLuu opened #475 "Unknown Props on Custom Input"
[code]

`mapProps={{valid: ({fieldValue}) => fieldValue.valid, touched: ({fieldValue}) => fieldValue.touched}}`

Getting a
[code]

[2016-10-18 14:30] davidkpiano commented on #475
This is because you are passing in all the props here:

[code]

Try to pass in only the props you need into that component, such as `onChange={props.onChange}`. You can also use Lodash's `omit` or `pluck` functions to help you out in whitelisting/blacklisting props.

I'd recommend against blindly passing in all the props - that is, avoid this pattern: `<div {...props}>`.

[2016-10-18 14:30] #475 closed

[2016-10-18 14:31] davidkpiano commented on #474
What does your store look like? It could be that the initial value of your model is `undefined`.

[2016-10-18 14:31] davidkpiano commented on #473
Can you post the full code example that reproduces the issue?

[2016-10-18 14:41] DanielLuu commented on #475
Thanks for the fast answer!

[2016-10-18 14:44] #472 closed

[2016-10-18 16:53] cyberwombat commented on #468
I am still getting errors on 1.0.11 using Immutables. This happens if I use a validator in Field or an Error component. I have imported from `react-redux-form/lib/immutable` in all cases. Not sure what I am missing?

Error:

    TypeError: undefined is not an object (evaluating 'form.$form.model') — get-field-from-state.js:39 (index.js, line 20290)
    TypeError: null is not an object (evaluating

[2016-10-18 20:59] davidkpiano commented on #468
@cyberwombat

The default base path for `createForms` is under `'forms'`, not `'form'`. Maybe that's the issue?

[2016-10-19 00:17] cyberwombat commented on #468
I tried that. I tried the examples with same result. If I add 'forms.subsribe' to model then the error is
[code]

[2016-10-19 08:14] ramiel commented on #474
You're right. This is the store:
[code]

Then, the component looks like this (only the relevant parts)

[code]

and the array of options, once fetched contais object like
[code]

[2016-10-19 10:00] davidkpiano commented on #474
This looks invalid:

[code]

But besides that, is the component working? Since your model value is `undefined`, it's going to be passed `undefined` as the second argument to the change action, but for a checkbox, that shouldn't matter - it's falsey so `actions.toggle` will just set the model to `true`.

[2016-10-19 10:03] ramiel commented on #474
Sorry, I cutted the code to simplify it. Is
[code]
and
[code]
Yes, it is working. Enabled is not undefined but actually it works even if it is undedfined

[2016-10-19 12:41] erin-doyle commented on #468
It looks to me like the model for your Field component should be `subscribe.email `not `form.subscribe.email`.  If the Form model is `subscribe` then the Field model is a child of that, thus `subscribe.email`.

[2016-10-19 14:58] DanielLuu opened #477 "How to do custom class with Field and Radio Buttons"
[code]

[code]

Trying to get props from Fields to map on to CustRadio so that a custom class can be used.  Don't know how to map all of the props onto the custom component.

[2016-10-19 15:06] davidkpiano commented on #477
Try this pattern:

[code]

[2016-10-19 15:07] DanielLuu commented on #477
Is the {...} literal?  This throws an error for me

[2016-10-19 15:10] davidkpiano commented on #477
Oh, sorry - that is just a placeholder for you to do whatever you want with the `fieldValue`, such as...

[code]

etc.

[2016-10-19 15:14] DanielLuu commented on #477
Somehow the binding of the data is lost when using the custom component.  The radio buttons aren't mapped back to the model.

[2016-10-19 16:45] cyberwombat commented on #468
@erin-doyle Sorry that was a bit of a typo from my part. as David indicated `createforms` creates a deep object under `forms` I have tried that. So `forms.subscribe.email`. When I debugged my first error in the `get-field-from-state.js` file I could see the state object expected that path which made the error go away only to result in another one in `update-field.js` so I am at a bit of a loss now

[2016-10-19 17:31] davidkpiano commented on #477
Can you post what you currently have in www.esnextb.in ?

[2016-10-19 17:54] DanielLuu commented on #477
Actually I ended up moving the whole Field into the custom component and that ended up working.

[2016-10-19 18:14] tiagoefmoraes opened #478 "actions.focus not always working"
See code in: https://esnextb.in/?gist=ad970780e6ca15325ae9f5637019fc5c

If you click "Focus Name" -> "Focus Email" repeatedly it works, but when you click twice in "Focus Name" it won't focus the input anymore, clicking on "Focus Email" will work just once more and then no focus action will work anymore.

Also from start "Focus Name" -> Tab (focus goes to email) now "Focus Name" doesn't work anymo

[2016-10-19 18:26] davidkpiano commented on #477
Awesome! Would love if you could share your solution here for others to see.

[2016-10-19 18:26] #477 closed

[2016-10-20 08:46] ramiel commented on #458
If I set the defaultValue, the option is choosed but not set in the modelValue. Is an expected behavior?

[2016-10-20 11:35] davidkpiano commented on #458
@ramiel Can you open a separate ticket for that?

[2016-10-20 11:49] ramiel commented on #458
Of course

[2016-10-20 14:28] rusandreev opened #480 "Adding and removing fields from field array"
I didn't get from docs how realize adding and removing rows in field array. Here is the [gist](https://esnextb.in/?gist=965e0e6235182e3d000ecb10226b30a7) for example. In this example I got an error "Uncaught ReferenceError: initialMember is not defined" after clicking the button "Add Member". What's wrong?

[2016-10-20 15:30] davidkpiano commented on #480
You're missing `initialMember`:

[code]

Should work after that 👍

[2016-10-20 15:30] #480 closed

[2016-10-20 22:29] Maxim-Chugaev commented on #473
https://github.com/Maxim-Chugaev/react-redux-form_problem
yep, last commit visualize problem.
You need open page, and click reset, then all UI be freezed.

[2016-10-21 01:03] #453 closed

[2016-10-21 03:45] dreid opened #481 "Field.render always calls React.Children.map which always creates an array of children."
It should probably call `Field.mapChildrenToControl` which already handles only calling React.Children.map if there is more than one child.

[2016-10-21 03:47] dreid opened #482 "Field.render always adds a wrapper div."
It appears this started happening in https://github.com/davidkpiano/react-redux-form/commit/d856da1c6302b4daedff5e613a1ac956adf420bb

It'd be nice if there were an easy way to disable this in the short term. Passing null doesn't work because Field.render now unconditionally calls `React.createElement` with component.

Passing a component like:

[code]

To enforce that there is only one child per F

[2016-10-21 05:06] #473 closed

[2016-10-21 05:18] #482 closed

[2016-10-21 05:20] davidkpiano commented on #482
Anyway, this is fixed, and now behaves just as you described:

[code]

This will **throw** if there is more than one child.

[2016-10-21 05:20] davidkpiano commented on #481
Fixed in #482 as well

[2016-10-21 05:20] #481 closed

[2016-10-21 05:22] #432 closed

[2016-10-21 12:02] ramiel opened #483 "Select defaultValue do not change the modelValue"
Setting `defaultValue` on a Control.select do not set it to the `modelValue`.
After changing the option on the select the value is correctly propagated

[2016-10-21 12:05] VladShcherbin commented on #422
Hey, @davidkpiano . Any news on this or ETA? :)

[2016-10-21 14:09] davidkpiano commented on #422
@VladShcherbin I'll be working on it this weekend - was prioritizing bug fixes first. However, you can easily create a custom form reducer that does this for you:

[code]

Something like that (the above code isn't tested yet, but should work in theory. You might need to tweak a couple things.)

[2016-10-21 14:21] VladShcherbin commented on #422
@davidkpiano don't worry, I'll wait until you'll have time to make this enhancement.

Currently, I'm using a simple custom forms package, would like to move to rrf when this one will be released ;)

[2016-10-22 02:20] cyberwombat commented on #468
So this "may" be fixed. I gave up on immutables with forms so took that off but still had errors when using createForm (mostly a stack overflow issue). I upgraded from .11 to .12 and that took care of it. So... My forms now work w/o immutables - I can't say if the issue I had is still there - I assume it was part of the same issue.

[2016-10-22 03:01] cyberwombat opened #485 "Clarification on form states"
I am not getting the states I expect with `pending` and `submitted`. `pending` gets set to true on submit but never sets to false again even after the promise returns. `submitted` stays false. I am on `1.0.12`
[code]

On page load this is my form state ( I initialize the email in my store):
[code]
After submitting to my API I get:
[code]

I am a little confused by these states. I would expect `sub

[2016-10-22 03:22] cesarp commented on #462
I am having a similar issue, if I add mapProps then my custom component never dispatches a change.

Without mapPros I see in dev tools:

1. focus
2. change
3. setFieldsValidity

With mapProps nothing is dispatched.

[2016-10-22 04:06] jomasti commented on #462
For me, children of an array field don't get the updated field state on submission failed. They validate correctly, and I can see that there is an error in the state for the subfield. I want to show the error if touched (or submitFailed), but since it never gets the updated state, the error isn't shown.

I have a simplified structure like this:
[code]

And for the questions, I'm mapping over them

[2016-10-22 14:29] davidkpiano commented on #462
@jomasti @cesarp What version of RRF are you on?

[2016-10-22 14:56] davidkpiano commented on #485
I see a mismatch between the models in dispatching submit here:

[code]

and here:

[code]

In the first one, your model is `'subscriber'`, and in the second, your model is `'myform'`. I don't know how your store is set up, but once the promise passed to `actions.submit(model, promise)` is resolved, it will only set the `model` (and its child fields) to `submitted: true`.

In other words, this is

[2016-10-22 14:57] #485 closed

[2016-10-22 14:59] davidkpiano commented on #468
@cyberwombat Thanks for checking! I'll close this and we can revisit it _if_ the issue reappears with immutable forms. I'm fairly certain it should be fixed, though.

[2016-10-22 14:59] #468 closed

[2016-10-22 15:03] davidkpiano commented on #483
@ramiel I cannot reproduce this issue (at least if I understand correctly).

[code]

The above code will set both the control's view value to `"foo"` and the model in the Redux store to `user.choice = "foo"`. Is that what you are expecting?

[2016-10-22 15:27] cyberwombat commented on #485
Oops my bad. Had changed it to `myfom` for a sample for this but then I saw that I had essentially the same issue on mine (subscribe vs subscriber). Thank you.

[2016-10-22 15:55] #478 closed

[2016-10-22 18:05] jomasti commented on #462
Oh, sorry. I'm on 1.0.12.

[2016-10-22 19:19] cesarp commented on #462
1.0.12 too

[2016-10-22 19:48] #462 closed

[2016-10-22 19:49] davidkpiano commented on #462
Try in 1.0.13 once I make the patch!

[2016-10-23 03:00] #474 closed

[2016-10-23 04:05] jomasti commented on #462
I can confirm that it works for my use case! Thanks!

[2016-10-23 05:30] cesarp commented on #462
I am still having the same issue

[2016-10-23 10:18] Maxim-Chugaev opened #486 "array field not work"
1.0.12
[code]
in form
[code]
but earlier in 1.0.9
[code]
i am not sure, but old behavior be correctly.

[2016-10-23 13:16] davidkpiano commented on #486
I think RRF is behaving correctly, in this case.

When you add `<Field>` or `<Control>` components with models that _do not exist on the store_, then they will only be instantiated on load if there is a `defaultValue` on the field.

Otherwise, RRF will be **lazy** and not create the field until it is interacted with.

My recommendation would be to define `model.someFields = []` in your store (in `

[2016-10-23 13:16] #486 closed

[2016-10-23 13:18] davidkpiano commented on #462
@cesarp

Can you share your custom component's code? This sounds like a separate issue.

[2016-10-23 19:16] cesarp commented on #462
It was a little bit more complex than this but even after reducing it to this it fails, not sure if I am doing something wrong but without the mapProps it works although I want to get the errors, touch, and a few other props to style the component a bit different.

[code]

[2016-10-24 10:45] vegansk opened #487 "The question about numbers conversion"
What's the reason of converting numbers to string here? https://github.com/davidkpiano/react-redux-form/blob/c5be6cd8fd50506bd1d517f516398e91d31e71db/native.js#L91. When I have the Date value in the model, I get Date in the component's value. But I get the string if I have the number in the model. Why it works like that?

[2016-10-24 11:26] Maxim-Chugaev opened #488 "1.0.13 and webpack"
webpack-dev-server show "Upgrade Required" after update on latest version.

[2016-10-24 11:33] Maxim-Chugaev commented on #488
I was wrong, this is my problem! sorry

[2016-10-24 12:50] #488 closed

[2016-10-24 12:54] davidkpiano commented on #487
Can you show me a code example where it's not giving you the expected result?

[2016-10-24 13:54] tiagoefmoraes commented on #478
@davidkpiano Thanks, it's working great!!!

[2016-10-25 01:19] Anarios opened #489 "Show/hide some fields based on value of other fields"
I'm experimenting with the field-array example, let's say I want to add additional button for every hobby, and I want to show it only if text of current hobyy === 'show'. The Way I attempt to do it doesn't work, what would be the right way? Thanks.

p.s. remove is working, am I doing it right?

p.p.s how would it be done, if these conditions are spread between fields (visibility of field A depends

[2016-10-25 02:55] vegansk commented on #487
This is the component type factory:
[code]

And this is how I use it to create the integer field. And I need to use ``number|string`` type everywhere because of babel-plugin-typecheck runtime checks. Because value is a string.
[code]

[2016-10-25 03:28] davidkpiano commented on #489
If you want to set a flag, then your hobby shouldn't be a plain string, right? It should be an object containing the hobby's value and a `show` flag, like:

[code]

And then you can just use that flag like so:

[code]

Hope that helps! If you want to show based on other hobbies, you have full access to the hobbies from the Redux store, so just access them like you would access anything else in Red

[2016-10-25 03:28] #489 closed

[2016-10-25 03:29] #487 closed

[2016-10-25 05:54] robinspark opened #490 "Nested forms are not supported by React, nor by HTML5"
This may cause issues in some browsers for some people.

https://github.com/facebook/react/issues/6567

gaearon commented on Apr 22
"It is not valid HTML: http://stackoverflow.com/questions/555928/is-it-valid-to-have-a-html-form-inside-another-html-form"

To solve it, remove either the parent form, or the child form. You can pass a prop to the child component telling it not to render the form. You

[2016-10-25 12:28] #490 closed

[2016-10-25 12:28] davidkpiano commented on #490
Right. Ideally you shouldn't be nesting forms, whether it's `<form>` or `<Form>`. There's a few workarounds:

- If you want a "form" inside a form that doesn't submit, you can set `<Form component="div" ...>`
- Also, you can set `<Fieldset model="...">` (not documented yet)
- If you _do_ want a "form" inside a form that does submit, you'll have to submit manually by using `actions.validSubmit(mode

[2016-10-25 12:49] Maxim-Chugaev opened #491 "error on production build with 1.0.13"
if i build app with NODE_ENV production then i have error.

[code]

i reproduce the problem in this repository
https://github.com/Maxim-Chugaev/react-redux-form_problem/tree/prop-types-problem

[2016-10-25 13:29] #491 closed

[2016-10-25 13:30] davidkpiano commented on #491
Fix published as `1.0.14`

[2016-10-25 16:15] sinbazhou opened #492 "how to use react-redux-form with redux-immutable library"

[2016-10-25 16:17] sinbazhou commented on #492
I try to use react-redux-form with redux-immutable library,but failed

[2016-10-25 16:41] davidkpiano commented on #492
Are you importing from `react-redux-form/immutable` ?

[2016-10-25 20:32] cipater commented on #291
I'm still experiencing the issue as of `1.0.14`.

Currently the only workaround I've found is to run `actions.resetValidity()` inside an `onClick` handler on the submit button. Otherwise the `handleSubmit` function on the form is never reached on subsequent attempts to submit.

[2016-10-25 20:48] cipater commented on #291
If it helps, here's a simplified example of what I'm doing:

[code]

Perhaps it's because I'm calling `actions.setFieldsErrors()` on a subform that's the issue? I tried `actions.setFieldsErrors('forms.order', { address: err.address })` and wasn't getting the results I was expecting.

[2016-10-25 23:32] davidkpiano commented on #291
@cipater Is `forms.order.address` an object or a string?

[2016-10-25 23:56] MixKCet opened #493 "When a 'type=number' Control's value has its last decimal removed, cursor is placed at the beginning of input."
Hey!

Found this weird issue when creating an input with a float value. Created a gist here:
https://esnextb.in/?gist=87dc7cd3f897aeeed43b2c0f0d1435dd

Try backspacing from each of the fields to see the behaviour.

Cheers

[2016-10-26 00:30] cipater commented on #291
Yeah that's not clear from the example, sorry. `forms.order.address` is an object. `props.children` contains various `Fieldset`s for the main `order` form. So `err` is an object of the same shape as the root `order` form.

[code]

And since `actions.setFieldsErrors('forms.order', err)`  wasn't working, I'm calling `setFieldsErrors` for each object within `err`. But it would be nice if `setFieldsEr

[2016-10-26 03:34] Anarios opened #494 "No mention of parser in docs"
I couldn't find any references about parser in new docs, only in the old ones

[2016-10-26 03:36] Anarios commented on #494
And I found it right after posting the issue

[2016-10-26 03:36] #494 closed

[2016-10-26 17:48] pedro-ribeiro opened #495 "console.error in react-native"
Is it at all possible to remove [this `console.err` call](https://github.com/davidkpiano/react-redux-form/blob/master/src/actions/field-actions.js#L201)?

In react-native (dev mode), any call to `console.err` will, by default, show a whole-screen "popup" with the error message and stacktrace.

imho, this `console.err` is unnecessary and is quite bothersome when debugging forms in react-native.

[2016-10-26 18:41] #495 closed

[2016-10-27 05:29] robinspark commented on #490
I ended up moving the inner form inside a <Dialog> component after the form, so I can easily validate and submit.

[2016-10-27 05:33] robinspark opened #496 "Non-empty Arrays containing objects set the model incorrectly when actions.change dispatched when form initialised"
The model for the array field was set to `equipment.0.item`, instead of `reactReduxForm.myForm.equipment.0.item`
react-redux-form version 1.0.13

Causes infinite loop on page load due to rrf/setError actions being repeatedly dispatched. Removing the validators prop stopped the infinite loop on load, but model was still set incorrectly.

[code]

This was the fix. init model with empty array first,

[2016-10-27 05:41] lasergoat commented on #420
Many times I find myself wanting to just use local state for forms and fields. However, as soon as I have to add validation I usually just switch everything over to rrf. Having an easy way to just use rrf for local states would be cool... but it might be the type of thing where it doesn't just work but instead you have to import Field from a different lib.

[code]

I've seen other libraries functi

[2016-10-27 05:59] TLadd opened #498 "getFieldFromState returns incorrect object when using createForms and formReducer"
I have a root reducer that looks something like

[code]

So I have a couple of forms that I'm setting up using createForms, but I also have a model and form reducer that I'm creating directly in another branch of the tree.

When I call getField(state, 'deep.formModel'), instead of getting back the object that resides at state.deep.form, I instead get back state.forms.

Stepped through the code som

[2016-10-27 06:34] MrBlenny opened #499 "getFormStateKey causing performance issues (Electron - getter specific)"
the `getFormStateKey` function in `get-form.js` is causing major performance issues for me (v1.0.8)

![example](https://i.imgur.com/SqIfdCH.png)

That is 7 seconds or processing. When I refresh my app it is called a grand total of 18,401 times (I've got about 20 checkboxes and 3 inputs on the page).

I'm not quite sure why it is being called so many times - I assume it is the result of having a de

[2016-10-27 13:47] davidkpiano commented on #499
@MrBlenny Can you do two things:

- Upgrade to the latest patch version of RRF (`1.0.14`)
- Share your code, if possible?

At the very least, I'd like to see how your store code is structured.

[2016-10-27 13:50] davidkpiano commented on #496
Can I see your store code?

[2016-10-27 19:00] lasergoat opened #500 "Cannot read property '$form' of null at updateSubField"
I haven't yet been able find the minimum reproducible case of this.

The Error is:
-----

[code]

I have caused it to happen at two different actions in my code.

![error1](https://cloud.githubusercontent.com/assets/15964/19780865/714fdbf6-9c4c-11e6-8387-1cfd86ad4ceb.png)

![error2](https://cloud.githubusercontent.com/assets/15964/19780864/714d4878-9c4c-11e6-97c7-444f50dc8e38.png)

Originating cod

[2016-10-27 20:37] diffused opened #501 "Can't set initial value in Controls"
I can't seem to set any initial values in a Control. The data is showing in state however it doesn't display when rendering out the form Control,

I am using react-router-redux btw

I'm using the following:

[code]

My store setup is:
[code]

The component looks like:

[code]

When the page loads, I can see redux state forms.account.firstName is set to 'blah'

[2016-10-27 20:48] #500 closed

[2016-10-27 21:54] robinspark commented on #496
[code]

[2016-10-28 01:29] MrBlenny commented on #499
I've updated to `1.0.14` but the issue is still there.

Do you have any idea what part of the store would be causing the issue (middleware/store-structure/reducers etc)? This is part of a multi-window electron application so it is hard to share the code unless I know what section could be causing the issue.

Here is a more detailed CPU profile:

![example](https://i.imgur.com/q7s43ov.png)

The sto

[2016-10-28 03:06] MrBlenny commented on #499
The issue seems to be related to the store object itself.

When using electron the store often seems to end up with a getter functions instead of normal keys/values. I'm not sure what/why this is.

![Example](https://i.imgur.com/CUzBe3x.png)

This store structure does not play nice with the recursive `get-form` calls.

[2016-10-28 05:46] TLadd commented on #498
Ended up just moving the outlying reducers into createForms. There probably isn't really a good reason to have a shape like the above, so it's fine with me if you would like to close.

[2016-10-28 13:26] davidkpiano commented on #498
Sounds good; I'll continue to investigate this.

Basically, when you do `createForms` or `combineForms`, it creates a "universal" form reducer that can accommodate all forms.

[2016-10-28 13:26] #498 closed

[2016-10-28 13:29] davidkpiano commented on #499
You're probably right, but I can still try to make it easier for developers. How does this look?

[code]

where `theFormState` is the path to the form state. This will allow you, the developer, to tell RRF "don't bother looking for the form, I already know where it is" as an enhancement.

[2016-10-28 14:05] davidkpiano commented on #501
Here's the issue:

[code]

The model here is `account.firstName`, however, in the store you defined:

[code]

that model would actually live under `forms.account.firstName`.

So here's the fix:

[code]

Hope this helps!

[2016-10-28 14:05] #501 closed

[2016-10-28 14:18] davidkpiano commented on #493
@MixKCet Seems similar to these issues:

https://github.com/facebook/react/issues/7781
https://github.com/facebook/react/issues/7253
https://github.com/facebook/react/pull/7359

So this is unrelated to RRF, but a current issue with React itself.

Here's a simple workaround:

[code]

The above makes the control _uncontrolled_, so it can't be remotely updated, but it also avoids the React issues.

[2016-10-28 14:19] davidkpiano commented on #483
Closing this due to inactivity.

[2016-10-28 14:30] davidkpiano commented on #319
Docs here! http://davidkpiano.github.io/react-redux-form/docs/guides/immutable.html

[2016-10-28 14:30] #319 closed

[2016-10-28 14:30] davidkpiano commented on #492
Docs here! http://davidkpiano.github.io/react-redux-form/docs/guides/immutable.html

[2016-10-28 14:30] #492 closed

[2016-10-29 00:16] MrBlenny commented on #499
Yep, that looks good.
I very much like the idea of disabling getting form and field values from the model.

Passing model AND value to the form and field/control components feels much more react-like to me.

[2016-10-29 09:59] diffused commented on #501
Awesome, thanks.
Makes sense now. I initially thought the <Form model="account"> was referring to account prop and the the controls inside somehow hinged off that.

Cheers for that. Will update my thinking on how this works now :D

[2016-10-30 08:57] torifat opened #503 "RangeError: Maximum call stack size exceeded"
We started getting this error from `1.0.10`.

<img width="740" alt="screenshot 2016-10-30 14 57 06" src="https://cloud.githubusercontent.com/assets/208544/19835448/2f9e43b6-9eb1-11e6-8138-e6715e9336da.png">

[2016-10-30 09:03] cipater opened #504 "TypeError: undefined is not an object (evaluating 'Object.keys(Fieldset.propTypes)') in production"
`TypeError: undefined is not an object (evaluating 'Object.keys(Fieldset.propTypes)')` occurring when NODE_ENV is production.

This appears to be the same issue as #491, but with `Fieldset`.

[2016-10-30 09:25] robinspark opened #505 "The novalidate attribute is not added to the <form> element"
"If you want to disable HTML5 validation for a form, add a novalidate attribute to the form element"
https://davidkpiano.github.io/react-redux-form/docs/guides/validation.html

version: 1.0.13

[2016-10-30 12:04] Agalla81 opened #506 "Typo in Documentation"
Hi @davidkpiano,

Fantastic library.

While reading the documentation I found an inconsistency:

Api > Action Creators: describes _asyncSetValidity_
Based on the API it seems as the correct function is _asyncSetValidty_

Guides > Validation: describes _setAsyncValidty_
[code]

Nothing major of course but possibly worth correcting to avoid confusions.

Thanks again for a great library!

[2016-10-30 13:01] #506 closed

[2016-10-30 13:01] davidkpiano commented on #506
Thanks for the report!

[2016-10-30 13:02] davidkpiano commented on #505
Right, you have to add it yourself. It is optional, and many developers might not want to use `novalidate`, in order to show errors using the DOM API.

[2016-10-30 13:02] #505 closed

[2016-10-30 13:03] davidkpiano commented on #503
@torifat Can you please upgrade to the latest `1.0.15` and let me know if you still get this issue? I strongly believe this was already fixed in a previous patch.

[2016-10-30 13:06] #504 closed

[2016-10-30 13:10] torifat commented on #503
Yes, I'm currently on 1.0.15.

<img width="589" alt="screenshot 2016-10-30 19 09 47" src="https://cloud.githubusercontent.com/assets/208544/19836762/76a19c0e-9ed4-11e6-8334-ac90eb05f75b.png">

[2016-10-30 13:26] Agalla81 opened #507 "Reset Form on Navigate"
Hi,

I would like to reset the form every time the user navigates out from the registration page.
What's the recommended approach? Considering that, ideally, the page is kept as a presentational component (stateless functional component).

Thanks

[2016-10-30 15:24] davidkpiano commented on #507
Are you using React Router? Wherever you would define a hook for navigating out, you can just `dispatch(actions.reset('your.model'))`.

Also, #420 should solve this naturally when implemented.

[2016-10-30 15:24] davidkpiano commented on #503
Can I see the code that is producing this error?

[2016-10-30 15:34] torifat commented on #503
The problem is I can't reproduce it every time. If I can then I will be able to send a PR too.

I thought you could figure it out by watching the recursive call.

[2016-10-30 21:59] diffused commented on #501
Just have another question around this model hookup.

I'm using `Form model="forms.account"`
with a control of `Control.text model="forms.account.firstName"`

The initial value shows up however any changed value doesn't appear in the handleSubmit function

[2016-10-30 22:09] davidkpiano commented on #501
Hmm, would you mind opening that up in a separate issue for tracking purposes?

[2016-10-30 22:11] diffused commented on #501
sure thing

[2016-10-30 22:16] diffused opened #508 "initial values and onSubmit values"
I Just a question around form model hookup, initial values and onSubmitValues.

I am using react-router-redux btw

I'm using the following:

[code]

When trying to wire up a form, I'm using Form model="forms.account"
with a control of Control.text model="forms.account.firstName"

The initial value shows up however any changed value doesn't appear in the handleSubmit function.

If I just use a cont

[2016-10-30 23:23] cipater commented on #420
I don't know how complicated it would be given the internals... and it would be a significant departure from the current API... But maybe have a single storage/validate object that's stored on the context. Internally, Form, Filed, Control, etc. just all reference the object?

[code]

Essentially the current action creators API and "getter" functions would move into this storage object. So `reduxSt

[2016-10-31 01:16] davidkpiano commented on #420
@cipater That's similar to my original idea:

[code]

although your idea is more explicit in that the developer would provide a `storage` API so that many different storage mechanisms can adapt to the form state updates.

However, this poses a couple issues:
- We're ceding control of the parent component's state to an internal component - huge code smell.
- A magical "storage" adapter is usually m

[2016-10-31 02:32] cipater commented on #420
Totally. I was just spit-balling... mostly a reaction to the idea that you might be building separate Form / Control / Errors components for redux vs. local state, which seemed impractical from a code maintenance perspective, especially if additional storage mechanisms were to be considered at some point in the future. But if that isn't the case, or if those components aren't actually been duplica

[2016-10-31 03:50] davidkpiano commented on #420
Yep, that's exactly it!

That's a good point, though the difference would not be in `actions.change` vs. `someStorage.change`, it would rather be in `store.dispatch` vs. `someStorage.dispatch` being passed around - that makes the code much more portable and reusable (as there is only one access point) and theoretically we can do some sort of custom storage adapter like you're suggesting.

I'll kee

[2016-10-31 04:04] robinspark commented on #505
I got it to work.

The rrf documentation needs to updated, as it specifies "novalidate", whereas React requires it to be in camel case. ie. "noValidate" with a capital 'V'.

[2016-10-31 04:06] davidkpiano commented on #505
Fixed in the docs!

[2016-10-31 04:08] robinspark commented on #505
cheers : )

On Mon, Oct 31, 2016 at 3:06 PM, David Khourshid <notifications@github.com>
wrote:

[2016-10-31 13:16] tomspeak opened #509 "Classname conditionals for inputs"
Currently the way to apply classnames for errors is like so:

[code]

A proposed API to alleviate having to use functions for children is:

[code]

This is very similar to the `classnames` API, and I think is quite intuitive.

[2016-10-31 17:18] tiagoefmoraes opened #510 "How to validate nested/deep models/values"
I need to validate deep values of a model `user.phones[].number`.

Tried setting Form validators to
- `"phones.number": { required: (val) => !!val }`
- `"phones[].number": { required: (val) => !!val }`
- and `phones: { number: { required: (val) => !!val }}`

but none worked.

[code]
And a form for the user:
[code]

Working example: https://esnextb.in/?gist=5cb62ba0efa95ce18bd82709c33be6bf

Any way

[2016-10-31 18:16] davidkpiano commented on #510
Currently, you can only do something like this:

[code]

The above is not exactly a workaround, just a way to tell the user that they forgot to fill out one of the many phone numbers they have. That's why I'm marking this as an enhancement; ideally you should be able to do this:

[code]

For a _real_ workaround, you can always attach `validators={{...}}` to the actual `<Control.text>`.

[2016-10-31 19:17] tiagoefmoraes commented on #510
I found another workaround:

[code]
A more automated aproch:
[code]

`'phones[].number': { required }` would be much better.

Thanks

[2016-10-31 21:08] diffused commented on #508
Managed to figure it out. Needed to name the deep nested object

[code]

Form now looks like
[code]
And the Control:
[code]

[2016-10-31 21:08] #508 closed

[2016-11-01 02:56] Agalla81 commented on #507
Thanks for the reply. Router is an option; ended up resetting on componentWillMount for a regular stateful component. Will certanily investigate the new option when available!

[2016-11-01 18:53] dmitrif opened #511 "Cannot find module 'react-redux-form/immutable'"
Hi, great work!

I am currently attempting to use `^1.0.15`, but getting the following error while importing:

[code]

Please advise :)

Thanks!

[2016-11-01 19:04] lasergoat opened #512 "⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏⛏"
[code]

Add that as a test...

![screen shot 2016-11-01 at 2 04 04 pm](https://cloud.githubusercontent.com/assets/15964/19903268/14ad213a-a03c-11e6-9dbf-5468f157452a.png)

[2016-11-01 20:08] davidkpiano commented on #511
Oops, try `react-redux-form/lib/immutable` instead.

[2016-11-02 12:55] davidkpiano commented on #511
Updated in the docs: http://davidkpiano.github.io/react-redux-form/docs/guides/immutable.html

<img width="352" alt="screen shot 2016-11-02 at 8 54 41 am" src="https://cloud.githubusercontent.com/assets/1093738/19929499/08a46044-a0da-11e6-80a2-823d66511dab.png">

[2016-11-02 13:21] ckoehn opened #513 "Mixing form and field validation"
I'm trying to combine field and form validation, but the form is submitted although it is invalid. I want to validate that the two fields (`name1` and `name2`) are filled and that the values are not equal.

Example:
https://esnextb.in/?gist=a2adcfdafdab411922cfa1dfbe464cf9

If you fill `name1` and the other one is left blank, the `handleSubmit()` function gets executed. According to the documentat

[2016-11-02 14:26] #513 closed

[2016-11-02 15:28] dmitrif opened #514 "Error with immutable"
Hi! It's me again. I changed include to use `import { combineForms } from 'react-redux-form/lib/immutable';` however, an error appears:

[code]

The reducer is set up as such:
[code]

And the form is set up as such:
[code]

Please advise. Thank you!

[2016-11-02 15:32] dmitrif commented on #514
Also tried using createForms instead, still failing.

[2016-11-02 17:48] jameshy opened #516 "actions.load doesn't update the field state when using a nested model"
Using actions.load like this doesn't update the field state.
[code]

However using it like this does:
[code]

Here is a gist that reproduces the issue:
https://esnextb.in/?gist=e9d5ce40ab72854f69b979367ffcaced

version 1.0.15

[2016-11-02 18:04] dmitrif commented on #514
Seems like createForms update didn't stick, after rebuilding it works. Thanks.

[2016-11-03 13:30] #516 closed

[2016-11-03 13:48] #514 closed

[2016-11-03 13:49] davidkpiano commented on #514
I'm pretty sure the check I added in 7efde9f will fix the issue, can you check when the next release goes out?

[2016-11-03 13:57] #512 closed

[2016-11-03 13:58] davidkpiano commented on #503
I'm going to need more info to accurately reproduce this - I can't figure out what your code is by just looking at the stack trace 😆

[2016-11-03 14:00] torifat commented on #503
@davidkpiano Yes, I get it. I though by looking at the recursion you might be able to tell. I'm closing it for now. If I can figure out the code that triggers it. I will reopen it. Thanks.

[2016-11-03 14:00] #503 closed

[2016-11-03 14:00] davidkpiano commented on #503
Sounds good, thank you!

[2016-11-03 14:46] dmitrif commented on #514
Thanks, David!

I see the tag for 1.1.0 but when trying to install from NPM it's saying that version doesn't exist.

[2016-11-03 15:04] davidkpiano commented on #514
Hmm, try again?

<img width="343" alt="screen shot 2016-11-03 at 11 03 56 am" src="https://cloud.githubusercontent.com/assets/1093738/19971390/3d318540-a1b5-11e6-8fba-9b01c874645e.png">

[2016-11-03 16:34] mikkelwf opened #517 "Are checkboxes broken?"
Hi

I'm trying to incorporate rrf into my app.
I simply cannot get checkboxes to work

I'm doing this simple example
[code]

The redux action `rff/change` is triggered when i check the box, but the `checked` state is not updated. I've tried both with 1.0.15 and 1.1.0, but nothing is working.

[2016-11-03 17:16] davidkpiano commented on #517
![nov-03-2016 13-15-28](https://cloud.githubusercontent.com/assets/1093738/19976825/a9cb2028-a1c7-11e6-9ee3-2eaa4e137976.gif)

The code as-is works just fine for me (see above).

But you can also try removing the `value` prop in your checkboxes.

[2016-11-03 18:09] dmitrif commented on #514
I think this particular issue is fixed. but I think I realized why this doesn't work for us, is this library compat with redux-immutablejs?

Cheers.

[2016-11-03 18:22] mikkelwf commented on #517
I've resolved it.

I put the `combineForms` like this in my `createStore`:
[code]

And the consequent naming of my forms in my views did not resolve to the right form in rrf (nothing was actually stored in redux)..

So beginners error. I read the documentation again, and its not 100% clear that the naming changes when you nest combineForms in the state. But maybe i just didn't read it well enough.

[2016-11-03 19:28] davidkpiano commented on #517
I'll try to make this clearer! Think of `combineForms` as expanding to an object. So in theory, you'd end up with something like:

[code]

And then your models would be `form.foo` and `form.bar`, respectively.

[2016-11-03 19:28] #517 closed

[2016-11-03 19:29] davidkpiano commented on #514
Paging @erin-doyle - she would know the answer to that 😄 I believe it _is_ supposed to work with `redux-immutablejs`.

[2016-11-03 19:49] dmitrif commented on #514
Thank you!

It ends up tripping up on lines such as:

Line 19 in get-field-from-state.js
```const formPath = toPath(form.$form.model);```

Since I believe form itself is an immutable object in this case. Along with some other spots.

[2016-11-03 20:11] davidkpiano commented on #514
If you'd like to help out with PRs, I'd gladly get them merged in ASAP. The solution to fixing this is two-fold, so for example:

In `get-field-from-state.js`:

[code]

And then in `src/immutable.js`:

[code]

Should be simple fixes, and since you can recreate the errors, you (or someone who uses Immutable.JS) would be best to diagnose them. 🙏

Personally, I do _not_ use Immutable.JS (I use icepic

[2016-11-03 20:12] mikkelwf commented on #517
It makes total sense when you get it. :)

I guess i just thought i had to omit the part of the path above the `combineForms`..

[2016-11-03 22:13] davidkpiano commented on #517
Yes, that's right but your syntax is a bit off. `combineForms` (like `combineReducers`) returns a `reducer` function, so you want this:

[code]

[2016-11-04 02:44] davidkpiano commented on #420
Basic functionality for `<LocalForm>` shipped! https://github.com/davidkpiano/react-redux-form/releases/tag/v1.2.0

[2016-11-04 02:44] #420 closed

[2016-11-04 12:56] davidkpiano commented on #507
#420 has shipped: https://github.com/davidkpiano/react-redux-form/releases/tag/v1.2.0 let me know if it works for your use case!

[2016-11-04 12:56] #507 closed

[2016-11-04 15:09] davidkpiano commented on #291
Is this still an issue with the latest version? @cipater

[2016-11-04 20:35] BerkeleyTrue opened #518 "Dependency on redux-thunk. Can it be removed?"
I'm in need of a replacement for redux-form and this project was looking hopeful until I saw in your codebase that you export a lot of thunks and expect the user to be using redux-thunk. That leaves out users of redux-observable/promise/saga.

Could this project be made to be async agnostic? @davidkpiano mentioned that something was in the works.

[2016-11-04 20:38] davidkpiano commented on #518
Yep, working on it! The latest `1.2.2` has it removed _for the most part_. I just have to make a note in the docs for all the (optional) actions that do depend on it, such as `actions.filter`, `actions.submit`, etc.

[2016-11-05 17:16] fxfilmxf opened #519 "Reset form doesn't work properly with object model values"
The reset action correctly resets model state but not form state when the model value is an object. Below is a simple example. In this example I would expect the error message to be shown after reset is clicked.

[code]

[2016-11-05 19:59] fingermark opened #520 "actions.submit should take in a callback and not a promise, right?"
Maybe I have misunderstood `actions.submit`, but I thought its goal was to check for form errors before submitting a backend request.  If so, then why does `actions.submit` take in a promise and not a callback?  If you take in a promise then the request has already been made.  And if the options.validate is on and the form isn't valid then the request has already been made.

Also, would it be poss

[2016-11-05 20:09] davidkpiano commented on #520
Good point - I was meaning to make this enhancement a while ago, where `actions.submit` should take a callback instead of a promise.

Sure, would it make sense for `actions.submit()` to return a promise?

What does your ideal code look like for this? Can you post an example?

[2016-11-05 20:22] fingermark commented on #520
Great question.  Let me try out some things.  I'm still learning what's possible with react-redux-form.

I'm interested in submitting a request only when the form is valid, while being able to fully use the response (success or fail).  I'll be be adding error messages to the form based on some failure messages.  With the response, I'll be dispatching another action.  I'll be using redux-observable

[2016-11-06 01:41] gocamille opened #521 "Cannot read property '$form' of null at handleIntents"
Thank you @davidkpiano for such a great library!

I'm using the `latest` version of `react-redux-form` within a large-scale app that has too many reducers to place right in the store, so it's split up in this way, as an example:

**loginReducer.js** (being loaded to the `store` via an `asyncReducers` helper)
[code]

**Login/index.js**

[code]

With this configuration I am getting this error once t

[2016-11-06 02:26] gocamille commented on #521
I'll close this issue as I've realized I was not importing the correct `/lib/immutable` while using ImmutableJS. I also understand `Intents` now! Thank you for a great library again 👍

[2016-11-06 02:26] #521 closed

[2016-11-06 07:41] dmzkrsk opened #523 "Access the global form state in a custom form component"
Currently `<Form component={...} />` doesn't accept `mapProps` like '<Control component={...} />'.

Is there a way to access global `formValue` for custom form components?

I found, that `Form`'s `children` can be a function and recieve `formValue`. Is it a recommended way to do this? If so, see also #522

[2016-11-06 15:43] davidkpiano commented on #523
You can use the `onUpdate={(formValue) => ...}` prop on the `<Form>` element, does that help?

[2016-11-07 12:57] bnlambert opened #524 "InitialState does not appear when LocalForm is rendered for the first time or when it is rendered"
Hi!
react-redux-form is a great job. I am currently having a hard time assigning my props to initialState in LocalForm.
My code looks like this

`<LocalForm
	    initialState ={this.state.patient}
	    onSubmit={this.handleSubmit}
	    model="patient"
        onUpdate={(form) => this.handleUpdate(form)}
        onChange={(values) => this.handleChange(values)}

        <Control.text model=".firstna

[2016-11-07 13:35] davidkpiano commented on #524
Does the state arrive asynchronously? That is, when the component is first rendered, could `this.state.patient` be undefined (because it is waiting for an AJAX call, etc.)?

[2016-11-07 14:04] bnlambert commented on #524
The component having the form is a child component that receives initial data through props directly from the parent component.

`<ChildComponent patient={this.state.patient} />`
Not ajax. When I refresh the form, initial data disappears.

[2016-11-07 16:01] zargold commented on #499
when you say path to form would that allow someone to say this nested object is the form who's path is 'itemsByUrl.myUrl.idWithinUrl[3].item' in other words change that aspect of the state? Right now I am using actions.load to load that path into the Form but I will get to avoid that or am I misreading

[2016-11-07 16:07] dmzkrsk commented on #426
Is it working?
I have a form, which state is loaded via `action.load`, then I try to `action.reset` and my form is blank.

This commit refers only field reducer.

I checked properties of my fields, `modelValue` is undefined, but `fieldValue.initialValue` is correct. (I'm still a bit of confused about `modelValue` vs `fieldValue`)

[2016-11-07 17:15] davidkpiano commented on #426
Can you open a new issue if it doesn't work form-wide?

[2016-11-07 17:25] davidkpiano commented on #499
I'm not sure of the API for this yet. I'm evaluating if it's redundant with `<LocalForm>`.

[2016-11-08 00:47] MixKCet commented on #493
Huh, look at that. Thanks @davidkpiano!

[2016-11-08 00:47] #493 closed

[2016-11-08 02:06] bnlambert commented on #524
Could be a problem with the version I am using? I simply ran the command
`npm insta`

[2016-11-08 10:03] nahushfcc opened #525 "Dynamic Forms"
As far as I know If I want to model a Form I need to create a reducer for the corresponding form data right. What if I want to create forms dynamically. How do I model the forms without creating the corresponding reducer at runtime?

[2016-11-08 12:42] davidkpiano commented on #525
1. Have a root form reducer:

[code]

2. Now, all forms, dynamic or otherwise, can live under this single `forms` form reducer. So if you dynamically create:

[code]

then the form state will be created for you under:

[code]

Or if you `connect()`, just `this.props.forms.completelyNew`, of course.

Hope that helps!

[2016-11-08 13:20] davidkpiano commented on #496
Can you try this again in the latest version?

[2016-11-08 20:23] cyberwombat opened #526 "Question about states after submitting"
I've noticed that the submit handler will only be called once if successful. If the user then submits again the handler is not called and the `submitFailed` state is set to true.  Is this intended behavior?  I am not clear on how to use states to mark my form as done. I can understand not doing a double submit but why would my form revert to `submitted: false` when the user clicks again?

After 1s

[2016-11-08 20:34] gocamille opened #527 "mapping existing ImmutableJS reducers with combineForms()"
I've been trying to use an existing `ImmutableJS` reducer with `combineForms()` and it seems to create a new state object rather than map to my existing reducer store...am I setting up this form incorrectly?

The app is large so we are code-splitting as well as asynchronously loading reducers. Currently I've tried to set it up in this way:

**reducers.js**
[code]

**registerPage reducer**
[code]

[2016-11-08 20:39] davidkpiano commented on #527
What is your desired store shape?

[2016-11-08 20:40] davidkpiano commented on #526
Is there validation on the form?

[2016-11-08 20:42] gocamille commented on #527
It is set up initially as this:

[code]

[2016-11-08 20:48] cyberwombat commented on #526
There is but just one field.  This may be an issue with my promise. I use axios redux middleware and dispatch that. It returns a promise which I pass to the submit action to dispatch. It submits the form but perhaps only once. If I do a straight axios call it seems to work so gonna look into that further. Closing for now - sorry about that.

[2016-11-08 20:48] #526 closed

[2016-11-08 23:32] cyberwombat commented on #526
I see. It's because my promise, on success, returns a data object (axios request data) as opposed to `true`.

So I have:
[code]
Instead of:
[code]

So it makes a successful submit and marks form submitted as true, but only once. What is the reasoning behind requiring a boolean true as opposed to a successful resolve?

[2016-11-09 07:30] BerkeleyTrue commented on #518
So filter and submit are still thunks?

[2016-11-09 13:14] davidkpiano commented on #526
It's initially to set validity but I feel we can get rid of that. I see no use cases for automatically setting validity after a successful promise.

[2016-11-09 14:19] davidkpiano commented on #518
Yes, but they're entirely optional to use. Just helper actions.

[2016-11-09 14:44] ckoehn opened #528 "Validators in nested structures are not executed after actions.load()"
If I load data in `onComponentDidMount()`, the validators of the nested (`items` and `subitems`) fields are not fired afterwards. If you remove the name of an `item` or `subitem`, the form should display an error message. This only happens on nested structures and not on the toplevel `username` field.

https://esnextb.in/?gist=4985e147f3c4d3db5c9dce8eb6a886af

**Update**
The error messages of addi

[2016-11-09 14:51] ckoehn opened #529 "Can not remove nested item via actions.remove()"
Push `Add item` and and try to remove it afterwards **without** entering any `name`. This leads to an `Uncaught TypeError: Cannot read property 'hasOwnProperty' of undefined`. If you make the nested item valid by entering a `name`, the item is removed without any error.

https://esnextb.in/?gist=28539ef3569e1182e0f3ffb0c959a438

[2016-11-09 15:56] cyberwombat commented on #526
I was pondering this yesterday and I can see that it makes it easier (as things are now) to handle things like failed authentication where a successful resolve should be handled differently based on whether it was correct. So it's not a form error but an invalid one. If the boolean check gets removed how would this scenario take place?

     formCheck()
       .then(res => res.isValidLogin)

[2016-11-09 16:10] BerkeleyTrue commented on #518
Awesome! That should be enough to resolve this issue.

Happy Coding

[2016-11-09 16:10] #518 closed

[2016-11-09 20:10] tiagoefmoraes commented on #528
I have the same problem and found that it validates the same quantity of items in the `store`'s initial state

In the provided sample doing the following "works", but if we load `DATA2` it breaks and doesn't validate  the second item.

[code]

[2016-11-10 03:47] cyberwombat opened #531 "How to toggle fields based on other fields"
Right now I use redux to toggle some fields based on the status of some radios. I dispatch my custom action from `changeAction={this.changeMethod}` in the radios. It works fine. I am wondering if there is a build in way to do this. I've noticed that the form will no rerender when `form.value.myradio` changes. Is there a way to force the render?  I tried using ` dispatch(actions.change('...', value

[2016-11-10 08:22] Neophy7e commented on #511
@davidkpiano there is still places where it's `react-redux-form/immutable` instead of `react-redux-form/lib/immutable`

eg : https://github.com/davidkpiano/react-redux-form/blob/master/examples/immutable/store.js

[2016-11-10 13:37] #511 closed

[2016-11-10 13:38] davidkpiano commented on #511
@Neophy7e Now, `import { ... } from 'react-redux-form/immutable'` will work in the next release.

[2016-11-10 13:43] davidkpiano commented on #531
What do you mean by toggle? Do you mean that the radio button is toggling some other radio buttons?

If so, that's a good use-case for a custom reducer. Here's an example:

[code]

And then you can just have that be a modeled reducer:

[code]

[2016-11-10 16:23] stunaz commented on #525
@davidkpiano Nope it doesn't work.
I take your [codepen ](http://codepen.io/davidkpiano/pen/1c8e41d9f739d5d2827e4e2b38fe1a76) and created the store as `const store = createStore(combineForms({}), applyMiddleware(thunk));`

yes the values are in the states, but the following did not work:

The `radios` and the `checkboxes` doesnt work . (cant set a radio nor a checkbox)
and submitting the form retu

[2016-11-10 16:51] davidkpiano commented on #525
Can you post the link to your modified codepen?

[2016-11-10 16:58] stunaz commented on #525
Can't fork a private pen

just changed the line :

[code]
to
[code]

[2016-11-10 18:07] cyberwombat commented on #531
I'm toggling children component (a bunch of inputs) based on the value of a radio. I have a reducer working now - I will make it the actionTypes though.  I was hoping to dispatch an action that causes a from rerender in the same way that say changing pristine state does. I can access the radio value from `props.form.value.radio` so it seemed a bit silly to create another prop but I don;t know how

[2016-11-10 18:07] #531 closed

[2016-11-10 20:15] tiagoefmoraes commented on #528
Managed to fix this, @davidkpiano can you look and say if this is the right way to solve this?

[2016-11-10 22:32] davidkpiano commented on #528
@tiagoefmoraes Fix looks good to me! I can refactor later. Mind making a PR?

[2016-11-10 23:16] tiagoefmoraes commented on #528
@davidkpiano Will rebase and create PR tomorrow

[2016-11-11 11:59] nahushfcc commented on #525
Yeah it doesn't work. I tried both the `formReducer` as well as `combineForms`, [here's](http://codepen.io/anon/pen/qqbMLz) the code pen

[2016-11-11 14:36] dmzkrsk opened #533 "action.reset should reset model's state to last actions.load"
From #426

Looks like only `fieldValue` is restores, but `modelValue` resets to blank state

[2016-11-11 14:50] davidkpiano commented on #524
Sorry, I can't replicate the issue. Make sure you have the latest version of RRF. The below minimally reproducible use case works as expected:

[code]

Please compare your code to the above and verify that the input does in fact have `"bob"` as the initial state.

[2016-11-11 14:50] #524 closed

[2016-11-11 15:37] #519 closed

[2016-11-11 15:50] #533 closed

[2016-11-11 15:51] davidkpiano commented on #523
Also, yes, you can pass in a function-as-children to `<Form>` to achieve the same result. See the documentation here for more information on the `onUpdate={...}` prop: http://davidkpiano.github.io/react-redux-form/docs/api/Form.html

[2016-11-11 15:51] #523 closed

[2016-11-11 15:59] #528 closed

[2016-11-11 20:11] cipater commented on #291
Sorry for the delayed response... Yes, this is still an issue as of `1.0.14`, which I believe was current at the time of you asking.

[2016-11-11 20:20] cipater commented on #291
Hmm. Looking at the commit logs, that doesn't appear to be true... But I've just tried it on `1.2.2`, and it's still an issue.

[2016-11-13 00:09] fxfilmxf opened #534 "Change action from Control causes extraneous action options"
The Control component passes three arguments to the change action creator. The model, new value, and current model value. https://github.com/davidkpiano/react-redux-form/blob/master/src/components/control-component.js#L222

The change action creator accepts three parameters: the model, the new value, and options. https://github.com/davidkpiano/react-redux-form/blob/master/src/actions/model-actions

[2016-11-13 11:51] #534 closed

[2016-11-13 12:49] davidkpiano commented on #525
I updated my answer above: https://github.com/davidkpiano/react-redux-form/issues/525#issuecomment-259126628

Long story short, it doesn't work if you are missing a model reducer. So you can still do dynamic forms, it just needs to be based on an existing model reducer:

[code]

Hopefully that makes sense. **Always have at least one model reducer**.

[2016-11-13 12:49] #525 closed

[2016-11-13 13:02] #529 closed

[2016-11-14 10:43] nahushfcc commented on #525
I used
[code]
and it worked like a charm. Thanks

[2016-11-14 12:42] gvidon opened #535 "Validation falls into infinite loop with lodash 4.17.0"
I have a field on a form which value is object with nested properties:
[code]

With lodash 4.17.0 this code in our code base falls into infinite loop, infinitely  dispatching `setValidity` action:

[code]

There are **no validators** defined for failing fields.

[2016-11-14 13:45] davidkpiano commented on #535
[code]

What does this method look like?

[2016-11-14 14:03] gvidon commented on #535
@davidkpiano it is action dispatching. We every custom control with this method, using this:

[code]

And apply like this:

[code]

[2016-11-14 14:09] davidkpiano commented on #535
So the issue here is that you are manually validating the model every time your component receives props, whether the model has changed or not. The standard usage of `<Control>` internally has optimizations on when it validates, so that it avoids validating:
- when the model value hasn't changed
- when the validity hasn't changed

I would recommend leaving validation to the `<Control>` component,

[2016-11-14 14:24] gvidon commented on #535
@davidkpiano it looks like after `SET_VALIDITY` is dispatched there is no our custom code participating in the process. Loop starts even without changing anything, but during form init.

The flow is — data fetched, store updated, `componentWillReceiveProps` called, `SET_VALIDITY` falls into loop.

It started right after lodash updated yesterday. Unable to reproduce with lodash < 4.17.0.

[2016-11-14 14:50] davidkpiano commented on #535
Weird... I'll update lodash and see if I can reproduce it.

[2016-11-14 18:34] gocamille commented on #527
Hi @davidkpiano ! We seem to have resolved this issue at least, so closing this now.

[2016-11-14 18:34] #527 closed

[2016-11-14 20:48] gocamille commented on #511
Hi @davidkpiano ! Has the next release been released? Just `npm installed` but don't get these changes. 😞

[2016-11-14 22:27] davidkpiano commented on #511
@gocamille Yes, these should be under `react-redux-form@1.2.3`. Try clearing your npm cache or `rm -rf node_modules` if you are not able to see the changes.

[2016-11-14 23:57] gocamille opened #536 "'dispatch' is not a function"
Hi @davidkpiano! I am not using `redux-thunk` but `redux-saga` on an `ImmutableJS` project and am getting this error on this line:

`field-actions.js:270 Uncaught TypeError: dispatch is not a function(…)submit
@ field-actions.js:270handleSubmit
@ form-component.js:351ReactErrorUtils.invokeGuardedCallback
@ ReactErrorUtils.js:70executeDispatch
@ EventPluginUtils.js:89executeDispatchesInOrder
@ Even

[2016-11-15 00:58] fxfilmxf opened #537 "Release v1.2.3 to npm"
Will you release v1.2.3 to https://www.npmjs.com/package/react-redux-form?

[2016-11-15 01:08] davidkpiano commented on #537
Sorry about that! Published.

[2016-11-15 01:08] #537 closed

[2016-11-15 01:14] davidkpiano commented on #536
Over here is the problem:

[code]

The `actions.submit` is an action _thunk_ creator, and it requires `redux-thunk`. With that said, it's easy to recreate this action so that it is suitable for `redux-saga`. This is the core of the action:

[code]

The extra code and code related to validity is removed for clarity. Feel free to use the above as a template for handling submit logic yourself inside

[2016-11-15 01:28] fxfilmxf commented on #537
Thanks!

[2016-11-15 11:43] MioQuispe commented on #427
Also got this issue. Only have 11 fields in my form but it's unusable unless I set updateOn="blur".
Thanks for your great work on this awesome library @davidkpiano !

[2016-11-15 13:53] davidkpiano commented on #427
@MioQuispe By any chance, can I see the code for your form?

[2016-11-15 14:18] MioQuispe commented on #427
@davidkpiano Not sure if I'm allowed to share the code but I could strip out the relevant parts and send it in a private message. I'm on a deadline atm so I'll do it some time in the near future...

[2016-11-15 17:18] perrydt commented on #535
We just ran into a similar problem and by comparing shrink-wrapped versions of our deployed app were able to track it to lodash 4.17.0 as well.  Our affected forms are using custom validation functions in the validators prop, but are all client-side; for us the symptom was not an infinite loop but very poor form performance -- several seconds to handle each keystroke.

However, the problem seems t

[2016-11-15 17:20] fxfilmxf commented on #535
I noticed the same problem. Several seconds for each keystroke. I traced it down to `omit` which I thought was pretty odd until I saw the issues that were filed against lodash 4.17.0. There's an issue with `pick` in 4.17.1 so I would suggest staying on 4.15 or waiting until 4.17.2 is release later today.

[2016-11-15 17:57] #536 closed

[2016-11-15 18:04] #535 closed

[2016-11-15 18:09] davidkpiano commented on #535
For now, I replaced `lodash/omit` with a simpler internal implementation.

[2016-11-15 18:45] gocamille opened #538 "Valid batch action not triggering a `submit`"
We have a form with validation, and when all validation passes, it dispatches a `batch`ed action as intended. The first action, `setFieldsValidity` seems to pass, but the second action, `submit`, is not fired:

![image](https://cloud.githubusercontent.com/assets/1258853/20318780/b05853f4-ab39-11e6-88bb-bf45cf10289f.png)

[2016-11-15 19:05] dmitrif commented on #514
@davidkpiano Thanks :) Working on it!

[2016-11-15 21:08] davidkpiano commented on #538
What does the code for your `<Form>` look like?

[2016-11-16 13:28] davidkpiano commented on #509
I've thought about this a little and figured it's best not to add any extra API for something that's already handled naturally in `mapProps`:

[code]

The above is more flexible and will work as expected 😄

[2016-11-16 13:28] #509 closed

[2016-11-16 14:41] #510 closed

[2016-11-16 14:43] davidkpiano commented on #520
@fingermark Any updates on this?

[2016-11-16 14:45] davidkpiano commented on #496
Closing due to inactivity. I'm fairly certain that many similar issues were fixed around this in the latest versions since 1.0.13, but if it comes up again, I'll reopen.

[2016-11-16 14:45] #496 closed

[2016-11-16 14:53] davidkpiano commented on #291
@cipater: The problem with using `setFieldsErrors()` with this error structure:

[code]

is that RRF has no way of knowing if `'first_name'` is an error key or a model key. As a counterexample, I'm working with an API which returns errors as arrays; e.g.;

[code]

And it would be erroneous for RRF to assume that we were talking about `credit_card[0]` and `credit_card[1]`.

Your approach of manuall

[2016-11-16 14:53] #291 closed

[2016-11-16 15:22] davidkpiano commented on #409
To avoid adding too much bloat to the library, I feel that this is better solved in userland. Here's the general strategy:

1. Upon successful submit, save the current form's value to
  - internal component state
  - the Redux store state, using a custom reducer
2. In the function passed to `onSubmit`, you can check the diff:

[code]

The reason for this is that a proper object/array diffing imple

[2016-11-16 15:22] #409 closed

[2016-11-16 22:06] dave-clover opened #539 "Multiple submit buttons"
I have a very specific case I'm having trouble with.  I have a form with two submit buttons and I need to be able to figure out which button was clicked.  Since `onSubmit` on the form doesn't pass the event through, I can't do this.  Also thought about some workarounds, but since the form doesn't have an `onSubmitFailed` prop, the workarounds don't really work.  I can go into more detail if you ha

[2016-11-17 00:14] dave-clover commented on #539
Also...happy to submit a PR.  Of the two options I mentioned, do either (or both) appeal to you?  Or do you have another idea?

[2016-11-17 02:20] davidkpiano commented on #539
The easiest way to do this right now is to add an `onClick` event handler to each of your buttons that changes the model before it is submitted:

[code]

Now, when your form is submitted, you can just reference the `'user.clicked'` (feel free to rename) model to see what was clicked to submit the form.

This is very similar to what you would do with vanilla JS/HTML: http://stackoverflow.com/questi

[2016-11-17 02:22] davidkpiano commented on #539
Also, I'm going to keep this up as an enhancement, because I'd like to add two new `<Control>` components:

- `<Control.button>` for `<button type="button">`
- `<Control.submit>` for `<button type="submit">`

And then you can just do the above like:
[code]

[2016-11-17 03:00] dave-clover commented on #539
Thanks for the response and example.  My main concern is that if the form is invalid, "foo" or "bar" will stick around in the store longer than I would like.  My comment about having an "onSubmitFailed" function was so I could clear out that field if that happens.

This flow is the thing that is bothering me:

1. User tries to submit and either:
  a. It's valid and onSubmit is called
  b. It's inv

[2016-11-17 11:46] VladShcherbin opened #540 "Some questions about the correct workflow"
Hey, I saw most of the issues are now solved :)

I have a few questions about the workflow of RRF:

On initial start, we have smth like this:

[code]

**1)** So, `rrf.user` is a model, which values are updated when the form inputs are updated. `rrf.forms.user` is the created form with this model and `rrf.forms.user.$form` object has the form state (errors, etc).

If this is correct, why aren't the

[2016-11-17 14:44] tiagoefmoraes commented on #510
@davidkpiano Thanks, working 'almost' perfect, when the form is submited it becomes invalid, added some tests on this branch: https://github.com/tiagoefmoraes/react-redux-form/tree/deep_validation_submit

[2016-11-18 00:49] jomasti commented on #426
Is this new change not optional?

[2016-11-18 12:21] davidkpiano commented on #426
@jomasti What's your use case for not wanting to reset it to the initial state?

[2016-11-18 14:24] MioQuispe commented on #427
@davidkpiano I sent you an email with some code.

[2016-11-18 14:34] jomasti commented on #426
Let's say I have a list of results after creating groups using the form. From that view, you can create a new group. It will take you to a blank form. You can hit cancel and go back to the list view. Also from the list, you are allowed to edit the saved group. You click edit, it will go to that same form and use actions.load to set the state for that saved form. When you hit cancel again to go bac

[2016-11-18 14:50] davidkpiano commented on #426
You can use `actions.change` - the use-case for `actions.load` is two-fold:
- wanting something to be the _new_ initial state of the model
- wanting to silently change the model

For most intents and purposes, `actions.change` will be the action you want to use. That way, you will get your expected behavior of having a blank form upon `actions.reset`.

[2016-11-18 15:03] jomasti commented on #426
Oh, okay. That makes sense. Thank you!

[2016-11-18 22:14] Maxim-Chugaev opened #543 "Custom control not work"
[code]
Can not edit.

[2016-11-18 22:27] gocamille commented on #538
Sorry for the delay, here it is:

[code]

[2016-11-18 22:44] davidkpiano commented on #538
Thanks! I probably need to see the code for `<SubmitButton {...props} />` to further diagnose what's going on.

[2016-11-18 22:46] davidkpiano commented on #543
The issue is here:

[code]

Blindly passing props is usually a recipe for disaster. Instead, try this:

[code]

Hope that helps!

[2016-11-18 22:46] #543 closed

[2016-11-19 15:11] gocamille commented on #538
Sure! It's the exact copy of what's in the `immutable` example:

[code]

[2016-11-21 13:08] ChrisSSocha opened #545 "Pattern for validation across fields"
Hello,

We're wondering if you had any patterns to do validation across a number of fields (other than doing form level validation). The example we're using is capturing date of birth across three fields (day, month, year). Each field has its own validation, but some (e.g. is it a valid date? are they over 18?) need to be done across all fields.

We would like to avoid doing this at the form level

[2016-11-21 13:57] davidkpiano commented on #545
Validation across fields being a concern of a parent node solves the problem, "where will the validation live?" For example, if the birthdate is invalid (e.g., `oldEnough: false`), where will that `oldEnough` validation state live? On the day, month, year fields? On all three?

The simplest answer is at a parent node. I recommend having a data structure like this:
[code]

And that way, you can mak

[2016-11-22 14:55] ChrisSSocha commented on #545
We had a few problems implementing the form as you describe it.

[code]

In this case we get an error `Cannot read property 'day' of undefined` thrown from the validator. This goes away if we set the `Form` model to `applicant.dob`.

Is it possible to use  nested form with a partial model? Are we doing something wrong?

[2016-11-23 17:46] davidkpiano commented on #540
I'll be adding this to the documentation soon (well, after the holidays)!

[2016-11-23 19:41] TLadd opened #546 "setInitial action alters model value starting in v1.2.3"
Both v1.2.3 and v1.2.4 have an issue where setInitial resets the model state in addition to the field state. This is not present in v1.2.2

Here is an example:
https://esnextb.in/?gist=ebf458ab31ce4849be7816057b33c60c

[2016-11-23 21:06] davidkpiano commented on #546
What is the expected result? That the field state is not touched?

[2016-11-23 21:15] TLadd commented on #546
The docs indicate that setInitial ought to change the field state but not the model.

[2016-11-23 22:23] #546 closed

[2016-11-24 17:44] ChrisSSocha commented on #545
Hey @davidkpiano,

Have you had a chance to look at my follow up question above?

Is it possible to use nested form with a partial model?

[2016-11-24 20:20] gocamille commented on #538
Hmmm...this still dispatches an `rrf/batch` action that doesn't trigger a submit 😞

[2016-11-25 16:08] davidkpiano commented on #538
@gocamille I created a simple reproduction that is very close to your use-case, and this seems to work just fine, without issues:

[code]

Can you please compare your code to what's above? I'm guessing there is an extraneous issue.

[2016-11-25 16:27] davidkpiano commented on #545
Ah, unfortunately I overlooked that. At the moment, resolving models is not supported for `<Form>`, since it is assumed that the `<Form>` is the top-level. The solution to this will probably come in a later version, when `<Fieldset>` is finalized (which acts like a form, but without submit/etc.)

For now, I updated my answer above. You can create a higher-ordered component:

[code]

And then use i

[2016-11-25 16:27] #545 closed

[2016-11-28 01:15] jonathanconway opened #547 "Imperatively reset only validation errors on a <LocalForm> (and is this a valid requirement?)"
For the purposes of a form I'm working on, I would like to imperatively reset all validation errors on a `<LocalForm>`.

(Background: it's a single `<LocalForm>`, but it's presented as a wizard, so that one field at a time is shown and the user steps backwards and forwards between fields until they get to the end.

If they hit Submit on the first field, I want to show a validation error and make t

[2016-11-29 15:23] davidkpiano commented on #547
For anything beyond basic form functionality, you'll probably want to just use a normal `<Form>`. However, if you want to do custom dispatching to a `<LocalForm>`, that is still possible if you **create your own store**:

[code]

I haven't tried this yet, but it should work in theory. Can you try it out and see if it works for your use case?

[2016-11-29 15:40] davidkpiano commented on #520
Closing due to inactivity.

[2016-11-29 15:40] #520 closed

[2016-12-01 12:20] touqeerkhan11 opened #548 "Adding a default input value based on another input value"
Hi guys, first of all awesome work and im coming here after using redux-form and must admit this is a much leaner api so kodos for that. I have two questions 👀

First i want to reset the values of my form onsubmit and im using this code `<Form autoComplete="off" model="comment" onSubmit={v => actions.reset('comment')}>` but the values are not being reset and i want to know how to do that.

Second

[2016-12-01 13:06] bgriffith opened #549 "Touching a field doesn't update form's touched prop"
Hi @davidkpiano - Great to see RRF come on so far! Doing a great job :+1:

Currently when I touch a field with a form, while the field's `touched` property is updated to `true`, the `touched` property of the form remains `false` - Could you please give me some clarification if this is a bug or intended?

If it's intended - what's the recommended approach to updating the overall form prop? I did lo

[2016-12-01 13:32] #549 closed

[2016-12-01 13:32] davidkpiano commented on #549
Thanks, @bgriffith! This has been fixed and will appear in the next patch today.

[2016-12-01 13:36] davidkpiano commented on #548
Thanks, @touqeerkhan11! 😄

For the first part, make sure you're dispatching the action:

[code]

For your second question, do you have a custom component that's handling an "un-erasable" part of the input?

[2016-12-01 13:46] bgriffith commented on #549
Brill! Appreciate the quick response!

[2016-12-01 15:44] #539 closed

[2016-12-01 15:46] davidkpiano commented on #539
Hey @dave-clover, hope you don't mind but I went ahead and added the `onSubmitFailed` prop. Here's the docs on it: http://davidkpiano.github.io/react-redux-form/docs/api/Form.html#onsubmitfailed

[2016-12-01 22:23] BerkeleyTrue opened #550 "Can peer-dep on redux-thunk be removed?"
Moving from redux-form to redux-react-form on a project that uses epics instead of thunks.

Doing a quick search doesn't show any imports of redux-thunks outside of the examples directory.

Is it possible to remove this dependency?

[2016-12-01 23:15] sl33kr opened #551 "Control.text not setting input type"
Hi,
Just started using this as an alternative to redux-form as we like the seperation between form state and model state.

We have come across an issue though, it would see that Control.text isn't setting the correct input type.

Don't know if this is deliberate or a bug?

https://github.com/davidkpiano/react-redux-form/blob/master/src/components/control-component.js#L633

[2016-12-01 23:47] davidkpiano commented on #550
Almost! I'm doing quick tests today and tomorrow and removing it internally, and then I'll remove the peer dependency when it's 100% ready to be removed. Stay tuned!

[2016-12-01 23:54] #551 closed

[2016-12-02 00:06] sl33kr commented on #551
Thanks David!

This was messing with some styling coming from an external library we use.

[2016-12-02 00:13] davidkpiano commented on #551
You're welcome! This will go out tomorrow. If you need it today, you can add it manually:

[code]

[2016-12-02 05:54] sl33kr opened #552 "Typescript support for React HTML element props"
Hi there,
We are using this library with typescript, and have found an issue trying to add styling to the div that the Field component renders.

The documentation says

In typescript this doesn't seem to be the case.

`ControlProps` extends `FieldProps`. I would have thought for this to work either the relationship would have to be the other way around, there should be a common interface to both o

[2016-12-02 15:30] #550 closed

[2016-12-02 17:10] msteward opened #553 "actions.remove issue in v1.1.0+"
React Redux Form version: 1.3.0
Lodash Version: 4.17.2

## Steps to reproduce:
1. Create repeating form element and add a few instances (see screenshot below for sample form state structure following this) using `actions.push('modelName', initialModelState)`
<img width="561" alt="screen shot 2016-12-02 at 08 56 41" src="https://cloud.githubusercontent.com/assets/685691/20842869/e8d5f204-b86d-11e6-

[2016-12-02 17:19] davidkpiano commented on #553
Really excellent issue description, thanks so much! Looking into this now.

[2016-12-02 17:49] #553 closed

[2016-12-02 18:39] BerkeleyTrue commented on #550
@davidkpiano Thanks! I'm looking forward to refactoring out redux-form.

[2016-12-02 21:17] klwin523 opened #554 ""password" fieldtype pass in as "text""
Using the old <Field, "password' type was working correctly in 1.2.5. With 1.3.0, due to the type incorrectly being changed to "text", the password field is no longer obfuscating

[2016-12-03 16:45] #554 closed

[2016-12-03 20:37] bgriffith opened #555 "Control.TextInput ref returns null"
Small issue I've recently come up against when trying to trigger an input to focus is that when I use `Control.TextInput` for a field in React Native, `ref` will only return `null`. Is there an alternative way of doing it or is this a bug?

[code]

[2016-12-03 21:23] davidkpiano commented on #555
Hey @bgriffith, that might be a bug - I'll investigate and fix it. In any case, the implementation is small for binding to React Native components:

[code]

so if you'd like to figure out what's missing, perhaps you can make a quick PR and I can add it in. Also, I believe that for now, this will work:

[code]

but ideally it should work the way you have it.

[2016-12-04 14:47] bgriffith commented on #555
Hey @davidkpiano Thanks for the tips. Weird things be happening though! If I add the `controlProps` prop to the component (doesn't matter what I include within it) the whole input disappears from view!

[2016-12-04 17:12] davidkpiano commented on #555
Since React doesn't support propagating the `ref` prop through wrapped components (for whatever reason...), I think the solution is for me to add `getRef={(node) => ...}` to the API.

Does the name `getRef` sound intuitive enough? Or should I name it something different, like `controlRef`? It just can't be named `ref`.

[2016-12-04 17:14] bgriffith commented on #555
`getRef` sounds intuitive enough to me :+1:

[2016-12-04 18:30] #555 closed

[2016-12-04 18:38] davidkpiano commented on #555
Okay, done! Published as 1.3.2.

[2016-12-04 19:24] bgriffith commented on #555
Awesome thanks a lot! When you a min could you publish to npm?

[2016-12-04 20:43] davidkpiano commented on #555
Done! Published as 1.3.2

[2016-12-04 21:17] sl33kr commented on #552
@davidkpiano I'm new to typescript as well. Here is an example of what I'm trying to do.

[code]

In typescript the className on Field is invalid as FieldProps doesn't extend HTMLProps. Same case for ControlProps. I'm not sure if there is a way to provide these props without either explicitly adding them to FieldProps or making it extend HTMLProps.

I then tried to use the controlProps="{{classNam

[2016-12-04 22:27] davidkpiano commented on #552
cc. @tiagoefmoraes @zach-waggoner would any of you know how to remedy this?

[2016-12-05 00:11] hermanfenderson opened #556 "Uncaught error on form submit when submitted by return key on a custom changed field"
[EDIT... the problem is when submitting by return key on a custom changed field]

I am surely missing something but when I submit a form when validation is failed I get this error:
"Uncaught Error: Actions must be plain objects. Use custom middleware for async actions."

The form is not submitted (which is the required behaviour....) but I don't know how to handle that error...

[2016-12-05 00:11] hermanfenderson commented on #556
Maybe I should just RTFM a bit more...

[2016-12-05 00:18] sl33kr commented on #552
I did try to [interface merge](https://www.typescriptlang.org/docs/handbook/declaration-merging.html) in our project to add the "extends HTMLProps" to FieldProps and ControlProps to work around the issue but I could get this working either.

[2016-12-05 01:39] sl33kr commented on #552
Ok I got the merge working. Messes with intellisense but at least it compiles.

[code]

[code]

[2016-12-05 01:42] davidkpiano commented on #556
Can I see the failing code? At the very least, I'd like to make error messages clear :)

[2016-12-05 06:46] hermanfenderson commented on #556
Here is the relevant part of the code...
If I submit without validation errors... I can see the submit working
If I submit with validation errors... the submit is not triggered but I get that error...

// formRigaBolla.js (a container)
class FormRigaBolla extends React.Component {

updatePrice = (model,value) => {
   this.props.actionsRigaBolla.updatePriceFromDiscount(model,value,this.props.formRi

[2016-12-05 06:54] hermanfenderson commented on #556
This is the full console output of the error BTW

Uncaught Error: Actions must be plain objects. Use custom middleware for async actions.
    at Object.performAction (<anonymous>:1:24263)
    at a (<anonymous>:1:18806)
    at dispatch (<anonymous>:1:22133)
    at Object.eval [as dispatch] (webpack:///./~/redux-thunk/lib/index.js?:14:16)
    at Control.handleKeyPress (webpack:///./~/react-redux-for

[2016-12-05 08:31] hermanfenderson commented on #556
I pushed in github the latest version of my code:

https://github.com/hermanfenderson/BrucaBook

The relevant files are: actions/brucaBook.js and containers/FormRigaBolla2.js

[2016-12-05 13:06] davidkpiano commented on #556
Can I see the code for the custom changed field/control?

[2016-12-05 14:37] hermanfenderson commented on #556
//This action: but if I keep only a one liner with a change action I will get that error as well...

export function updatePriceFromDiscount(model, value, formRigaBolla)
{
  if (isPercentage(value))
  {
  var sconto1 = formRigaBolla.sconto1.value;
  var sconto2 = formRigaBolla.sconto2.value;
  var sconto3 = formRigaBolla.sconto3.value;
  var prezzoListino = formRigaBolla.prezzoListino.value;
   //

[2016-12-05 15:08] tiagoefmoraes commented on #552
As Field and Control pass the properties down it makes sense for them to extend HTMLProps.
Created #557 to solve this.

[2016-12-05 21:23] #552 closed

[2016-12-06 09:05] hermanfenderson commented on #556
I've found the problem. It was in my brain!!!
Didn't wrap the function in a dispatch block...

Now it works perfectly. I am closing the issue.

[2016-12-06 12:27] #556 closed

[2016-12-06 14:22] Maxim-Chugaev opened #559 "onKeyPress on control"
[code]
this example not work.
Whats wrong?

[2016-12-06 15:09] #559 closed

[2016-12-07 17:56] justrag opened #560 "Reset for the LocalForm"
Just met a scenario where I need to clear LocalForm after submit. How do I do it?

[2016-12-07 18:58] davidkpiano commented on #560
Thinking about an API for this... The tricky part is that we need to have a declarative approach for this, not an imperative one. "Reaching inside" a component to do something imperatively is definitely an anti-pattern, so I don't want to attach ad-hoc instance methods or anything silly like that.

How about something like this?

[code]

where `getDispatcher` is basically like `getRef` - it runs o

[2016-12-07 22:09] jameshy opened #561 "actions.reset sets model value to undefined"
When I have a model like this:
[code]
Calling actions.reset('user') multiple times results in anArray to become undefined.

Here is a gist that shows the problem (1.3.2):
https://esnextb.in/?gist=774e09eda300aa56313d2718790e8334

The same gist without the problem (1.0.6)
https://esnextb.in/?gist=df83817a62cf98bb22dcc6bb7473a498

Clicking 'Reset Form' multiple times will cause the model array to be

[2016-12-08 15:35] justrag commented on #560
I'd be happy with just
`<LocalForm resetOnSubmit={true}>`
:)
but your approach will help to solve many similar problems that are bound to pop up soon.

[2016-12-08 17:55] davidkpiano commented on #560
In the short term, I can actually see `resetOnSubmit` being a useful property - its use-case is common enough to warrant it being a standalone prop.

[2016-12-08 22:51] sl33kr opened #562 "Multi model validation."
Hi,
We have a validation requirement of user has entered Phone Number OR Email.

What is the idiomatic way to implement this in react-redux-form? The [validation examples](https://davidkpiano.github.io/react-redux-form/docs/guides/validation.html) really only cater for a single model value.

Should I handle the rff/changed action in a validation reducer and then dispatch the outcome of the validat

[2016-12-08 23:21] davidkpiano commented on #562
Take a look at the example in [the Form documentation:](https://davidkpiano.github.io/react-redux-form/docs/api/Form.html)

[code]

This is an example of a **form-level validator** that takes in the entire form value and validates that both the `password` and `confirmPassword` models match.

So I'd imagine you'd have a `phoneNumberOrEmail` form-level validator that looks something like this:

[cod

[2016-12-09 00:24] dave-clover commented on #539
@davidkpiano thank you very much for adding this.  I got caught up with some other tasks before I could get back to this issue.

[2016-12-09 02:33] sl33kr commented on #562
Ah sorry! I do remember seeing this now.

[2016-12-09 04:30] sl33kr opened #564 "Typescript ControlProps UpdateOn/ValidateOn Fixes"
Have just noticed that Typescript ControlProps doesn't allow an array to be passed to UpdateOn or ValidateOn.

I have just submitted pull request #563 with a potential fix for this.

Sorry if something is wrong or it isn't done correctly, first pull request.

[2016-12-09 04:44] davidkpiano commented on #564
Awesome, thanks! Fixed by your PR, #563. Looks good to me 👍

[2016-12-09 04:44] #564 closed

[2016-12-09 05:43] sl33kr commented on #562
Ok I got it working, is there a way to associate this validation with the field models though?

I can display then under the controls just by adding
[code]

but would prefer to only display it after either of the fields had been touched.

When I have some more time I'll have a dig through the source.

[2016-12-09 05:43] #562 closed

[2016-12-09 06:12] davidkpiano commented on #562
Easy enough! `<Errors model="..." messages={{...}} show="touched" />` ;-)

Not quite yet - I'm going to add support for functions-as-validators in `<Form>` soon (they're available on `<Control>` right now). That way, you can just do this:

[code]

for any super-custom behavior.

[2016-12-09 08:59] toadle opened #565 "Best pattern to write a custom text-field with error messages"
Hey there,

like some I'd like the use `react-redux-form` to render bootstrap-based forms.

I fought pretty hard with the thing in order to find a simple reusable way. This is what I came up with:

In `<Form>`:
[code]

where `TextField` is:

[code]

I'm especially questioning myself if there is any way to let it look just like the following in `<Form>` without the need to pass `props` and use a `<

[2016-12-09 11:24] OrbX opened #566 "Select dynamically renders child component"
Hello i'm learning react/redux and redux form.

I would like to create a container (selector) which dynamically renders diffenrents components (piece of form) dependent of the option selected.
But I don't know how to do this, with action/reducer or onChange ...
Could you help me ?

[2016-12-09 14:39] davidkpiano commented on #566
Sure, you can do it like this:

[code]

Just as you would dynamically render children in vanilla React.

[2016-12-09 14:39] #566 closed

[2016-12-09 14:46] davidkpiano commented on #565
Sure, the general pattern is to make a new component:

(some props removed for brevity - add all necessary props)
[code]

And then use it:

[code]

Let me know if this works for your use-case. It's the same way you would approach this problem with an other React component.

[2016-12-09 15:05] toadle commented on #565
Thanks for the answer. Will try this shortly!

[2016-12-09 15:18] toadle opened #567 "How to reset validity after setting validity in async-action"
Hey there,

I got one little problem with using `setValidity`. I know that the documentation suggests to do validation asyncronously like any other validation. I tought I might even validate when the data gets send to the server and display those errors, when something problematic occurs:

[code]

Now my problem is: When I do this I can't resubmit the form unless I completely clear the field that

[2016-12-09 16:43] davidkpiano commented on #567
You can programmatically dispatch `actions.resetValidity('newUser')` at the right time.

I'm working on an enhancement to distinguish between pre-submit and post-submit validity, which should resolve this issue.

[2016-12-09 17:42] davidkpiano commented on #560
Actually, I'm going to go forward with `getDispatcher` because `resetOnSubmit` is too ambiguous/opinionated...

- What if the initial state of the form is autofilled values and the form needs to be reset to _empty_ values?
- Should resetting occur at moment when submit is attempted or submit is completed?
- What about resetting if submit fails?

[2016-12-09 18:33] toadle commented on #565
OK, this is how I solved this in the end.

I'm able to do a full-featured Bootstrap Input like this:

`<TextField model="newUser.email" label="E-Mail" required="required" messages={{ taken: "E-Mail ist bereits vergeben." }}/>`

The `TextField` looks like this:

[code]

The `TextFieldPresenter` looks like this:

[code]

[2016-12-09 18:42] davidkpiano commented on #565
Looks awesome! Thanks for confirming!

[2016-12-09 18:42] #565 closed

[2016-12-09 19:39] mgutz opened #568 "How to validate across model fields?"
I have a model like this

[code]

It seems like validation only returns the value for the single field. How do you access the entire model within the validation function? Need to know the value of strategy in amount validation function:

[code]

[2016-12-09 20:01] mgutz commented on #568
Dupe of #545

[2016-12-09 20:01] #568 closed

[2016-12-09 20:03] davidkpiano commented on #568
I also added a [Quick Reference](http://davidkpiano.github.io/react-redux-form/docs/guides/validation.html#quick-reference) to the validation docs to better find out how to do this. And it's in the FAQs 😉

[2016-12-09 20:08] davidkpiano commented on #561
Does this also occur for you in 1.4.0 by any chance?

[2016-12-10 18:35] lasergoat commented on #561
@davidkpiano this is 90% for sure the same issue I'm having.

[2016-12-10 21:35] #561 closed

[2016-12-11 21:50] sl33kr commented on #562
Hi David,
I realized I closed this but thought I would just add this in case someone came across this ticket.

Using `show="touched"` in the Errors component when it is display Form errors will cause the validation to display as soon as ANY field in the form is touched.

So in our case we had it display under phone/email half way down the form. As soon as the user tabbed from the first field, the

[2016-12-12 02:18] davidkpiano commented on #545
**Update**: As of 1.4.1 you can now use `<Fieldset>` which is a much nicer solution to this. Read the docs here: https://davidkpiano.github.io/react-redux-form/docs/api/Fieldset.html

[2016-12-12 02:21] davidkpiano commented on #547
Actually, the `getDispatch` prop solves this much more nicely as of the latest version (1.4.1):

[code]

[2016-12-12 02:21] #547 closed

[2016-12-12 18:15] davidkpiano commented on #80
Closing due to inactivity - this is best done with custom components that can properly handle complex data types in `<select>` - preferably with some sort of hash map in the component's state.

[2016-12-12 18:15] #80 closed

[2016-12-12 18:18] davidkpiano commented on #538
Closing due to inactivity - if you are able to provide a fully reproducible code example (similar to above), I will reopen this. Sorry! 😞

[2016-12-12 18:18] #538 closed

[2016-12-12 20:25] TLadd opened #571 "Reset action does not use last loaded value for nested objects"
When attempting to utilize the functionality added in https://github.com/davidkpiano/react-redux-form/issues/533 to reset a form to its last loaded value, if the value is an object that has deep properties, reset does not use the last loaded value.

Here is an example: https://esnextb.in/?gist=47a040e37ca3bd8e59792cbc7fa4f6f2
When hitting the reset button, it reverts the fields back to initial nam

[2016-12-13 01:05] sl33kr opened #572 "Form validation function"
Hi @davidkpiano ,
I have done some work to get the form validation as a function somewhat working.

I was just wondering if you would like me to open a pull request for you to look at to see if it's something you are either currently working on or interested in.

The branch is here https://github.com/sl33kr/react-redux-form/tree/form_validation_function

It's rough at the moment but works for my c

[2016-12-13 15:30] hermanfenderson opened #573 "Form.forms.myform.value no longer there?"
Just to double check my foundings....
If I have a form with a myform model... (e.g. with a field1 in it)
In version 1.3 I could gather the value of a field also at form.forms.myform.field1.value.
Updating to 1.4.2 values are no longer present there (I can find them at form.myform.field1.

Am I right? If so... is it intended or a bug? It broke a few things in my code...

[2016-12-13 16:07] davidkpiano commented on #573
It's intended, but just curious, what was your use-case? If there's no better way to do it, I can add it back.

[2016-12-13 16:11] davidkpiano commented on #573
Actually, I'm going to add it back in. I realize it is a breaking change, even if it's not documented. Sorry about that!

[2016-12-13 16:17] hermanfenderson commented on #573
The use case was to pass a whole form to a function and use the values to calculate other values...it was useful as well to pass the model names (so if I had to refactor my code it didn't was too hard).

Are you putting it back in a few hours or it will take longer? In the latter case... I will manage to fix my code.

Thank you for your prompt reply!

[2016-12-13 16:21] davidkpiano commented on #573
That's a good use case. Give me a few hours, I'll have the values back by this evening at the latest.

[2016-12-13 16:40] hermanfenderson commented on #573
I appreciate that!!!!

Il giorno mar 13 dic 2016 alle 17:21 David Khourshid <
notifications@github.com> ha scritto:

[2016-12-13 18:31] CoinGame opened #574 "Values set in redux aren't applied to target input box"
Currently react-redux-form input boxes are not populating the redux store form data as the value of the input box when mounted. The parent Control component of the input box storing a name string recognizes the value from the redux store, but this value is not passed to the input box. I've simplified my code below as much as possible to try and troubleshoot the problem here without much luck.

In

[2016-12-14 02:17] davidkpiano commented on #574
What does your `store` look like?

[2016-12-14 02:17] #573 closed

[2016-12-14 11:00] CoinGame commented on #574
`store`
[code]

reducer `index`
[code]

[2016-12-14 13:48] CoinGame commented on #574
Is there any examples of react-redux-form where inputs should be pre-populated? I couldn't find any in the documentation, but maybe I missed it. I can simplify further or reuse an existing example to see if it's something config related on my end.

[2016-12-14 13:52] davidkpiano commented on #574
@CoinGame I believe the issue is here:

[code]

Since you're putting your forms in a nested part of your store, instead of at the root of your store (that is, it's at `store.getState().forms` instead of just `store.getState()`), you need to specify _where_ you are putting your forms in `combineForms`:

[code]

The above tells RRF "I'm going to be putting these forms under the `'forms'` key in my s

[2016-12-14 16:11] CoinGame commented on #574
Hi @davidkpiano, thanks for the quick reply. it looks like that actually breaks things further. As running the app immediately throws:

[code]

whereas before it seemed to be finding the forms in the store fine. RRF allows me to update, and submit data fine which it's drawing from the store. Notice in the screenshot above for the Control component that fieldValue.initialValue, and fieldValue.value

[2016-12-14 16:19] davidkpiano commented on #574
So because it's nested, you'd have to change the model here too:

[code]

Sorry, forgot to mention that.

Here's the general idea:

[code]

creates this store shape:

[code]

---
With nested form state:

[code]

You now get this shape:

[code]

---

I recommend doing something like this: http://davidkpiano.github.io/react-redux-form/docs/api/createForms.html

[code]

[2016-12-14 16:31] CoinGame commented on #574
Boom. You're the dude. I just needed to add the `forms` key to my forms model attribute. My gut preference is the nested approach. Unless there's some serious drawbacks for the future i'm not aware of. Still kinda new to react/redux, and mixing in things like RRF has been a whirlwind. Appreciate your responsiveness and insights.

[2016-12-14 16:39] davidkpiano commented on #574
No problem! Glad to help, and feel free to open another issue if you're still hung up on some aspects of RRF.

[2016-12-14 16:39] #574 closed

[2016-12-15 11:27] mikkelwf opened #575 "Control: onChange not working in deep composition Components"
I'm having some trouble with getting Control working.

I'm trying to build custom Input controls, that are composed from basic components:
[code]

I have the following setup of a composed component

Component 1:
[code]

Component 2:
[code]

The `Boolean` is just a wrapper around `Select` with some `props` applied/overridden.

Component 2 works as expected, but Component 1 does not. the `rrf/change

[2016-12-15 15:00] davidkpiano commented on #575
Yeah, I need to refactor that to not use "duck-typing" to figure out if a component is an actual input/radio button. Thanks for debugging, though!

[2016-12-16 02:20] sl33kr commented on #572
Hi @davidkpiano
Was just wondering if you have had a chance to consider this?

[2016-12-16 13:33] davidkpiano commented on #572
Hey @sl33kr, taking a look at it now! Sorry for the delay.

[2016-12-16 13:35] davidkpiano commented on #572
Would you mind merging in the latest from master and creating a pull request so I can further review? I definitely want to go forward with this.

[2016-12-16 17:15] nickwild-999 commented on #130
Sorry a newbie question here.

I am just flexing my muscles with React using with Meteor and have not attempted to use Redux yet (although I will).Ahead of doing this I have decided to use react-redux-form as a local form and then migrate to redux when I am more confident.

I have used the local form for an insert to a mongo database which is straight forward, however I want to now create a form f

[2016-12-16 20:57] davidkpiano commented on #130
I'm not sure about using it with Mongo (no experience in that) but you can load initial data (aka autopopulate) like so:

[code]

[2016-12-17 00:17] sl33kr commented on #572
Great! I'll tidy it up try to get this done over the next day or 2.

[2016-12-17 07:12] nickwild-999 commented on #130
I have tried this, but not had any joy - the field is not autopopulated. Any ideas where I am going wrong.
`import React, {Component} from 'react';
import { LocalForm, Control } from 'react-redux-form';
import Scenes from '../collections/scene.js';

export default class SceneUpdateForm extends Component {
  constructor() {
      super();
      this.state = {
        scene: {set:"set22"}};
      co

[2016-12-17 15:03] davidkpiano commented on #130
Try `initialState={this.state.scene}`

[2016-12-18 19:29] nickwild-999 commented on #130
Thanks so much David that works. I am now wanting  to pass in state from a parent I have tried   initialState={this.props.scene} but nothing appears. Any ideas?

[2016-12-18 20:40] jonathanconway commented on #547
Sorry about the late reply. Thanks @davidkpiano, yes, that does solve it. Cheers!

[2016-12-18 20:46] davidkpiano commented on #130
Can you `console.log(this.props.scene)` - and see if it initially is `null` or something? If it's not initially null/undefined, it should work as expected.

[2016-12-18 21:11] nickwild-999 commented on #130
Many thanks for the hand holding. the console log returns nothing.

I have just started to experiment with using <input value={this.props.sheet_no} /> etc on each field, It is pre-populating the field but I am getting...

 propType: You provided a `value` prop to a form field without an `onChange` handler. This will render a read-only field. If the field should be mutable use `defaultValue`. Other

[2016-12-19 02:06] tberster opened #576 "LocalForm & Control errors"
Trying to figure out how to dynamically set an error class to a Control based on the input. All of this in a LocalForm.

The item in question is found at `setErrorClass`. How can I access the controls internal state to dynamically set an error class on an input item.

As an example:
[code]

[2016-12-19 13:46] davidkpiano commented on #576
See here, from the FAQs: http://davidkpiano.github.io/react-redux-form/docs/guides/faqs.html#how-do-you-add-conditional-class-names-based-on-field-state

In short, this would be something that you would use `mapProps` for:

[code]

[2016-12-19 13:46] #576 closed

[2016-12-19 16:25] tberster commented on #576
Thanks for your prompt reply. I'm now running into the challenge that I would like to dynamically set the class. If you focus the field, and then immediately blur it, it should have the internal state of `pristine: true` and `touched: true`. But it doesn't change the classes on the field, because mapProps gets only called once the component gets mounted. Am I doing something wrong here?

[2016-12-20 04:13] dave-clover opened #580 "componentWillUnmount issue"
Hello again,

Users have been reporting some issues when trying to submit their forms.  I'm basically on the other side of this issue: #346.  I was previously relying on `componentWillUnmount` to reset all the validators when the control unmounts (not just the validators explicitly added to the field).  In general, the change in #346 makes sense.  However, I'm hitting an issue.

I have some valida

[2016-12-20 05:17] davidkpiano commented on #580
Hmm, if I understand the problem correctly, the issue lies in taking the existing validity, and _setting_ the validity (with own validator keys removed) on unmount, even if that validity is "stale".

I'd like to approach this by instead doing something like this:

[code]

and then modify the reducer/action so that instead of setting it to the stale validity without `keys`, it _only resets_ the spe

[2016-12-20 05:59] dave-clover commented on #580
Sounds good.  I'll get started.

[2016-12-20 06:42] VladShcherbin commented on #540
hey @davidkpiano , maybe you could drop 1-2 small sentences about, I just wanted to understand the purpose.

I am planning to fully move to RRF for quite some time, but still need a few answers.

[2016-12-20 10:05] #572 closed

[2016-12-20 14:11] davidkpiano commented on #540
Sure, no problem. I'll do that today. For now, I'll answer your questions directly:

This is correct.

They should be - I'll fix this.

The `forms.$form` indicates the _entire form state_, so `focus` would represent if any field in the form is focused, same with `pending`, `touched`, etc.

[2016-12-20 16:56] mikkelwf commented on #575
No problem.. :)

I've really enjoying this library, it makes form composition a breeze..

Keep up the good work..! 😃

[2016-12-20 17:06] mikkelwf opened #583 "Redux-saga: Sanity check"
So i've been trying to get rrf to play nicely with redux-saga, and it's been a little tricky.

As far as i've understood, you should utilize the `actions.submit` action creator, and put a thunked action creator as the second param.
Then the thunked action creator should provide a promise to redux-saga, that it either resolves or rejects...

I'm just checking here. I've got it working locally, and

[2016-12-20 18:58] davidkpiano commented on #583
Hmm, interesting - although, is imperatively calling `action.meta.resolve(payload)` "allowed" in `redux-saga`? I thought that all side-effects should be captured with `yield call(...)`.

So the general idea to translate the `submit()` thunk to a saga, if I'm not mistaken, is something like this:

[code]

Would this general structure also apply to your use case? This is just a direct translation fr

[2016-12-20 19:51] #580 closed

[2016-12-20 19:56] mikkelwf commented on #583
You could call the resolve / reject with `yield call(...)`, but as to if its imperative of not i actually don't know. It doesn't really change much, other than the stops the function execution until the yielded call returns (and in the case here i don't see that it is paramount).

My purpose with this was to try to wrap the state changes of the form upon submission, so you could dispatch as normal

[2016-12-20 20:56] mikkelwf commented on #583
okay, after looking at your example again i decided to take another approach.

i made a dedicated saga just for submitting forms (or maybe i just misunderstood your example), anyway, not it works like this:
[code]

and the onSubmit:
[code]

I altered your example a bit. In my setup the setValidity upon success doesn't really apply, since my api only returns successful when is as performed the requ

[2016-12-21 18:03] #575 closed

[2016-12-21 20:47] #571 closed

[2016-12-21 20:48] davidkpiano commented on #548
Closing due to inactivity, hope I answered your question!

[2016-12-21 20:48] #548 closed

[2016-12-21 21:30] oyeanuj opened #586 "Auto-saving forms"
Hi @davidkpiano! As per our conversation on Discord, here is the feature request to be able to support auto-saving forms.

**Usecase:**
Creating an auto-saving form, where values are saved as the user enters them. This, in most cases, will imply that the changes are saved (and/or validated server-side)`onChange`, though probably debounced. In some cases, `onBlur` can work but it is not always the

[2016-12-21 21:38] dave-clover commented on #586
I had a similar use case and ended up using a Redux store listener to send the updated data to the server (debounced).  It sends the whole form, however.  I'm only adding this comment for those who stumble across this issue.  Good luck!

[2016-12-21 21:46] davidkpiano commented on #586
Yeah, it would be almost trivial to have something like this API:

[code]

(or `'blur'` or `'submit'` (default)), but of course it would submit the entire form.

The tricky part is the whole only-submit-changed-field(s) part. I think there was a previous issue: #409 that discussed this.

[2016-12-21 21:55] davidkpiano opened #587 "Feature: debouncing!"
This is a placeholder issue for adding debounce functionality for form controls.

Still figuring out the API for this. :thinking: If you have suggestions, feel free to list them here!

I want to make this as unopinionated and flexible as possible, including but not limited to:
- debounce time in milliseconds
- trailing or leading debounce (`--x----x` vs. `x--x---x`)
- throttling instead of debounc

[2016-12-23 04:47] DanielLuu opened #588 "Uncaught TypeError: Cannot read property 'checkWithValue' of undefined"
Uncaught TypeError: Cannot read property 'checkWithValue' of undefined when trying the custom components example

[2016-12-23 05:13] davidkpiano commented on #588
Can you point me to the example?

[2016-12-23 14:18] DanielLuu commented on #588
`import { createFieldClass, controls } from 'react-redux-form';
import TextField from 'material-ui/lib/text-field';

const MaterialField = createFieldClass({
  'TextField': controls.text
}, {
  componentMap: {
    TextField: TextField
  }
});

// render():
<MaterialField model="...">
  <TextField />
</MaterialField>`

[2016-12-23 17:53] davidkpiano commented on #588
Try to avoid using `createFieldClass` - it's essentially deprecated as of v1.0. See here for a guide on making custom components: http://davidkpiano.github.io/react-redux-form/docs/guides/custom-controls.html

The above example would instead be:

[code]

Much better, right? 😄

[2016-12-23 17:53] #588 closed

[2016-12-23 18:20] DanielLuu commented on #588
Ok awesome I was looking at the outdated docs.  Thanks for the updated link.

[2016-12-23 18:21] DanielLuu commented on #588
Quick question how would I go about doing the select?

[2016-12-23 19:13] davidkpiano commented on #588
Looks like it would just be:

[code]

Please let me know if this works! Haven't played around much with `material-ui`.

[2016-12-24 17:32] CoinGame opened #589 "change actions not firing with material-ui react components"
I'm trying to use the [material-ui](https://github.com/callemall/material-ui) react components with react-redux-form.

I have a material-ui toggle that i'm passing into a control for a checkbox.

[code]

this works file with vanilla rrf, but now i'm trying to get more into customized components.

[code]

The problem i'm having here is that change does not fire anymore on clicking the toggle elemen

[2016-12-27 00:16] oyeanuj commented on #586
@davidkpiano It seems like in #409, the complexity was needing to check what was changed or not in the whole form? The use-case in this issue whereas seems to be a much simplified version of that usecase since it seems logical only to check if that field is dirty (or not pristine).

That would not only make 'only-submit-changed-field' logic much simpler, but atleast to me, more intuitive (than sub

[2016-12-27 02:24] davidkpiano commented on #586
@oyeanuj That makes a lot of sense; I didn't even think of that!

Bikeshedding time:

[code]

Above is an initial (and probably terrible) idea for the API. What would an ideal submit-only-dirty API look like to you?

[2016-12-27 03:43] oyeanuj commented on #586
@davidkpiano That's interesting. I was thinking of a couple of different approaches.

1. Closer to your suggestion, but instead of user specifying a submitFilter, the library would only pass to the `onSubmit` the field that was active and is dirty. By definition, that would only be field at a time.
It might be cleaner for the library to do so rather than the user, lets say, if the `autoSave` prop

[2016-12-27 16:57] #567 closed

[2016-12-27 17:03] davidkpiano commented on #567
@toadle I fixed the issue - now the `<Form>` component will only check **sync** validity when determining whether it should submit or not. The existing spec is followed, so this is not a breaking change.

In retrospect, this makes sense; suppose you have a form that, when initially submitted, returns an error such as "You've submitted too fast. Please try again in 30 seconds." Ideally, you shouldn

[2016-12-27 21:38] DanielLuu commented on #588
No... not exactly working here's my code

[code]

[2016-12-27 21:48] davidkpiano commented on #588
I'd need to see a full code example - try putting one up on www.esnextb.in

[2016-12-28 09:46] toadle commented on #567
Hey there! Thanks for tackling this.
I wanted to try it, but couldn't find a way to install the latest version.

Tried `npm install davidkpiano/react-redux-form --save` but this would result in `node` complaining that it can not find the `react-redux-form` module.

Installing with `npm install react-redux-form@latest --save` will not give me the latest code currently, right?

[2016-12-28 10:02] toadle commented on #567
BTW: I tried your above suggestion by adding this:
[code]
where
[code]

But it still wouldn't resubmit the form.

Here is how Action flow looks like when first entering an already token user-email then changing it to one that should work. Then `setSubmitFailed` at the end looks strange to me. After that I will not submit anything - until you reload the page.

[code]

[2016-12-28 13:16] avonian opened #590 "Dynamic Error Classes for Controls"
Hi,

I didn't see this in any examples, but is there a simple way we can have custom error classes for controls, so we can manipulate their style when they have invalid data?

I assumed there wasn't, and went down the path of creating custom controls via component="{}"... tried a range of approaches in the manner that all seem to fail.

I got close in one way, which was to pass the actual validato

[2016-12-28 13:42] davidkpiano commented on #567
@toadle It's not released yet 😅 will be today, though.

[2016-12-28 13:44] davidkpiano commented on #590
Yep, there is! Check out the FAQs: http://davidkpiano.github.io/react-redux-form/docs/guides/faqs.html

[code]

[2016-12-28 13:44] #590 closed

[2016-12-28 13:54] avonian commented on #590
Thank you so much!

[2016-12-28 14:46] l1br3 opened #591 "createModelReducer is not a function"
Just taking exemple from [wiki](https://github.com/davidkpiano/react-redux-form/wiki) and get the error.

This part does not work

[code]

[2016-12-28 15:14] l1br3 commented on #591
Exactly same issue with `createFormReducer ` from [other page of wiki](https://github.com/davidkpiano/react-redux-form/wiki/API:-Reducers)

[2016-12-28 15:20] davidkpiano commented on #591
Sorry about that! Seems like you're reading outdated documentation from version 0.x. Please read the most up-to-date docs here: http://davidkpiano.github.io/react-redux-form/docs.html

[2016-12-28 15:20] #591 closed

[2016-12-28 15:31] FelixHenninger opened #592 "Update, change and submit handlers not firing on connected component"
Hi everybody, sorry to bother you during the holidays,

I've run into some behavior that I don't quite understand, in a pattern that worked for me in previous versions of RRF. In particular, I've found that `LocalForm` event handlers do not fire if a superordinate component is wrapped using `react-redux`es `connect` function.

To make this more clear, I've tried to reproduce a minimal example. The

[2016-12-28 20:25] davidkpiano commented on #592
Adding here for reference - apparently this works with React-Redux v4.x but not v5.

[2016-12-28 22:49] l1br3 opened #594 "Error should be shown at componentDidMount"
I don't know how to reproduce that but I basically have this code.

If I fill the email field with an already used email and then blur, the error message appears.
If I go to another page and then come back to my form, the error message is not here anymore, even if I focus/blur.

I must `focus => change the value => blur ` to get the message back.

The console.log is triggered so this is just a pro

[2016-12-29 08:51] augustincouette opened #595 "Bug when you import Fieldset from 'react-redux-form/immutable'"
Hello,
If you import `Fieldset` from `'react-redux-form/immutable'` you get an error at runtime :
Warning: React.createElement: type should not be null, undefined, boolean, or number.

With import from `'react-redux-form'` its works, but the doc is not clear on this point.
Thanks for your (great) work.

[2016-12-29 15:17] davidkpiano commented on #595
As a workaround, importing `Fieldset` from `react-redux-form` for use in your Immutable app should work fine.

[2016-12-29 15:30] augustincouette commented on #595
Yes its work fine.

[2016-12-29 16:04] #595 closed

[2016-12-29 16:13] davidkpiano commented on #589
Can you put up a reproduction on www.esnextb.in? You can use this code as a starting point:

[code]

[2016-12-29 22:37] l1br3 opened #596 "Error state should be reset at onChange"
Hi, I have a Control with an async validator, something very classic directly used from doc.

[code]

Normal behaviour is to check onBlur so I put my already used email address, blur and the error show. Everything fine.

Problem comes when I try to change my email input. I focus, then change the email address ... but the error does not disapear. Even worst, the message is updated with the new valu

[2016-12-29 22:56] davidkpiano commented on #596
I just published `1.5.1` - can you use that and see if the issue still exists?

[2016-12-29 23:59] l1br3 commented on #596
Just tried it right now and I still have the problem.

Thanks for your help. Easiest workaround right now is to trigger validation also on change but it is not what I would prefer for production :s

[2016-12-30 00:43] davidkpiano commented on #596
A stopgap for now (while I look into this issue) is to do something like this:

[code]

That will reset the validity _only_ for the specified keys.

[2016-12-30 02:39] l1br3 commented on #596
Works perfectly. Not very elegant but efficient, thanks for your solution.
If people has the same problem, there is my code without unecessary information.

Feel free to close the issue if you consider it as solved or left it open if you consider this need to be changed/fixed.

[code]

[2016-12-30 02:44] l1br3 commented on #594
I've tried something like in #596 but it does not works for asyncValidation.
Maybe there is another workaround ?

[2016-12-30 13:49] l1br3 opened #597 "Display errors on submit"
Hi, I've had a Google Recaptcha on my SignUp form and I'm trying to figure out how to display errors for that custom component as it won't trigger any change, blur nor focus event.

The only event I can check on is onSubmit. I clearly see that my form isn't posted until I check the recaptcha box and I see the validity of my check passing from false to true in redux devtools but I cannot find how t

[2016-12-31 01:37] tmcdonnell87 opened #598 "Radio buttons not checked with react-bootstrap + immutable"
Tried to reproduce with [ESNextbin](https://esnextb.in/?gist=b31277251f5c24df9b13b2cc95abc00c), but I get a ReactDOM error in the boilerplate sample.

I have a simple form that uses react-bootstrap components. When the radio buttons are clicked, the state updates as expected, but the buttons do not appear clicked in the UI. Any suggestions would be appreciated.

Happy to help try to reproduce in a

[2016-12-31 02:41] FelixHenninger opened #599 "Components indexing an array model lose sync"
If the model state is an array, and a grid of `Control` components each index one cell, such as in the following example ...

[code]

... the state is synced perfectly as long as there is no change in array dimensions. If the array is mutated (e.g. by adding an additional row), the mechanism breaks down.

A full minimal working example, as a project based on `create-react-app` is available at http

[2016-12-31 19:32] DanielLuu commented on #588
https://esnextb.in/?gist=ee823998a00333398edb3faaf77df951

[2016-12-31 20:29] davidkpiano commented on #588
I can't reproduce it due to this problem: https://github.com/callemall/material-ui/issues/5595

[2016-12-31 20:32] DanielLuu commented on #588
Yeah sorry the esnextb isn't working but basically is there a way to get/set the value the control handles?

[2016-12-31 21:06] DanielLuu commented on #588
Basically I want to make a custom onchange for control since Material UI handles that differently

[2016-12-31 21:25] davidkpiano commented on #599
Have you tried using the `getDispatch` prop to get the internal dispatch for the `<LocalForm>`'s store, in order to dispatch an `actions.change` with the new data?

[2016-12-31 21:29] davidkpiano commented on #588
Hm, mind opening up another issue for this? Also, try using plain `<Control>` instead of `<Control.select>`.

[2016-12-31 21:31] davidkpiano commented on #598
Sure, can you make a reproducible example in www.esnextb.in ?

[2016-12-31 22:19] DanielLuu commented on #588
Actually I got it to work by making a custom component wrapper that dispatches the actions on change and grabs the values from the state.

[2016-12-31 22:29] davidkpiano commented on #588
Oh, awesome! Mind sharing the code for that?

[2016-12-31 22:35] DanielLuu commented on #588
[code]

[2017-01-01 01:19] tmcdonnell87 commented on #598
Sorry, to clarify, I was not able to get ESNextbin working with readt-redux-form/immutable, even well enough to just render the form.

You can check out the following: https://esnextb.in/?gist=97d0c044a2f119de9993d1a6274a3639 (https://gist.github.com/tmcdonnell87/97d0c044a2f119de9993d1a6274a3639)

Adding the line `import { Control, Form } from 'react-redux-form/immutable';` causes ESNextbin to thr

[2017-01-01 14:31] FelixHenninger commented on #599
Thanks a lot for this suggestion! (and a very happy new year!) Indeed I hadn't tried that, but I've updated the [online example](https://github.com/FelixHenninger/rrf-bug-demo/tree/grid-demo) so that the internal dispatch can be tested easily and it still doesn't seem to work.

Poking around in the form internals a bit, I noticed that the connected Form component in React's component tree looks un

[2017-01-01 14:56] FelixHenninger commented on #599
Ah! I figured it out: By prepending 'local' to every model id, the changes get propagated correctly. So if I use the following action/dispatch combination

[code]

Instead of just targeting `.title`, everything works perfectly. This is fantastic, thanks for pointing me in the correct direction! I'm unsure whether this is intended behavior, though?

[2017-01-01 20:30] davidkpiano commented on #599
That is the intended behavior - I'll make the docs clearer on this!

[2017-01-01 23:18] l1br3 commented on #597
Hi and thanks for your answer.
Unfotunately I cannot make it work this way too.

[2017-01-02 00:58] FelixHenninger commented on #599
Awesome, thank you again for your excellent work on the library! I'd offer to help with the docs, but I'm not sure I know the code well enough. Hope that day will come, though!

(closing the issue for now, please feel free to reopen if, for example, you'd like to track the doc changes)

[2017-01-02 00:58] #599 closed

[2017-01-02 14:31] davidkpiano commented on #597
Can you please put a fully reproducible code example on www.esnextb.in ?

[2017-01-02 14:52] davidkpiano commented on #589
Mystery solved - Material-UI's `<Toggle>` component uses `onToggle`, not `onChange` (for whatever reason... :roll_eyes:), so to make `changeAction` work, you need to map `onToggle` to `onChange` like this:

[code]

[2017-01-02 14:52] #589 closed

[2017-01-02 14:58] davidkpiano commented on #598
@tmcdonnell87 I was not able to reproduce this. The following fully reproducible code works as expected and the buttons successfully appear as clicked in the UI:

[code]

Please review the above code and let me know if there are any large discrepancies between the above and your code.

[2017-01-02 14:58] #598 closed

[2017-01-02 16:51] CoinGame commented on #589
Oh man I really appreciate you digging deeper on that. It was a low priority styling thing for me so I didn't have a chance to jump on the reproduction request. When I get back around to styling I'll give this a shot. Either way thanks - you the best.

[2017-01-02 17:56] tmcdonnell87 commented on #598
That works for you in ESNextbin? I copied and pasted that directly and it's still erroring

![image](https://cloud.githubusercontent.com/assets/4717014/21593938/b8ac527c-d0d1-11e6-8937-621fe35ebc13.png)

[2017-01-02 18:46] davidkpiano commented on #598
I tried it directly on a local project. I'm not sure why it's going to `react-redux-form/src/immutable.js` - it should instead be hitting `react-redux-form/immutable.js` directly.

[2017-01-02 22:12] l1br3 commented on #597
I don't know what I changed but now its working.
[This gist I made](https://esnextb.in/?gist=a80d6d2ffab563c5460ea85d61b78c22) won't work correctly as I cannot make recaptcha work on ESnextbin but you can see that the message is displayed.
It's also works on my website.

Thanks for your help and sorry for this issue that should have been on SO instead of here :s

[2017-01-02 22:12] #597 closed

[2017-01-02 22:57] tmcdonnell87 opened #600 "Support testing react-redux-form/immutable without transpile with NODE_ENV=test"
Running a test suite using react-redux-form/immutable fails unless you explicitly transpile this module. This is because the import is referencing the raw source when NODE_ENV is `test`.

[code]
https://github.com/davidkpiano/react-redux-form/blob/master/immutable.js

This breaks numerous testing setups, such as the excellent https://github.com/mxstbr/react-boilerplate.

Side note: updating this m

[2017-01-03 02:48] davidkpiano commented on #600
So you're saying it should just be:

[code]

Is that correct?

[2017-01-03 05:22] tmcdonnell87 commented on #600
Seemed like a hack, but it worked. Can't say it's the _best_ approach. Also not clear if it would fix the ESNextbin issue.

[2017-01-03 12:33] davidkpiano commented on #600
I wouldn't say it's a hack - it's exactly what's expected. I'll go ahead and push that as a patch and see if it fixes the ESNextBin issue.

[2017-01-03 12:34] #600 closed

[2017-01-04 02:11] karolbarkowski opened #601 "Usage with custom text component"
Hi,

I'm having quite hard time trying to connect my text component with RRF.
Let's say I have this extremely simple custom component:

[code]

So I'm only tryign to attach some custom event handler to onChange and do something inside of it.
Then, I'm importing it in other component as usually:

[code]

and then trying to use it like that:

[code]

value is passed correctly, className as well, my

[2017-01-04 03:56] davidkpiano commented on #601
RRF needs some way of knowing _when_ a value changed, and _what_ the value changed to, at the very minimum. With your current custom component, there is no way of doing that, because your custom input's `onChange` prop is locked to your own function, so it isn't open to receiving any props.

Changing it to allow for this is trivial:

[code]

[2017-01-04 03:56] #601 closed

[2017-01-04 07:34] karolbarkowski commented on #601
Aaah, the missing piece. Thank you for such quick answer. It's all working as expected now.

[2017-01-08 17:14] davidkpiano commented on #596
I'll keep this open as I'd like to add an `actions.resetAsyncValidity` action.

[2017-01-09 00:23] aaronmagi opened #605 "Is there a easier way to show all field validation within the form Errors tag"
I wanted to know if its possible to list field level errors within the form's Errors tag?

I am looking at displaying the errors at the top of the form and within the field.  The reason for this is that some fields are hidden in tabs within the form.  I have found that this can be done by creating <Errors> tags with the model set to the field but is there a way to set the model to the base object

[2017-01-09 04:54] robinspark opened #606 "Can't reset form second time."
[code]

`reset-action-reducer.js:36 Uncaught TypeError: Cannot read property '$form' of null`

[2017-01-09 04:56] robinspark commented on #606
Why would this error be thrown when resetting an existing form? Shouldn't the reset function check to see if myField exists before checking myField.$form   ?

[2017-01-09 05:32] robinspark commented on #606
I tried debugging reset-action-reducer.js
[code]

For the first reset() which succeeds, the last 4 field values are as follows:
[code]
For the second reset() which fails, the last 4 field values are as follows:
[code]

[2017-01-09 05:43] robinspark commented on #606
BTW, the model: "crew.1.jobs.0" is invalid. Not sure why it gets set to that.

[2017-01-09 06:00] robinspark commented on #606
I fixed the issue by calling the following just before reset():

`actions.change(`reactReduxForm.myForm.crew`, []);`

[2017-01-09 14:20] davidkpiano commented on #606
Does `myForm.crew` exist upon initialization? Resetting resets the model and form to their initial state, so if they didn't exist at the beginning, they won't exist when reset.

[2017-01-09 14:35] davidkpiano commented on #605
Currently, no, and this is because `messages` has the strict shape of:

[code]

Not currently, as well, though it might be a good enhancement to have the `messages={(errors) => ...}` prop accept a function that takes in the `errors` and returns an array of messages. What do you think about that?

For the first one, I'd have to think of a good solution. Might have to be a separate component, like `

[2017-01-09 22:12] aaronmagi commented on #605
Hi @davidkpiano

The more I ended up using the multiple errors tags, one for each field they actually seemed to work ok I just thought it would be nice to be able to setup a grouping of field errors in a single tag.

I think after working with the multiple error tags its not such a big deal.

Thanks or the quick reply

[2017-01-09 22:12] #605 closed

[2017-01-09 23:52] robinspark commented on #606
Yes, myForm.crew exists upon initialization. It contains the exact same value just before I call:
actions.reset('reactReduxForm.myForm');

Works the first time. But, not everytime. Sometimes it doesn't fail on the 1st or second call, but after the nth call.

Debugging: last 3 rrf actions before the error, and value of crew:

[code]

[2017-01-10 00:44] davidkpiano commented on #606
Would it be possible for you to share a link to the repo, or stick it on www.esnextb.in ? This is probably some sort of edge case.

[2017-01-10 00:44] davidkpiano commented on #605
Awesome! Glad they weren't too painful!

[2017-01-11 16:10] brianleonard15 opened #607 "Accessing array model from reducer on array value change"
Hi,

I have a form that contains a dynamic number of sub-forms and when a value changes in one of the sub-forms, e.g. from `user.cars[1].type.blackBentley` to `user.items[1].type.greenBentley`, I would like to update `user.cars[1].color.black` to `user.cars[1].color.green`.

I know this can be done through the changeAction prop on the Control component by dispatching action.change for that particu

[2017-01-11 17:31] marcpeterson opened #608 "v0.14.6 and collections"
Do you still answer questions about v0.14.6?  We're stuck on it for a while due to some legacy code.

If so, I've set up my reducers like so:
[code]
Add added them to the main reducer so they appear in the state tree as parent.child and parent.childForm respectively.

I've been adding collection items to the model with something like
`actions.push('parent.child.collection', { first:'tim', last:'pe

[2017-01-11 17:42] davidkpiano commented on #607
Sure, anything is possible through a custom reducer. http://davidkpiano.github.io/react-redux-form/docs/guides/models.html#using-existing-reducers

In your use case, you would have to use `lodash.toPath` to separate out the parts of the path from `user.cars[1].type` to `['user', 'cars', '1', 'type']`, and then `path.slice(0, -1)` to get the path without the last subpath. Then, with `['user', 'cars

[2017-01-11 17:44] davidkpiano commented on #608
It might be a bug that has long been fixed in the latest version of React Redux Form.

Is there anything I can help answer in terms of upgrading? v0.x to v1.x is not a huge migration, and there would be relatively few things you'd need to change to get it working.

[2017-01-11 17:50] brianleonard15 commented on #608
Just FYI, actions.push() is not in the table of contents in the documentation for those that have trouble finding it.

[2017-01-11 17:57] brianleonard15 commented on #607
Ah I see. I thought there might be some obvious way without using string slicing operations in the reducer, since I'm new to react-redux-form, but the reasoning for having the logic in the reducer vs. the changeAction prop on the Control component was to make the code a little more robust. However, I think using those string operations is even more fragile than just handling the logic with the cha

[2017-01-11 18:15] marcpeterson commented on #608
Our teams share a common input component library, and we built a special layer that helps those input components work with v0.x.  So it's a matter of getting our custom components to work with the new version, then changing how we reference the newer state tree, and our custom validation layer would change too...  It's a bit more than we can do at the moment.

But I'd like to share things I've had